Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

fix: detect musl libc when downloading python-build-standalone
  cibuildwheel/util/python_build_standalone.py
  unit_test/python_build_standalone_test.py
Due: none

test: add type annotations to satisfy mypy and ruff
  unit_test/python_build_standalone_test.py
Due: none

fix: minor 4.0 issues in android validation, docs, and docstring
  cibuildwheel/platforms/android.py
  cibuildwheel/venv.py
  docs/faq.md
  docs/options.md
Due: disallow-caps, cog

fix: pass platform args to linux32 deadlock sanity check (#2888)
  cibuildwheel/oci_container.py
Due: none

fix: config settings expansion issue (#2886)
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  unit_test/options_test.py
Due: none

fix: use int() with original error for ANDROID_API_LEVEL validation
  cibuildwheel/platforms/android.py
Due: none

refactor: address reivew by moving error catch
  cibuildwheel/platforms/android.py
Due: none

fix: remove potential partial extraction in case of error
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/file.py
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/venv.py
  unit_test/utils_test.py
Due: none

fix: detect musl libc when downloading python-build-standalone (#2889)
  cibuildwheel/util/python_build_standalone.py
  unit_test/python_build_standalone_test.py
Due: none

fix: minor 4.0 issues in Android validation, docs, and docstring (#2891)
  cibuildwheel/platforms/android.py
  cibuildwheel/venv.py
  docs/faq.md
  docs/options.md
Due: disallow-caps, cog

Drop use of `Unbuffered` wrapper class
  cibuildwheel/__main__.py
Due: none

restore pip workaround for graalpy
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
Due: none

fix: ensure container removal on teardown even if bash hangs or dies (#2887)
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

ci: don't limit num processes
  azure-pipelines.yml
Due: none

ci: stabilize iOS tests, bound rerun cost
  test/test_ios.py
Due: none

ci: improve Azure test reliability
  azure-pipelines.yml
  bin/run_tests.py
Due: none

Drop iOS clean step
  test/test_ios.py
Due: none

ci: rerun OCI unit tests that pull from Docker Hub
  unit_test/oci_container_test.py
Due: none

ci: scope integration reruns to test_0_basic::test
  bin/run_tests.py
  test/test_0_basic.py
Due: none

Use `line_buffering=True`
  cibuildwheel/__main__.py
Due: none

ci: improve Azure test reliability (#2890)
  azure-pipelines.yml
  test/test_0_basic.py
  test/test_ios.py
  unit_test/oci_container_test.py
Due: none

fix: remove potential partial cache-population in case of error (#2892)
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/file.py
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/venv.py
  unit_test/utils_test.py
Due: none

Bump version: v4.0.0rc2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  pyproject.toml
Due: disallow-caps, cog

feat: remove GraalPy 3.11 (gp311) support
  README.md
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  test/test_dependency_versions.py
  test/test_pep518.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

Add documentation for building CUDA wheels
  docs/faq.md
Due: disallow-caps

Move to Tips section
  docs/faq.md
Due: disallow-caps

chore: simplify pinned image lookup
  cibuildwheel/options.py
Due: none

chore: use ConfigurationError when package_dir is outside cwd
  cibuildwheel/platforms/linux.py
  unit_test/linux_build_test.py
Due: none

docs: add instructions for building CUDA wheels (#2896)
  docs/faq.md
Due: disallow-caps

chore: simplify pinned image lookup (#2897)
  cibuildwheel/options.py
Due: none

test: merge linux package_dir test into linux_build_steps_test
  unit_test/linux_build_steps_test.py
  unit_test/linux_build_test.py
Due: none

docs: fix CUDA manylinux container references in FAQ
  docs/faq.md
Due: disallow-caps

docs: fix CUDA manylinux container references in FAQ (#2900)
  docs/faq.md
Due: disallow-caps

refactor: add shared host build driver (unused)
  cibuildwheel/platforms/_run.py
Due: none

refactor(android): build via shared host driver
  cibuildwheel/platforms/android.py
Due: none

docs: move cache to runner.temp, add cache poisoning warning (review feedback)
  docs/faq.md
Due: disallow-caps

refactor(macos): build via shared host driver
  cibuildwheel/platforms/_run.py
  cibuildwheel/platforms/macos.py
Due: none

refactor(windows): build via shared host driver
  cibuildwheel/platforms/windows.py
Due: none

refactor(pyodide): build via shared host driver
  cibuildwheel/platforms/pyodide.py
Due: none

refactor(ios): build via shared host driver
  cibuildwheel/platforms/ios.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
