Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Update dependencies
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/resources/virtualenv.toml
Due: none

fix: image deprecation warning (#2314)
  cibuildwheel/options.py
  unit_test/options_test.py
Due: none

Bump version: v2.23.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

Placate linter regarding positional args.
  cibuildwheel/ios.py
Due: none

Rework test to provide more robust confirmation of safe tools.
  test/test_ios.py
Due: none

chore: use Path.iterdir
  test/test_environment.py
  test/test_from_sdist.py
  test/test_testing.py
  test/utils.py
Due: none

feat: use build by default
  cibuildwheel/ios.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  docs/options.md
Due: disallow-caps

Remove a test skip condition that is no longer needed.
  test/test_ios.py
Due: none

Add docs to clarify that xbuild-tools is transitive.
  docs/options.md
  docs/platforms/ios.md
Due: disallow-caps

Rename the setting to xbuild-tools.
  README.md
  cibuildwheel/ios.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  docs/options.md
  test/test_ios.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
Due: disallow-caps

fix: test/test_before_build.py:test
  test/test_before_build.py
Due: none

fix: Path.iterdir usage
  test/test_from_sdist.py
  test/utils.py
Due: none

chore: use multi-arch manylinux images as a source for image tag
  bin/update_docker.py
Due: none

drop EOL manylinux images
  bin/update_docker.py
  cibuildwheel/options.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/cpp_standards.md
  docs/faq.md
  docs/options.md
  test/test_container_images.py
  test/test_linux_python.py
  test/test_manylinuxXXXX_only.py
  test/test_musllinux_X_Y_only.py
  test/test_testing.py
  unit_test/main_tests/main_options_test.py
  unit_test/oci_container_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
Due: disallow-caps

refactor: use listify in tests
  test/utils.py
Due: none

examples/github-deploy.yml: add `print-hash: true` to log hashes to log
  examples/github-deploy.yml
Due: none

doc: add a note about rustc's minimum MACOSX_DEPLOYMENT_TARGET requirement
  docs/platforms/macos.md
Due: disallow-caps

Update docs/platforms/macos.md
  docs/platforms/macos.md
Due: disallow-caps

feat: use build by default (#2321)
  cibuildwheel/ios.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  docs/options.md
  test/test_before_build.py
Due: disallow-caps

feat: option to build directly with uv
  bin/generate_schema.py
  cibuildwheel/frontend.py
  cibuildwheel/ios.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  unit_test/options_test.py
Due: none

Update faq.md
  docs/faq.md
Due: disallow-caps

Convert to a proper toml-able option, and remove some hardcoded versions
  cibuildwheel/options.py
  cibuildwheel/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/defaults.toml
  cibuildwheel/util/helpers.py
  unit_test/utils_test.py
Due: none

Add a schema entry
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

Apply review suggestion
  cibuildwheel/options.py
Due: none

fix: always resolve the --python argument
  cibuildwheel/venv.py
Due: none

Doc: add a note about Rustc's minimum MACOSX_DEPLOYMENT_TARGET requirement (#2326)
  docs/faq.md
  docs/platforms/macos.md
Due: disallow-caps

fix: always resolve --python argument (#2328)
  cibuildwheel/venv.py
Due: none

Don't seed setuptools/wheel in tests virtual environments.
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/venv.py
  cibuildwheel/windows.py
Due: none

fix: don't seed setuptools/wheel in tests virtual environments. (#2329)
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/venv.py
  cibuildwheel/windows.py
Due: none

feat: drop EOL manylinux images (#2316)
  bin/update_docker.py
  cibuildwheel/options.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/cpp_standards.md
  docs/faq.md
  docs/options.md
  test/test_container_images.py
  test/test_linux_python.py
  test/test_manylinuxXXXX_only.py
  test/test_musllinux_X_Y_only.py
  test/test_testing.py
  unit_test/main_tests/main_options_test.py
  unit_test/oci_container_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
Due: disallow-caps

feat: move default manylinux build to manylinux_2_28
  cibuildwheel/options.py
  cibuildwheel/resources/defaults.toml
  docs/options.md
  test/test_container_images.py
  test/utils.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_toml_test.py
Due: disallow-caps

fix: always resolve --python argument (#2328)
  cibuildwheel/util.py
Due: none

fix: always resolve --python argument (#2328) (#2331)
  cibuildwheel/util.py
Due: none

fix: stop producing `cibuildwheel/resources/constraints-python37.txt`
  cibuildwheel/resources/constraints-python37.txt
  noxfile.py
Due: none

feat: stricter selector parsing, refactor to `platforms` module
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/platforms/__init__.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/selector.py
  test/test_0_basic.py
  test/utils.py
  unit_test/get_platform_test.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/conftest.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: none

optimise unit tests - a specific platform module API for all configs
  cibuildwheel/__main__.py
  cibuildwheel/platforms/__init__.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
Due: none

Remove unnecessary get_platform_module function
  cibuildwheel/__main__.py
  cibuildwheel/platforms/__init__.py
  cibuildwheel/platforms/ios.py
  unit_test/options_test.py
Due: none

feat: stricter selector parsing, refactor to `platforms` module (#2291)
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/platforms/__init__.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/selector.py
  test/test_0_basic.py
  test/utils.py
  unit_test/get_platform_test.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/conftest.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: none

feat: move default manylinux build to manylinux_2_28 (#2330)
  cibuildwheel/options.py
  cibuildwheel/resources/defaults.toml
  docs/options.md
  test/test_container_images.py
  test/utils.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_toml_test.py
Due: disallow-caps

[2.x] Update dependencies
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/nodejs.toml
  cibuildwheel/resources/pinned_docker_images.cfg
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
