Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

Docs
  docs/options.md
Due: disallow-caps, cog

Suggest how to disable Windows wheel repair
  docs/options.md
Due: disallow-caps, cog

Add tests
  test/test_windows.py
  unit_test/main_tests/main_options_test.py
Due: none

Run `delvewheel` with verbose mode as default
  cibuildwheel/resources/defaults.toml
  docs/options.md
  unit_test/main_tests/main_options_test.py
Due: disallow-caps, cog

Add note about telling delvewheel where to look
  docs/options.md
Due: disallow-caps, cog

Show Windows Python build details
  cibuildwheel/platforms/windows.py
Due: none

Partially revert 81374bb8fc43acefed76cb13d761a9e6cf6afa58
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Add `pip` and `uv` cases for build installations
  cibuildwheel/platforms/windows.py
Due: none

Ignore `python-native.dll` for GraalPy
  cibuildwheel/platforms/windows.py
Due: none

Log detailed Python version on all platforms
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
Due: none

Ignore MSVC DLLs, try Windows amd64 graalpy happy
  cibuildwheel/platforms/windows.py
Due: none

use pypa/auditwheel@main
  cibuildwheel/platforms/android.py
Due: none

Fix last remaining Windows test failure (famous last words?)
  test/test_windows.py
Due: none

Document platform-specific before-build config
  docs/options.md
Due: disallow-caps, cog

Document macOS arch-specific build env
  docs/platforms.md
Due: disallow-caps

Set CMake macOS architectures
  cibuildwheel/platforms/macos.py
  docs/platforms.md
  unit_test/macos_environment_test.py
Due: disallow-caps

Update docs/options.md
  docs/options.md
Due: disallow-caps, cog

Align before-build examples across config formats
  docs/options.md
Due: disallow-caps, cog

Document platform-specific before-build config (#2834)
  docs/options.md
Due: disallow-caps, cog

Use `UV_PYTHON` instead of `UV_SYSTEM_PYTHON`
  cibuildwheel/platforms/linux.py
Due: none

fix: set `UV_PYTHON` for `before_build` on Linux when using `uv` (#2830)
  cibuildwheel/platforms/linux.py
Due: none

docs: add Windows NuGet cache guidance
  docs/platforms.md
Due: disallow-caps

[Bot] Update dependencies (#2837)
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/nodejs.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/working-examples.md
Due: none

Update constraints
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Drop workaround unneeded with delvewheel v1.12.1
  cibuildwheel/platforms/windows.py
Due: none

Add `--exclude-newer` for constraints updates
  noxfile.py
Due: none

Add a cooldown for `virtualenv` updates
  bin/update_virtualenv.py
Due: none

Add a cooldown for Node.js
  bin/update_nodejs.py
Due: none

Add a cooldown for PBS
  bin/update_python_build_standalone.py
Due: none

Add cooldown for GraalPy
  bin/update_pythons.py
Due: none

Add cooldown for PyPy
  bin/update_pythons.py
Due: none

Add cooldown for CPython
  bin/update_pythons.py
Due: none

Add cooldown for CPythonIOS
  bin/update_pythons.py
Due: none

Add cooldown for NuGet
  bin/update_pythons.py
Due: none

Add cooldown for Maven
  bin/update_pythons.py
Due: none

NuGet: add some explainer comments + reduce requests
  bin/update_pythons.py
Due: none

Add `CIBW_IGNORE_COOLDOWN`
  .github/workflows/update-dependencies.yml
  bin/update_nodejs.py
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  noxfile.py
Due: none

Refactor cooldown constants into a separate file
  .github/dependabot.yml
  .pre-commit-config.yaml
  bin/_cooldown.py
  bin/update_nodejs.py
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  noxfile.py
  pyproject.toml
Due: none

Move `_cooldown` under `cibuildwheel.util` (eas
  .pre-commit-config.yaml
  bin/update_nodejs.py
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/util/_cooldown.py
  noxfile.py
  pyproject.toml
Due: none

Handle cases with undefined ignore-cooldown input
  .github/workflows/update-dependencies.yml
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
