Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Skip Cirrus CI iOS testing
  test/test_ios.py
Due: none

Remove support tick in readme
  README.md
Due: disallow-caps

docs: flip TOML and envvars order (#2389)
  docs/extra.css
  docs/options.md
  docs/setup.md
Due: disallow-caps

Drop CIBW_ENABLE=all on Travis Linux
  .travis.yml
Due: none

fix: rename `gp242` identifier to `gp311_242`
  README.md
  bin/update_pythons.py
  cibuildwheel/logger.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/selector.py
  cibuildwheel/util/packaging.py
  test/test_abi_variants.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

docs: update options identifier
  docs/options.md
Due: disallow-caps

fix: rename `gp242` identifier to `gp311_242` (#2411)
  README.md
  bin/update_pythons.py
  cibuildwheel/logger.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/selector.py
  cibuildwheel/util/packaging.py
  docs/options.md
  test/test_abi_variants.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Ensure that deep paths exist before copying files.
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

fix: ensure that deep paths exist before copying files. (#2418)
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

[travis-ci] debugging ci failures on travis (#2387)
  .travis.yml
  cibuildwheel/platforms/windows.py
  test/test_before_all.py
Due: none

feat: add test-in-source
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  cibuildwheel/util/resources.py
  docs/options.md
  unit_test/options_toml_test.py
Due: disallow-caps

Revert to running tests from from a temp dir when test-sources is unset
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/testing_temp_dir_file.py
  cibuildwheel/util/resources.py
  docs/options.md
  test/test_ios.py
  test/test_testing.py
Due: disallow-caps

fix: pyodide missing wheel placeholder
  cibuildwheel/platforms/pyodide.py
Due: none

Fix placeholders error message, add test for it
  cibuildwheel/platforms/ios.py
  test/test_ios.py
Due: none

Add back {project} placeholders to CIBW_TEST_COMMAND in tests & docs
  docs/configuration.md
  docs/options.md
  test/test_abi_variants.py
  test/test_before_test.py
  test/test_emulation.py
  test/test_macos_archs.py
  test/test_pyodide.py
  test/test_testing.py
Due: disallow-caps

chore: fix update script to handle pymanager addition to page
  bin/update_pythons.py
Due: none

Update test/test_before_test.py
  test/test_before_test.py
Due: none

chore: fix update script to handle pymanager addition to page (#2424)
  bin/update_pythons.py
Due: none

fix: pyodide missing wheel placeholder (#2421)
  cibuildwheel/platforms/pyodide.py
Due: none

fix: expose windows file to type checker
  unit_test/get_platform_test.py
Due: none

chore: use kw_only (Python 3.10+) on many dataclasses
  bin/update_docker.py
  bin/update_nodejs.py
  bin/update_virtualenv.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/environment.py
  cibuildwheel/frontend.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/selector.py
  cibuildwheel/util/packaging.py
Due: none

docs: fix many/musllinux option names and values and other broken links
  docs/configuration.md
  docs/deliver-to-pypi.md
  docs/faq.md
  docs/options.md
  docs/platforms.md
Due: disallow-caps

chore: use kw_only (Python 3.10+) on most dataclasses (#2422)
  bin/update_docker.py
  bin/update_nodejs.py
  bin/update_virtualenv.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/environment.py
  cibuildwheel/frontend.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/selector.py
  cibuildwheel/util/packaging.py
  unit_test/get_platform_test.py
Due: none

Debugging cirrus windows failure
  cibuildwheel/platforms/windows.py
Due: none

docs: fix many/musllinux option names and values and other broken links (#2425)
  docs/configuration.md
  docs/deliver-to-pypi.md
  docs/faq.md
  docs/options.md
  docs/platforms.md
Due: disallow-caps

Revert to running tests from from a temp dir when test-sources is unset (#2420)
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/testing_temp_dir_file.py
  cibuildwheel/util/resources.py
  docs/configuration.md
  docs/options.md
  test/test_abi_variants.py
  test/test_before_test.py
  test/test_emulation.py
  test/test_ios.py
  test/test_macos_archs.py
  test/test_pyodide.py
  test/test_testing.py
Due: disallow-caps

Use a separate file to avoid error messages from vsdevcmd getting into the output
  cibuildwheel/platforms/windows.py
Due: none

cirrus: TEMP target just the test i care about
  .cirrus.yml
Due: none

Revert "cirrus: TEMP target just the test i care about"
  .cirrus.yml
Due: none

Remove debug code
  cibuildwheel/platforms/windows.py
Due: none

Update options table in README and keep up-to-date with commit hook
  .pre-commit-config.yaml
  README.md
  bin/update_readme_options_table.py
Due: disallow-caps

Separate multiple options with a newline
  README.md
  bin/update_readme_options_table.py
Due: disallow-caps

remove the old javascript version
  docs/options.md
Due: disallow-caps

Test cleanups
  test/test_android.py
Due: none

Add test of all available Python versions
  test/test_android.py
  test/utils.py
Due: none

Fix windows issues with multiline -c Python commands
  cibuildwheel/platforms/windows.py
Due: none

Bump version: v3.0.0b3
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

tests: ignore tag order
  test/test_0_basic.py
  test/utils.py
Due: none

docs: update options table in README and keep up-to-date with commit hook (#2427)
  .pre-commit-config.yaml
  README.md
  bin/update_readme_options_table.py
  docs/options.md
Due: disallow-caps

chore: use cog for quick README updates
  .pre-commit-config.yaml
  README.md
  bin/update_readme_changelog.py
  bin/update_readme_options_table.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
