Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

fix: faster CLI on Python 3.15 (#2797)
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/audit.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/ci.py
  cibuildwheel/environment.py
  cibuildwheel/errors.py
  cibuildwheel/extra.py
  cibuildwheel/frontend.py
  cibuildwheel/logger.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/projectfiles.py
  cibuildwheel/schema.py
  cibuildwheel/selector.py
  cibuildwheel/util/cmd.py
  cibuildwheel/util/file.py
  cibuildwheel/util/helpers.py
  cibuildwheel/util/packaging.py
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/util/resources.py
  cibuildwheel/venv.py
Due: none

Add FAQ section on caching cibuildwheel's downloaded tools (#2842)
  docs/faq.md
Due: disallow-caps

Clarify shell used for command options (#2904)
  docs/options.md
Due: disallow-caps, cog

revert: restore assertion to check python_base_dir existence
  cibuildwheel/util/python_build_standalone.py
Due: none

chore: minor cleanups and perf tweaks from code review (#2910)
  cibuildwheel/logger.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/file.py
  cibuildwheel/util/python_build_standalone.py
Due: none

Remove Travis pre-commit check
  .pre-commit-config.yaml
Due: none

Bump version: v4.1.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  pyproject.toml
Due: disallow-caps, cog

Fix quoting of `test_requires`
  cibuildwheel/options.py
Due: none

`audit-requires` also needs fixing
  cibuildwheel/options.py
Due: none

Add a test
  unit_test/options_test.py
Due: none

Fix Android test
  test/test_android.py
Due: none

Add something to the docs too
  docs/options.md
Due: disallow-caps, cog

Undo everything
  cibuildwheel/frontend.py
  cibuildwheel/platforms/pyodide.py
  unit_test/main_tests/main_options_test.py
Due: none

Fix quoting of `test-requires` and `audit-requires` options for PEP 508 specifiers (#2913)
  cibuildwheel/options.py
  docs/options.md
  test/test_android.py
  unit_test/options_test.py
Due: disallow-caps, cog

Add `pyodide-build` to `BuildFrontendName`
  cibuildwheel/frontend.py
Due: none

Add pyodide-build branch for verbosity
  cibuildwheel/frontend.py
Due: none

Make pyodide-build default frontend on Pyodide
  cibuildwheel/resources/defaults.toml
Due: none

New branches for pyodide-build frontend validation
  cibuildwheel/options.py
Due: none

`pip` frontend on Pyodide is dead code now
  cibuildwheel/platforms/pyodide.py
Due: none

More cases to match pyodide-build: macOS
  cibuildwheel/platforms/macos.py
Due: none

More cases to match pyodide-build: Linux
  cibuildwheel/platforms/linux.py
Due: none

More cases to match pyodide-build: Windows
  cibuildwheel/platforms/windows.py
Due: none

More cases to match pyodide-build: iOS
  cibuildwheel/platforms/ios.py
Due: none

Add pyodide-build handling to schema generation script
  bin/generate_schema.py
Due: none

Generate schema with pyodide-build build frontend
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

Add docs about Pyodide's build frontend support
  docs/options.md
  docs/platforms.md
Due: disallow-caps, cog

Update verbosity table to include pyodide-build
  docs/options.md
Due: disallow-caps, cog

Add pyodide-build entries to verbosity test
  unit_test/options_test.py
Due: none

Add test for pyodide-build as Pyodide default
  unit_test/options_test.py
Due: none

Add test for pyodide-build argument passing
  unit_test/options_test.py
Due: none

Add test for build frontend platform mismatches
  unit_test/options_test.py
Due: none

Fix test
  unit_test/options_test.py
Due: none

More pip/uv/build[uv] conditions to be removed
  test/conftest.py
Due: none

Update parametrisations for pyodide-build in frontend args test
  test/test_build_frontend_args.py
Due: none

Use pyodide-build frontend name to get Pyodide build
  test/test_build_frontend_args.py
Due: none

Update project builder test condition
  test/test_before_build.py
Due: none

Apply suggestion from @agriyakhetarpal
  docs/options.md
Due: disallow-caps, cog

feat: use digests instead of tags for pinned images
  bin/update_docker.py
  cibuildwheel/options.py
  cibuildwheel/resources/pinned_docker_images.cfg
  test/conftest.py
  test/test_container_engine.py
  unit_test/main_tests/main_options_test.py
Due: none

docs: clarify package-dir action input
  action.yml
Due: none

chore: drop orjson
  .pre-commit-config.yaml
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
