Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

chore: use ConfigurationError when package_dir is outside cwd (#2898)
  cibuildwheel/platforms/linux.py
  unit_test/linux_build_steps_test.py
Due: none

Clarify shell used for command options
  docs/options.md
Due: disallow-caps, cog

Clarify environment precedence
  docs/configuration.md
  docs/options.md
Due: disallow-caps, cog

feat: remove GraalPy 3.11 (gp311) support (#2895)
  README.md
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  test/test_dependency_versions.py
  test/test_pep518.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

Bump version: v4.0.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  pyproject.toml
Due: disallow-caps, cog

docs: fix changelog formatting
  docs/changelog.md
Due: disallow-caps, cog

docs: rerun prek after changelog fix
  README.md
Due: disallow-caps, cog

Drop use of `Unbuffered` wrapper class (#2894)
  cibuildwheel/__main__.py
Due: none

Update to Pyodide 314.0.0
  cibuildwheel/resources/build-platforms.toml
Due: none

Update selector
  cibuildwheel/selector.py
Due: none

Update tests
  test/test_abi_variants.py
  test/test_dependency_versions.py
  test/test_pyodide.py
  test/utils.py
  unit_test/build_selector_test.py
Due: none

Use v2 xbuildenvs endpoint
  cibuildwheel/extra.py
Due: none

Update pyodide-build in constraints
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
Due: none

Add comment about `test_build_filter_pyodide_prerelease`
  unit_test/build_selector_test.py
Due: none

Support new graalpy asset names that include Python version
  bin/update_pythons.py
Due: none

feat: pin CUDA images by dated tag, link source
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/faq.md
  unit_test/options_test.py
Due: disallow-caps

feat: add pinned CUDA manylinux image aliases
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/faq.md
  unit_test/options_test.py
Due: disallow-caps

Update to Pyodide 314.0.0 (#2906)
  cibuildwheel/extra.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/selector.py
  test/test_abi_variants.py
  test/test_dependency_versions.py
  test/test_pyodide.py
  test/utils.py
  unit_test/build_selector_test.py
Due: none

refactor: port pyodide to the shared build runner
  cibuildwheel/platforms/pyodide.py
Due: none

refactor: add shared build runner and Builder interface
  cibuildwheel/platforms/runner.py
  unit_test/runner_test.py
Due: none

refactor: port macos to the shared build runner
  cibuildwheel/platforms/macos.py
Due: none

refactor: port windows to the shared build runner
  cibuildwheel/platforms/windows.py
Due: none

refactor: port ios to the shared build runner
  cibuildwheel/platforms/ios.py
Due: none

refactor: port android to the shared build runner
  cibuildwheel/platforms/android.py
Due: none

refactor: port linux to the shared build runner
  cibuildwheel/platforms/linux.py
Due: none

chore: autofix __lazy_modules__
  .pre-commit-config.yaml
Due: none

chore: include android
  .pre-commit-config.yaml
  cibuildwheel/platforms/android.py
Due: none

chore: avoid touching resources
  .pre-commit-config.yaml
  cibuildwheel/resources/android/_cross_venv.py
  cibuildwheel/resources/android/rust_shim.py
  cibuildwheel/resources/install_certifi.py
  cibuildwheel/resources/ios-support/_cross_venv.py
  cibuildwheel/resources/ios-support/arm64-iphoneos/sitecustomize.py
  cibuildwheel/resources/ios-support/arm64-iphonesimulator/sitecustomize.py
  cibuildwheel/resources/ios-support/make_cross_venv.py
  cibuildwheel/resources/ios-support/x86_64-iphonesimulator/sitecustomize.py
  cibuildwheel/resources/testing_temp_dir_file.py
Due: none

chore: lazy imports
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/audit.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/ci.py
  cibuildwheel/environment.py
  cibuildwheel/errors.py
  cibuildwheel/extra.py
  cibuildwheel/frontend.py
  cibuildwheel/logger.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/projectfiles.py
  cibuildwheel/resources/android/_cross_venv.py
  cibuildwheel/resources/android/rust_shim.py
  cibuildwheel/resources/install_certifi.py
  cibuildwheel/resources/ios-support/_cross_venv.py
  cibuildwheel/resources/ios-support/arm64-iphoneos/sitecustomize.py
  cibuildwheel/resources/ios-support/arm64-iphonesimulator/sitecustomize.py
  cibuildwheel/resources/ios-support/make_cross_venv.py
  cibuildwheel/resources/ios-support/x86_64-iphonesimulator/sitecustomize.py
  cibuildwheel/resources/testing_temp_dir_file.py
  cibuildwheel/schema.py
  cibuildwheel/selector.py
  cibuildwheel/util/cmd.py
  cibuildwheel/util/file.py
  cibuildwheel/util/helpers.py
  cibuildwheel/util/packaging.py
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/util/resources.py
  cibuildwheel/venv.py
Due: none

fix: after rebase
  cibuildwheel/util/file.py
  cibuildwheel/util/python_build_standalone.py
Due: none

chore: bump flake8-lazy, rerun
  .pre-commit-config.yaml
  cibuildwheel/resources/install_certifi.py
Due: none

chore: bump flake8-lazy to v0.8.2, rerun
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/python_build_standalone.py
Due: none

docs: clarify environment precedence (#2905)
  docs/configuration.md
  docs/options.md
Due: disallow-caps, cog

fix: raise clear errors instead of tracebacks when no wheel is produced
  cibuildwheel/errors.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
Due: none

chore: minor cleanups and perf tweaks from code review
  cibuildwheel/logger.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/file.py
  cibuildwheel/util/python_build_standalone.py
Due: none

Slight readability improvement for graalpy asset regex
  bin/update_pythons.py
Due: none

Support new graalpy asset names that include Python version. (#2863)
  bin/update_pythons.py
Due: none

Fix dead Pyodide env info link, remove mention of alpha ABI
  README.md
  docs/platforms.md
Due: disallow-caps, cog

Fix dead Pyodide env info link, remove mention of alpha ABI (#2911)
  README.md
  docs/platforms.md
Due: disallow-caps, cog

fix: raise clear errors when no wheel is produced (#2909)
  cibuildwheel/errors.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
