Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Revert "chore: skip PyPy 3.7 7.3.8 updates" (#1037)
  bin/update_pythons.py
Due: none

fix: minor touchups based on stricter mypy settings (#1060)
  .pre-commit-config.yaml
  cibuildwheel/options.py
  pyproject.toml
  unit_test/wheel_print_test.py
Due: none

Bump version: v2.4.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Add entrypoint
  setup.cfg
Due: none

Add from_sdist script
  cibuildwheel/from_sdist.py
Due: none

Add test for cibuildwheel.from-sdist
  setup.py
  test/test_from_sdist.py
Due: none

Add test for argument passthrough
  test/test_from_sdist.py
Due: none

Tidy ups, bug fixes
  cibuildwheel/from_sdist.py
  test/test_from_sdist.py
Due: none

Add prog arguments to ArgumentParser to prevent the wrong inferred name
  cibuildwheel/__main__.py
  cibuildwheel/from_sdist.py
Due: none

Update dependencies
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/working-examples.md
Due: disallow-caps

Fix a badly-formatted Python block in the docs
  docs/faq.md
Due: disallow-caps

chore: fix minor style msg
  cibuildwheel/environment.py
Due: none

chore: use extend on flake8
  setup.cfg
Due: none

chore: use tomllib on Python 3.11 (#1047)
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util.py
  setup.cfg
  unit_test/build_ids_test.py
  unit_test/main_tests/main_options_test.py
Due: none

chore: Set permissions for GitHub actions
  .github/workflows/release.yml
Due: none

RF: Remove unnecessary message
  cibuildwheel/util.py
Due: none

TEST: Sanity check test for --allow-empty flag
  test/test_0_basic.py
  test/utils.py
Due: none

test: don't modify build_frontend_env, as it appears to be global
  test/test_0_basic.py
Due: none

TEST: Actually evaluate test outcome
  test/test_0_basic.py
Due: none

fix: don't assume that any configurations are active
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

fix: Don't error if no new wheels were built (this may happen if --allow-empty is active)
  cibuildwheel/util.py
Due: none

style: exit early to reduce indentation
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

test: build_frontend_env fixture not required for --allow-empy test. Small style tweak
  test/test_0_basic.py
  test/utils.py
Due: none

style: spurious comma
  cibuildwheel/macos.py
Due: none

docs: mention when msvcd140_1.dll is included in cpython
  docs/faq.md
Due: disallow-caps

docs: mention maturin-action
  README.md
Due: disallow-caps

fix: extract project as current user on linux
  cibuildwheel/docker_container.py
Due: none

docs: two minor additions (#1093)
  README.md
  docs/faq.md
Due: disallow-caps

fix: extract project as current user on linux (#1095)
  cibuildwheel/docker_container.py
Due: none

feature: add support for ABI3 wheels
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  setup.cfg
  test/test_limited_api.py
  test/test_projects/c.py
Due: none

refactor: use single entry for SDist builds
  cibuildwheel/__main__.py
  cibuildwheel/from_sdist.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  setup.cfg
  test/test_from_sdist.py
  unit_test/conftest.py
  unit_test/main_tests/main_options_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/options_test.py
  unit_test/utils.py
Due: none

fix: minor cleanup
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  docs/cpp_standards.md
  test/test_from_sdist.py
Due: disallow-caps

refactor: review comments
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  test/test_from_sdist.py
  unit_test/utils.py
Due: none

docs: add some projects
  docs/data/projects.yml
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$
  update-readme-changelog: any of: ^docs/changelog.md$
