Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

action: use the most recent python from tool cache to run the GitHub Action
  .github/workflows/test.yml
  action.yml
Due: none

chore: simpler dependabot (#1165)
  .github/dependabot.yml
  docs/faq.md
Due: disallow-caps

Pass cwd to first two calls
  cibuildwheel/oci_container.py
Due: none

Fix multiple version tags per release bug in release tooling
  bin/bump_version.py
Due: none

chore: add some comments to explain filter process
  cibuildwheel/util.py
  setup.cfg
Due: none

feat: add support for `py3-none-{platform}` wheels (#1151)
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  setup.cfg
  test/test_abi_variants.py
  test/test_limited_api.py
  test/utils.py
  unit_test/utils_test.py
Due: none

fix: multiple version tags per release bug in release tooling (#1166)
  bin/bump_version.py
Due: none

Apply suggestions from code review
  .github/workflows/test.yml
Due: none

Add a pyproject.toml to the windows arm64 cross compile test
  test/test_windows.py
Due: none

Proposal to improve this doc entry
  docs/options.md
Due: disallow-caps

Bump version: v2.8.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Small changelog wording changes
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

Fix cp38-macosx_universal2 Python pkg URL
  cibuildwheel/resources/build-platforms.toml
Due: none

Update build-platforms.toml
  cibuildwheel/resources/build-platforms.toml
Due: none

add cf-units to working examples docs
  docs/data/projects.yml
Due: none

Update action.yml
  action.yml
Due: none

Consolidate Github Actions sample builds
  .github/workflows/test.yml
Due: none

Don't attempt to test CPython 3.8 wheels on Apple Silicon.
  cibuildwheel/macos.py
  test/test_macos_archs.py
  test/utils.py
Due: none

review action - remove notes
  docs/data/projects.yml
Due: none

Expand the catch statement on util.download to be more robust
  cibuildwheel/util.py
Due: none

ci: try ubuntu 18.04
  .github/workflows/test.yml
Due: none

docs: add cf-units to working examples docs (#1170)
  docs/data/projects.yml
Due: none

fix: expand the catch statement on util.download to be more robust (#1173)
  cibuildwheel/util.py
Due: none

Don't attempt to test CPython 3.8 wheels on Apple Silicon. (#1171)
  cibuildwheel/macos.py
  test/test_macos_archs.py
  test/utils.py
Due: none

DOC: Typo manylinux_2_24
  docs/options.md
Due: disallow-caps

FIX: Need to quote the braces
  examples/github-minimal.yml
Due: none

doc: typo manylinux_2_24 (#1178)
  docs/options.md
  examples/github-minimal.yml
Due: disallow-caps

ci: fix update script
  bin/update_virtualenv.py
Due: none

ci: fix update script (#1179)
  bin/update_virtualenv.py
Due: none

fix(docs): pin things due to the mkdocs pin
  noxfile.py
  setup.py
Due: none

DOC: Bump to non-deprecated image
  README.md
  azure-pipelines.yml
  docs/setup.md
  examples/azure-pipelines-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: disallow-caps

FIX: Name
  README.md
Due: disallow-caps

fix(docs): pin things due to the mkdocs pin (#1181)
  noxfile.py
  setup.py
Due: none

Bump version: v2.8.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

fix: test_build_default_launches to use an empty package dir
  unit_test/conftest.py
  unit_test/option_prepare_test.py
Due: none

chore: drop python 3.6 for cibuildwheel driver
  .circleci/config.yml
  .pre-commit-config.yaml
  .travis.yml
  CI.md
  azure-pipelines.yml
  bin/update_dependencies.py
  cibuildwheel/bashlex_eval.py
  docs/contributing.md
  examples/circleci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
  setup.cfg
  test/test_macos_archs.py
  test/utils.py
  unit_test/oci_container_test.py
Due: disallow-caps

Upgrading Pycln from v2.0.3 to v2.0.4
  .pre-commit-config.yaml
Due: none

Provide alternative to actions/setup-python for self-hosted runners
  action.yml
Due: none

Fix Rosetta2 usage for shell commands
  cibuildwheel/macos.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$
  update-readme-changelog: any of: ^docs/changelog.md$
