Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.8
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
  - id: mypy
    name: mypy 3.8 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py|bin/generate_schema.py$
    args: ["--python-version=3.8"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - nox
      - packaging
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.12
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.12"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "sur,assertin", "-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.4
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

Reorder xbuildenv installation
  cibuildwheel/pyodide.py
Due: none

Add env and cwd to xbuildenv search call
  cibuildwheel/pyodide.py
Due: none

Temporarily lower to 0.26.2 target
  cibuildwheel/resources/build-platforms.toml
Due: none

Separate out search, validate, install; again
  cibuildwheel/pyodide.py
Due: none

Run xbuildenv search in `CIBW_CACHE_PATH`
  cibuildwheel/pyodide.py
Due: none

Remove prior `PYODIDE_ROOT` env vars, copy envs
  cibuildwheel/pyodide.py
Due: none

Validate doesn't need to depend on searching
  cibuildwheel/pyodide.py
Due: none

Add file lock when searching xbuildenvs
  cibuildwheel/pyodide.py
Due: none

Test the original version: 0.26.1
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
Due: none

fix: local armv7l images
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

Add FlexibleVersion
  cibuildwheel/oci_container.py
  cibuildwheel/util.py
  unit_test/utils_test.py
Due: none

fix python 3.8 tests
  unit_test/oci_container_test.py
Due: none

Change date to 6th May
  docs/options.md
Due: disallow-caps

address review comments
  cibuildwheel/oci_container.py
Due: none

fix: more reliably validate Podman API version (#2016)
  cibuildwheel/errors.py
  cibuildwheel/oci_container.py
  cibuildwheel/util.py
  unit_test/oci_container_test.py
  unit_test/utils_test.py
Due: none

feat: add musllinux armv7l (#2017)
  README.md
  bin/generate_schema.py
  bin/update_docker.py
  cibuildwheel/architecture.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/oci_container.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/util.py
  docs/options.md
  test/utils.py
  unit_test/main_tests/main_platform_test.py
  unit_test/oci_container_test.py
Due: disallow-caps

ci: add 3.13 classifier
  .github/workflows/test.yml
  pyproject.toml
Due: none

chore: remove a couple of things pylint is unhappy about
  cibuildwheel/__main__.py
  cibuildwheel/options.py
Due: none

ci: add 3.13 classifier (#2026)
  .github/workflows/test.yml
  pyproject.toml
Due: none

chore: remove a couple of things pylint is unhappy about (#2027)
  cibuildwheel/__main__.py
  cibuildwheel/options.py
Due: none

ci: update job slightly
  .github/workflows/release.yml
Due: none

fix merge
  docs/options.md
Due: disallow-caps

no manylinux_2_28 pypy_i686 image
  docs/options.md
Due: disallow-caps

no manylinux_2_28 i686 image
  docs/options.md
Due: disallow-caps

Add note about the planned change of the manylinux default (#1992)
  docs/extra.css
  docs/options.md
Due: disallow-caps

Ignore check-wheel-content W002
  pyproject.toml
Due: none

fix: do not subclass bdist_wheel command in ABI3 test
  test/test_abi_variants.py
Due: none

ci: update job slightly (#2028)
  .github/workflows/release.yml
  pyproject.toml
Due: none

Bump version: v2.21.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

fix: do not subclass wheel.bdist_wheel command in ABI3 test (#2030)
  test/test_abi_variants.py
Due: none

docs: update for 3.13.0 final
  README.md
  docs/cpp_standards.md
  docs/options.md
Due: disallow-caps

chore: use SPEC 0 schedule for cibuildwheel
  .cirrus.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .travis.yml
  CI.md
  azure-pipelines.yml
  bin/bump_version.py
  bin/update_nodejs.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/__main__.py
  cibuildwheel/_compat/__init__.py
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/architecture.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  test/conftest.py
  test/test_projects/base.py
  unit_test/build_ids_test.py
  unit_test/get_platform_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/validate_schema_test.py
Due: disallow-caps

fix: use python version in uv pip install
  .github/workflows/test.yml
Due: none

linux: use Python 3.9 in before_all
  cibuildwheel/linux.py
  cibuildwheel/oci_container.py
Due: none

docs: update for 3.13.0 final (#2035)
  README.md
  docs/cpp_standards.md
  docs/options.md
Due: disallow-caps

fix: use bash instead of sh on musllinux
  cibuildwheel/linux.py
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

Bump version: v2.21.3
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog
