Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Add note on compatibility for macOS + other archs
  docs/options.md
Due: disallow-caps

Note Pyodide version for Pyodide identifier
  docs/options.md
Due: disallow-caps

Docs about `CIBW_PYODIDE_VERSION`
  docs/setup.md
Due: disallow-caps

Don't fetch just the stable versions
  cibuildwheel/pyodide.py
Due: none

Discard a variable that's not used later
  cibuildwheel/pyodide.py
Due: none

Rename `search_xbuildenv` ➡️ `get_xbuildenv_versions`
  cibuildwheel/pyodide.py
Due: none

`validate_xbuildenv` ➡️ `validate_xbuildenv_version`
  cibuildwheel/pyodide.py
Due: none

Replace ordered comment, add newline
  cibuildwheel/pyodide.py
Due: none

Replace sentence on macOS support
  docs/options.md
Due: disallow-caps

Capitalise: "pyodide" ➡️ "Pyodide"
  test/test_emscripten.py
Due: none

"work" ➡️ "may succeed"
  docs/options.md
Due: disallow-caps

Add another job to test a custom Pyodide version
  .github/workflows/test.yml
Due: none

Handle "v"-prefixed + non-prefixed versions
  .github/workflows/test.yml
  cibuildwheel/pyodide.py
Due: none

Fix typos and capitalise
  .github/workflows/test.yml
  test/test_emscripten.py
Due: none

Add docstring for `install_xbuildenv` function
  cibuildwheel/pyodide.py
Due: none

Include Emscripten, Pyodide version in logger messages
  cibuildwheel/pyodide.py
Due: none

Mark separation of pyodide-build and Pyodide
  cibuildwheel/pyodide.py
Due: none

Bump to Pyodide 0.26.4 (py3.12.7) + pyodide-build 0.29.0
  cibuildwheel/resources/build-platforms.toml
Due: none

Use pyodide-build version as the source of truth
  noxfile.py
Due: none

Update Pyodide constraints
  cibuildwheel/resources/constraints-pyodide312.txt
Due: none

Use 3.12 as the Python version instead of 3.12.7
  cibuildwheel/resources/build-platforms.toml
Due: none

chore: appease the formatter
  cibuildwheel/resources/build-platforms.toml
Due: none

Bump Ruff to 0.8.0
  .pre-commit-config.yaml
  cibuildwheel/_compat/typing.py
  cibuildwheel/typing.py
  pyproject.toml
Due: none

Updates for Pyodide builds after `pyodide-build` was unvendored (#2090)
  .github/workflows/test.yml
  cibuildwheel/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide312.txt
  noxfile.py
  test/test_emscripten.py
Due: none

chore: bump Ruff to 0.8.0 (#2092)
  .pre-commit-config.yaml
  cibuildwheel/_compat/typing.py
  cibuildwheel/typing.py
  pyproject.toml
Due: none

Bump version: v2.22.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

fix: cibuildwheel.schema.json
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

doc: use non deprecated option for free-threading
  README.md
Due: disallow-caps

fix: cibuildwheel.schema.json (#2093)
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

docs: use non deprecated option for free-threading (#2094)
  README.md
Due: disallow-caps

docs: fix typo in enable
  docs/options.md
Due: disallow-caps

docs: fix typo in enable (#2097)
  docs/options.md
Due: disallow-caps

chore: use SPEC 0 schedule for cibuildwheel
  .cirrus.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .travis.yml
  CI.md
  azure-pipelines.yml
  bin/bump_version.py
  bin/update_nodejs.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/__main__.py
  cibuildwheel/_compat/__init__.py
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/architecture.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  test/conftest.py
  test/test_projects/base.py
  unit_test/build_ids_test.py
  unit_test/get_platform_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/projectfiles_test.py
  unit_test/validate_schema_test.py
Due: disallow-caps

remove support for {python} and {pip} in commands
  cibuildwheel/__main__.py
  cibuildwheel/util.py
Due: none

chore: drop deprecated options
  .github/workflows/test.yml
  bin/generate_schema.py
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  docs/options.md
  test/utils.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps

feat: add manylinux_2_34
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_manylinuxXXXX_only.py
  unit_test/main_tests/main_options_test.py
Due: disallow-caps

ci/doc: move azure macOS build to `macOS-13`
  azure-pipelines.yml
  examples/azure-pipelines-minimal.yml
Due: none

ci/doc: move azure macOS build to `macOS-13` (#2101)
  azure-pipelines.yml
  examples/azure-pipelines-minimal.yml
Due: none

feat: add manylinux_2_34 (#2098)
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_manylinuxXXXX_only.py
  unit_test/main_tests/main_options_test.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
