Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: fa93bc3224c614a0e9786d3e2d3d48edcca246eb  # frozen: v0.15.1
  hooks:
  - id: ruff-check
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    exclude: ^cibuildwheel/resources/_cross_venv.py$  # Requires Python 3.13 or later
    additional_dependencies: &mypy-dependencies
      - bracex
      - build
      - dependency-groups>=1.2
      - humanize
      - nox>=2025.2.9
      - orjson
      - packaging
      - pyelftools
      - pygithub
      - pytest
      - rich
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.14
    args: ["--python-version=3.14"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp>=3.5]

- repo: https://github.com/codespell-project/codespell
  rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: f761d025eb06bcd6a45bf152ba3593c9b8ad9a9b  # frozen: 0.36.2
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

Regenerate constraints to include `abi3audit`
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Fix typos
  docs/options.md
Due: disallow-caps, cog

Some attempts for Windows fixes
  cibuildwheel/audit.py
Due: none

Check `pyvenv.cfg` instead of directory existence
  cibuildwheel/audit.py
Due: none

Add validation for lack of wheel placeholders
  cibuildwheel/audit.py
  unit_test/audit_test.py
Due: none

Try yet another Windows `uv` fix
  cibuildwheel/audit.py
Due: none

Update Android to Python 3.13.13 and 3.14.4
  .pre-commit-config.yaml
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/android/_cross_venv.pth
  cibuildwheel/resources/android/_cross_venv.py
  cibuildwheel/resources/android/android.patch
  cibuildwheel/resources/android/rust_shim.py
  cibuildwheel/resources/build-platforms.toml
Due: none

Regenerate diagram and re-trigger Azure CI
  docs/data/how-it-works.png
  docs/diagram.html
Due: none

Add missing `import sys` for abi3 C extension tests
  test/test_abi3audit.py
  test/test_abi_variants.py
Due: none

Remove audit-command at the global level
  cibuildwheel/options.py
Due: none

Clarify `abi3audit` pinning a little bit
  docs/options.md
Due: disallow-caps, cog

Add suggestions from Hood and Gyeongjae
  docs/_internal/pyodide-maintenance.md
Due: disallow-caps

Update Android to Python 3.13.13 and 3.14.4 (#2821)
  .pre-commit-config.yaml
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/android/_cross_venv.pth
  cibuildwheel/resources/android/_cross_venv.py
  cibuildwheel/resources/android/android.patch
  cibuildwheel/resources/android/rust_shim.py
  cibuildwheel/resources/build-platforms.toml
Due: none

revert pyodide changes
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
Due: none

break: remove cp313t
  README.md
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/free-threaded-enable-313.xml
  cibuildwheel/selector.py
  cibuildwheel/util/resources.py
  docs/contributing.md
  docs/options.md
  test/test_0_basic.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

break: drop unused cpython-freethreading enable option
  bin/generate_schema.py
  cibuildwheel/__main__.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/selector.py
  unit_test/main_tests/main_options_test.py
  unit_test/options_test.py
Due: none

break: drop Python 3.8
  README.md
  cibuildwheel/__main__.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python38.txt
  docs/configuration.md
  docs/contributing.md
  docs/faq.md
  docs/options.md
  docs/platforms.md
  examples/circleci-minimal.yml
  noxfile.py
  test/conftest.py
  test/test_abi_variants.py
  test/test_container_images.py
  test/test_dependency_versions.py
  test/test_macos_archs.py
  test/test_testing.py
  test/utils.py
  unit_test/conftest.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

chore: add PEP 723 metadata for various `bin/` scripts, drop `bin` dependency group (#2819)
  .github/workflows/test.yml
  bin/bump_version.py
  bin/generate_pyodide_constraints.py
  bin/generate_schema.py
  bin/inspect_all_known_projects.py
  bin/make_dependency_update_pr.py
  bin/projects.py
  bin/readme_changelog.py
  bin/readme_options_table.py
  bin/run_example_ci_configs.py
  bin/run_tests.py
  bin/sample_build.py
  bin/update_docker.py
  bin/update_how_it_works_image.py
  bin/update_nodejs.py
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  noxfile.py
  pyproject.toml
Due: cog

Regen constraints
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Discard changes to cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide312.txt
Due: none

Discard changes to cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide313.txt
Due: none

Add more repair tests
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

Add test for Meson and Fortran
  cibuildwheel/resources/android/fortran_shim.py
  test/test_android.py
Due: none

WIP: workspace
  test/test_projects/c.py
  test/test_projects/uv_scikit_build.py
  test/test_uv_workspace.py
Due: none

Add test for cross build files
  cibuildwheel/platforms/android.py
  test/test_android.py
  test/test_projects/setuptools.py
Due: none

fix: some more touchup
  test/test_projects/__init__.py
  test/test_projects/uv_scikit_build.py
  test/test_uv_workspace.py
Due: none

tests: use meson for the other wheel
  test/test_projects/uv_scikit_build.py
  test/test_uv_workspace.py
Due: none

feat: multiple wheels per build support
  cibuildwheel/logger.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/packaging.py
  test/test_uv_workspace.py
  unit_test/utils_test.py
Due: none

chore: move one thing to pattern matching
  cibuildwheel/logger.py
Due: none

try opt-in uv again
  cibuildwheel/audit.py
Due: none

fix issue on windows on Python 3.13 related to nested venvs
  cibuildwheel/audit.py
Due: none

Improve test_api_level error message
  test/test_android.py
Due: none

Add xbuild-files option
  README.md
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  cibuildwheel/util/helpers.py
  docs/configuration.md
  docs/options.md
  test/test_android.py
  unit_test/options_test.py
  unit_test/utils_test.py
Due: disallow-caps, cog

feat: config settings placeholders
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  docs/options.md
  unit_test/options_test.py
Due: disallow-caps, cog

Update docs/options.md
  docs/options.md
Due: disallow-caps, cog

Set `UV_SYSTEM_PYTHON` for `before_build` on Linux when using `uv`
  cibuildwheel/platforms/linux.py
Due: none

Add a default repair wheel command for Windows
  cibuildwheel/resources/defaults.toml
Due: none

Install `delvewheel` into Windows build tools
  cibuildwheel/platforms/windows.py
Due: none

Add delvewheel to constraints file
  cibuildwheel/resources/constraints.in
Due: none

Regenerate constraints
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none
