Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Use python-build-standalone
  cibuildwheel/platforms/android.py
  docs/platforms.md
Due: disallow-caps

docs: fix docstring
  cibuildwheel/util/file.py
Due: none

Update Android Python
  cibuildwheel/resources/build-platforms.toml
Due: none

fix: test-sources should use project dir (#2437)
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/file.py
Due: none

Fix changelog formatting bug
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

docs: color output for docs (#2407)
  .pre-commit-config.yaml
  .readthedocs.yml
  docs/main.py
  docs/options.md
  noxfile.py
  pyproject.toml
Due: disallow-caps

chore: update some things for checks
  bin/projects.py
  pyproject.toml
Due: none

chore: fully use PEP 639 licensing
  pyproject.toml
Due: none

Enable KVM in Linux CI
  bin/run_tests.py
  cibuildwheel/resources/build-platforms.toml
  docs/platforms.md
  test/test_android.py
Due: disallow-caps

Add docs and tests for 0.28 This reverts commit 2e7d716a9ecfbdac159eed798ebf1b0170e6858d.
  docs/options.md
  test/test_pyodide.py
  test/utils.py
Due: disallow-caps

Add pyodide 0.28.0a3
  cibuildwheel/resources/build-platforms.toml
Due: none

fix: add selector for pyodide-prerelease, and add graalpy to schema
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/selector.py
  docs/options.md
  docs/platforms.md
  test/test_pyodide.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps

Move KVM code to test_android.py
  bin/run_tests.py
  test/test_android.py
Due: none

Use Java 17 on Azure
  azure-pipelines.yml
Due: none

Install emulator if necessary before running -accel-check
  test/test_android.py
Due: none

Correct documentation suggesting iOS builds all platforms by default.
  docs/platforms.md
Due: disallow-caps

feat: add pyodide 0.28 and pyodide-prerelease (#2431)
  bin/generate_schema.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/selector.py
  docs/options.md
  docs/platforms.md
  test/test_pyodide.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps

docs: correct documentation suggesting iOS builds all platforms by default. (#2441)
  docs/platforms.md
Due: disallow-caps

ci: fix gitlab Windows with --allow-downgrade
  .gitlab-ci.yml
  examples/gitlab-minimal.yml
Due: none

Bump version: v3.0.0b5
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

chore: touch up release script
  .pre-commit-config.yaml
  bin/bump_version.py
Due: none

Free up additional disk space on Linux runners
  .github/workflows/test.yml
Due: none

Add sudo
  .github/workflows/test.yml
Due: none

chore: touch up release script (#2442)
  .pre-commit-config.yaml
  bin/bump_version.py
Due: none

Skip emulator tests on CI platforms that don't support it
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
  test/test_android.py
Due: none

Download Android Python from Maven Central
  README.md
  cibuildwheel/resources/build-platforms.toml
Due: disallow-caps

Free up more disk space on Linux runners
  .github/workflows/test.yml
Due: none

fix: minor fixups
  cibuildwheel/architecture.py
  cibuildwheel/platforms/android.py
  docs/platforms.md
  test/utils.py
Due: disallow-caps

Fix scrollbars appearing on badges
  docs/options.md
Due: disallow-caps

fix anchor bug in safari
  docs/theme_overrides/js/theme.js
Due: none

Make options the first reference page
  mkdocs.yml
Due: none

Docs fixes (#2446)
  docs/options.md
  docs/theme_overrides/js/theme.js
  mkdocs.yml
Due: disallow-caps

Bump version: v3.0.0rc1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

docs: warning about pyodide-version
  docs/options.md
Due: disallow-caps

Bump version: v3.0.0rc2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

docs: warning about pyodide-version (#2450)
  docs/options.md
Due: disallow-caps

fix: native ios includes device
  cibuildwheel/architecture.py
  docs/options.md
  mkdocs.yml
Due: disallow-caps

Rework the footnote
  docs/options.md
  mkdocs.yml
Due: disallow-caps

Add a unit test for the native value
  unit_test/architecture_test.py
Due: none

Add a row for Linux arm, because it has a special rule
  docs/options.md
Due: disallow-caps

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
