Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

[2.x] Update dependencies (#2334)
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/nodejs.toml
  cibuildwheel/resources/pinned_docker_images.cfg
Due: none

Bump version: v2.23.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

Add docs for CIBW_PYODIDE_VERSION
  docs/options.md
  docs/platforms/pyodide.md
Due: disallow-caps

Rephrase
  docs/options.md
Due: disallow-caps

Add tests for pyodide-version
  test/test_emscripten.py
  unit_test/options_test.py
Due: none

Disable CI for non-macOS platforms.
  .circleci/config.yml
  .cirrus.yml
  .github/workflows/test.yml
  .gitlab-ci.yml
  .travis.yml
  appveyor.yml
  azure-pipelines.yml
Due: none

Disable even more CI.
  .github/workflows/test.yml
Due: none

Use verbose logs during testing.
  test/test_ios.py
Due: none

Pre-warm iOS simulator.
  .github/workflows/test.yml
Due: none

Fix runner targeting.
  .github/workflows/test.yml
Due: none

Request a simulator specific device.
  cibuildwheel/platforms/ios.py
Due: none

Temporarily remove fail-fast.
  .github/workflows/test.yml
Due: none

Completely remove the pipelines we're not testing.
  .circleci/config.yml
  appveyor.yml
  azure-pipelines.yml
Due: none

Try using Xcode 16.2
  .github/workflows/test.yml
  cibuildwheel/platforms/ios.py
Due: none

Try Xcode 16.2 again.
  .github/workflows/test.yml
Due: none

Re-run CI with Xcode 16.2, attempt 2
  .github/workflows/test.yml
Due: none

Run integration suite single threaded.
  .github/workflows/test.yml
Due: none

Split out a serial test group.
  .github/workflows/test.yml
  bin/run_tests.py
  cibuildwheel/platforms/ios.py
  pyproject.toml
  test/test_ios.py
Due: none

Try the serial group again.
  bin/run_tests.py
Due: none

Apply suggestions from code review
  docs/options.md
Due: disallow-caps

Try running on macos-15.
  .github/workflows/test.yml
Due: none

Run on macos-15 again (removing xcode update)
  .github/workflows/test.yml
  bin/run_tests.py
Due: none

macos-15 again.
  bin/run_tests.py
Due: none

Try flushing stdout to get test output...
  bin/run_tests.py
Due: none

Correct Github Actions CI instability for iOS.
  .github/workflows/test.yml
  bin/run_tests.py
  pyproject.toml
  test/test_ios.py
Due: none

Add a dummy serial test so CircleCI passes serial test discovery.
  test/test_0_basic.py
Due: none

Properly close files used for testing
  test/test_before_build.py
  test/test_before_test.py
Due: none

Add support for GraalPy
  README.md
  bin/update_pythons.py
  cibuildwheel/logger.py
  cibuildwheel/options.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  test/test_abi_variants.py
  test/utils.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

XXX: Test only graalpy in my CI
  test/conftest.py
Due: none

ci: correct Github Actions CI instability for iOS. (#2337)
  .github/workflows/test.yml
  bin/run_tests.py
  pyproject.toml
  test/test_0_basic.py
  test/test_ios.py
Due: none

feat: option to build directly with uv
  bin/generate_schema.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  unit_test/options_test.py
Due: none

fix: uv doesn't pick special Pythons at the top of the path
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
Due: none

tests: add uv to tests
  test/conftest.py
Due: none

fix: support wider range of verbosity settings on other build backends
  cibuildwheel/frontend.py
  docs/options.md
  unit_test/options_test.py
Due: disallow-caps

fix: set uv build constraints too
  cibuildwheel/util/packaging.py
Due: none

fix: use uri's to make uv happy
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/venv.py
Due: none

ci: revert QEMU workaround
  .github/workflows/test.yml
Due: none

ci: revert QEMU workaround (#2340)
  .github/workflows/test.yml
Due: none

Apply suggestions from code review
  cibuildwheel/frontend.py
  docs/options.md
Due: disallow-caps

refactor: address review comments
  cibuildwheel/frontend.py
  docs/options.md
  unit_test/options_test.py
Due: disallow-caps

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
