Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.0
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
  - id: mypy
    name: mypy 3.8 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py|bin/generate_schema.py$
    args: ["--python-version=3.8"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - dependency-groups>=1.2
      - nox
      - orjson
      - packaging
      - pygithub
      - pytest
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.12
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.12"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "sur,assertin", "-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.29.4
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

fix: drop PYTHONSAFEPATH
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  docs/options.md
  test/test_testing.py
Due: disallow-caps

tests: use sorted platform tags
  test/utils.py
Due: none

Update test-sources and test-command behavior to match iOS
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/testing_temp_dir_file.py
  docs/options.md
  test/test_android.py
Due: disallow-caps

tests: use sorted platform tags
  test/test_manylinuxXXXX_only.py
  test/utils.py
Due: none

Documentation cleanups
  README.md
  docs/options.md
  docs/platforms.md
Due: disallow-caps

fix: drop PYTHONSAFEPATH (#2429)
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  docs/options.md
  test/test_testing.py
Due: disallow-caps

refactor: rename scripts
  .pre-commit-config.yaml
  README.md
  bin/readme_changelog.py
  bin/readme_options_table.py
Due: disallow-caps

chore: use cog for quick README updates (#2428)
  .pre-commit-config.yaml
  README.md
  bin/readme_changelog.py
  bin/readme_options_table.py
  bin/update_readme_changelog.py
Due: disallow-caps

Bump version: v3.0.0b4
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

docs: typo b3 -> b4
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

Add missing changelog entries
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

docs: rerender README
  README.md
Due: disallow-caps

docs: found more to convert to toml
  README.md
  docs/contributing.md
  docs/faq.md
  docs/platforms.md
Due: disallow-caps

Apply suggestions from code review
  docs/platforms.md
Due: disallow-caps

Add pyodide 0.28.0a3
  cibuildwheel/resources/build-platforms.toml
Due: none

Add docs and tests for 0.28 This reverts commit 2e7d716a9ecfbdac159eed798ebf1b0170e6858d.
  docs/options.md
  test/test_pyodide.py
  test/utils.py
Due: disallow-caps

Debug Cirrus CI testing (#2414)
  README.md
  cibuildwheel/platforms/windows.py
  test/test_ios.py
Due: disallow-caps

docs: color output for docs
  .readthedocs.yml
  docs/main.py
  docs/options.md
  pyproject.toml
Due: disallow-caps

fix: use asdf (python-build)
  .readthedocs.yml
Due: none

docs: try to fix colors
  docs/main.py
  noxfile.py
Due: none

feat: support multiple commands on iOS
  cibuildwheel/platforms/ios.py
  test/test_ios.py
Due: none

fix: use standard schema line
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

chore: use match for stringify_setting
  cibuildwheel/options.py
Due: none

chore: more match statements
  cibuildwheel/architecture.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/projectfiles.py
Due: none

fix: use standard schema line (#2433)
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

docs: found more to convert to toml (#2430)
  README.md
  docs/contributing.md
  docs/faq.md
  docs/platforms.md
Due: disallow-caps

Move split_command into a util module
  cibuildwheel/platforms/ios.py
  cibuildwheel/util/cmd.py
Due: none

(unrelated) fix test docstring
  test/test_ios.py
Due: none

Implement short-circuit behaviour on test-command
  cibuildwheel/platforms/ios.py
  test/test_ios.py
Due: none

Replace Builder class with a set of global functions
  cibuildwheel/options.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/_cross_venv.pth
  cibuildwheel/resources/_cross_venv.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/main_tests/main_options_test.py
  unit_test/options_test.py
Due: none

Rename "env" to "build_env"
  cibuildwheel/platforms/android.py
Due: none

feat: support multiple commands on iOS (#2432)
  cibuildwheel/platforms/ios.py
  cibuildwheel/util/cmd.py
  test/test_ios.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Remove Chaquopy repository from default pip command line
  cibuildwheel/platforms/android.py
  docs/platforms.md
  test/test_android.py
Due: disallow-caps

Move native_platform to platforms module
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/platforms/__init__.py
  cibuildwheel/platforms/android.py
Due: none

Fix parse_config_settings
  cibuildwheel/frontend.py
Due: none

fix: test-sources should use project dir
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/file.py
Due: none

Add unit tests for parse_config_settings and arch_synonym
  unit_test/architecture_test.py
  unit_test/main_tests/main_options_test.py
Due: none

Make `shell_prepared` arguments keyword-only, and add tests for the commands that use it
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

Replace `importlib.util.spec_from_file_location` with `runpy.run_path`
  cibuildwheel/platforms/android.py
Due: none
