Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.0
  hooks:
  - id: pyupgrade
    name: PyUpgrade 3.6+
    args: ["--py36-plus"]
    exclude: ^bin/
  - id: pyupgrade
    name: PyUpgrade 3.7+ on bin
    exclude: ^(cibuildwheel|unit_test|test)/
    args: ["--py37-plus"]

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.0.3
  hooks:
  - id: pycln
    args: [--config=pyproject.toml]

- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 21.9b0
  hooks:
  - id: black

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.18.0
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    exclude: ^(bin|cibuildwheel/resources|docs)/.*py$
    args: ["--python-version=3.6", "--scripts-are-modules"]
    additional_dependencies:
      - packaging
      - types-jinja2
      - types-certifi
      - types-toml
      - tomli
  - id: mypy
    name: mypy 3.7+ on bin/
    files: ^((bin|docs)/.*py|noxfile.py)$
    args: ["--python-version=3.7", "--scripts-are-modules"]
    additional_dependencies:
      - packaging>=21.0
      - rich
      - types-jinja2
      - types-pyyaml
      - types-click
      - types-requests
      - tomli

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: cibuildwheel/resources/
    additional_dependencies: [flake8-bugbear]

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: ["-L", "sur"]

fix documentation from review
  docs/options.md
Due: disallow-caps

document changed default manylinux image
  docs/options.md
Due: disallow-caps

always default to manylinux2014
  cibuildwheel/options.py
Due: none

Update the option defaults and fix up unit tests
  cibuildwheel/resources/defaults.toml
  docs/cpp_standards.md
  docs/options.md
  test/utils.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_toml_test.py
Due: disallow-caps

Fix expected auditwheel tags
  test/utils.py
Due: none

Update docker image test to 2014
  test/test_docker_images.py
Due: none

feat: support passenv (#914)
  README.md
  cibuildwheel/environment.py
  cibuildwheel/options.py
  cibuildwheel/resources/defaults.toml
  docs/options.md
  unit_test/docker_container_test.py
  unit_test/environment_test.py
  unit_test/options_test.py
Due: disallow-caps

Update link to multibuild
  README.md
Due: disallow-caps

Update dependencies
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python36.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/working-examples.md
Due: disallow-caps

Fix python 3.9 identifier for win_arm64
  cibuildwheel/resources/build-platforms.toml
Due: none

docs: add psycopg 3 to the projects page
  docs/data/projects.yml
Due: none

Fix table layout issues in README and add note about arm64 pip issue
  README.md
  cibuildwheel/windows.py
Due: disallow-caps

docs: add psycopg 3 to the projects page (#932)
  docs/data/projects.yml
Due: none

add support for building wheels for windows on arm64 (#920)
  README.md
  bin/update_pythons.py
  cibuildwheel/architecture.py
  cibuildwheel/logger.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/windows.py
  docs/options.md
  unit_test/main_tests/main_platform_test.py
Due: disallow-caps

docs: note about musllinux mess
  README.md
Due: disallow-caps

Update README.md
  README.md
Due: disallow-caps

Bump version: v2.3.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Add PyPy 3.8 to supported operating systems table
  README.md
Due: disallow-caps

docs: add PyPy 3.8 to supported operating systems table (#940)
  README.md
Due: disallow-caps

Update dependencies
  README.md
  cibuildwheel/resources/constraints-python36.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/working-examples.md
Due: disallow-caps

Output wheels into dist, not wheelhouse
  examples/travis-ci-deploy.yml
Due: none

Ignore rmtree errors on Windows during cleanup
  cibuildwheel/windows.py
Due: none

Update options.md
  docs/options.md
Due: disallow-caps

fix: environment variable affect initial setup macOS/win
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

fix: move Python check too
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

docs: update information for project OpenNMT/CTranslate2
  docs/data/projects.yml
Due: none

fix: environment variable affect initial setup macOS/win (#956)
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

Update dependencies
  docs/working-examples.md
Due: disallow-caps

Bump version: v2.3.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

container base class
  .dockerignore
  cibuildwheel/container.py
  cibuildwheel/docker_container.py
  cibuildwheel/docker_container_remote.py
  setup.py
  unit_test/Containerfile.podman.alpine
  unit_test/docker_container_test.py
Due: none

CIBW_REMOTE environment variable
  cibuildwheel/linux.py
Due: none

fix: minor fixes to get pycharm not to complain too much
  cibuildwheel/docker_container.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/projectfiles.py
  cibuildwheel/windows.py
Due: none

fix: minor fixes to get pycharm not to complain too much (#972)
  cibuildwheel/docker_container.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/projectfiles.py
  cibuildwheel/windows.py
Due: none

feat: include size in the final printout
  cibuildwheel/util.py
  unit_test/wheel_print_test.py
Due: none

open setup.py as utf-8 in get_requires_python_str
  cibuildwheel/projectfiles.py
Due: none

update test for UTF-8 setup.py
  unit_test/projectfiles_test.py
Due: none

Update projectfiles_test.py
  unit_test/projectfiles_test.py
Due: none
