Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.0
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
  - id: mypy
    name: mypy 3.8 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py|bin/generate_schema.py$
    args: ["--python-version=3.8"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - dependency-groups>=1.2
      - nox
      - orjson
      - packaging
      - pygithub
      - pytest
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.12
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.12"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "sur,assertin", "-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.29.4
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

feat: adding pypy-eol enable group
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/selector.py
  docs/options.md
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

chore: nicer nox env
  noxfile.py
Due: none

fix: typo in variable name found by copilot
  cibuildwheel/platforms/pyodide.py
Due: none

Add toml docs examples
  docs/options.md
Due: disallow-caps

Add TEST_ENVIRONMENT option and set PYTHONSAFEPATH=1 in the test env
  cibuildwheel/options.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/defaults.toml
  docs/options.md
  test/test_testing.py
Due: disallow-caps

Add TOML examples
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  docs/options.md
Due: disallow-caps

Apply suggestions from code review
  .github/workflows/test.yml
  cibuildwheel/extra.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  docs/platforms.md
  test/test_pep518.py
  unit_test/options_test.py
Due: disallow-caps

Some more Pyodide version updates in the docs section
  docs/options.md
Due: disallow-caps

We haven't released Pyodide v0.27.6 yet
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  unit_test/options_test.py
Due: disallow-caps

[travis-ci] debugging ci failures on travis
  cibuildwheel/platforms/windows.py
Due: none

[travis-ci] Use JSON to encode env vars
  cibuildwheel/platforms/windows.py
Due: none

Back to the Github URL for cross-build-environments
  cibuildwheel/extra.py
Due: none

feat: adding pypy-eol enable group (#2393)
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/selector.py
  docs/options.md
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

doc: update Windows ARM for GH Actions
  README.md
Due: disallow-caps

`pyodide-build`, not `emsdk` for Windows skips
  test/test_pyodide.py
Due: none

doc: update Windows ARM for GH Actions (#2396)
  README.md
Due: disallow-caps

Move to a separate `_json_request` function
  cibuildwheel/extra.py
Due: none

Rename "retries" ➡️ "retry_count"
  cibuildwheel/extra.py
Due: none

Add some type hints
  cibuildwheel/extra.py
Due: none

Copy env vars before `UV_CUSTOM_COMPILE_COMMAND`
  noxfile.py
Due: none

Use `HTTPError.headers.get` instead
  cibuildwheel/extra.py
Due: none

Remove extra end quote
  cibuildwheel/util/python_build_standalone.py
Due: none

Improve integration test options (#2385)
  .github/workflows/test.yml
  docs/contributing.md
  test/conftest.py
  test/test_0_basic.py
  test/test_abi_variants.py
  test/test_before_build.py
  test/test_before_test.py
  test/test_build_frontend_args.py
  test/test_container_engine.py
  test/test_container_images.py
  test/test_cpp_standards.py
  test/test_dependency_versions.py
  test/test_emulation.py
  test/test_environment.py
  test/test_ios.py
  test/test_linux_python.py
  test/test_macos_archs.py
  test/test_manylinuxXXXX_only.py
  test/test_musllinux_X_Y_only.py
  test/test_pep518.py
  test/test_troubleshooting.py
  test/test_wheel_tag.py
  test/test_windows.py
  test/utils.py
Due: disallow-caps

Fixes post-merge
  test/test_ios.py
  test/utils.py
Due: none

[travis-ci] Use a more broadly compatible before_all command
  test/test_before_all.py
Due: none

Change download tests URL to `https://badssl.com/`
  unit_test/download_test.py
Due: none

Download size changes, too
  unit_test/download_test.py
Due: none

Use double-quotes for windows
  test/test_testing.py
Due: none

Use jsdelivr for Github asset mirroring
  unit_test/download_test.py
Due: none

Add option tag labels to each header
  docs/extra.css
  docs/options.md
Due: disallow-caps

Bump to Pyodide v0.27.6
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  unit_test/options_test.py
Due: disallow-caps

Fix unit tests
  unit_test/options_test.py
Due: none

fix: change to the iOS testing option semantics (#2363)
  cibuildwheel/platforms/ios.py
  cibuildwheel/util/helpers.py
  docs/options.md
  test/test_ios.py
  test/utils.py
Due: disallow-caps

raw.githubusercontent.com URLs are rate-limited now, change URLs
  test/test_ssl.py
  unit_test/download_test.py
Due: none

Fix release script
  bin/bump_version.py
Due: none

Bump version: v3.0.0b1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog
