Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

fix: older pip for graalpy on Windows
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
Due: none

ci: keep graalpy pip workaround across dependency bumps
  cibuildwheel/resources/constraints-python311.txt
  noxfile.py
Due: none

fix(macos): accept .tar.gz PyPy archives
  cibuildwheel/platforms/macos.py
Due: none

ci: hold filelock back for graalpy
  cibuildwheel/resources/constraints-python312.txt
  noxfile.py
Due: none

ci: bump filelock for graalpy
  cibuildwheel/resources/constraints-python312.txt
  noxfile.py
Due: none

revert android cp315 update
  cibuildwheel/resources/build-platforms.toml
Due: none

fix: support platform-specific test runtime environment variables (#2941)
  cibuildwheel/options.py
  unit_test/options_test.py
Due: none

refactor: add shared build runner and Builder interface
  cibuildwheel/platforms/runner.py
  unit_test/runner_test.py
Due: none

refactor: port windows to the shared build runner
  cibuildwheel/platforms/windows.py
Due: none

refactor: port macos to the shared build runner
  cibuildwheel/platforms/macos.py
Due: none

refactor: port pyodide to the shared build runner
  cibuildwheel/platforms/pyodide.py
Due: none

refactor: port ios to the shared build runner
  cibuildwheel/platforms/ios.py
Due: none

refactor: port linux to the shared build runner
  cibuildwheel/platforms/linux.py
Due: none

refactor: use a Protocol for builders instead of inheritance
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/runner.py
  cibuildwheel/platforms/windows.py
  unit_test/runner_test.py
Due: none

refactor: port android to the shared build runner
  cibuildwheel/platforms/android.py
Due: none

fix: reject a pure Python wheel from repair on every platform
  cibuildwheel/platforms/runner.py
  unit_test/runner_test.py
Due: none

refactor: move duplicated host-platform code into shared runner helpers
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/runner.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/venv.py
  unit_test/runner_test.py
Due: none

fix: don't error when a global build-frontend is set on pyodide
  cibuildwheel/options.py
  docs/options.md
  docs/platforms.md
  unit_test/options_test.py
Due: disallow-caps, cog

tests: keep the platform tag on the fake repaired wheel
  test/test_custom_repair_wheel.py
Due: none

fix: don't error when a global build-frontend is set on pyodide (#2945)
  cibuildwheel/options.py
  docs/options.md
  docs/platforms.md
  unit_test/options_test.py
Due: disallow-caps, cog

fix(macos): make matching python3-config available in build/test venvs (#2922)
  cibuildwheel/venv.py
  unit_test/venv_test.py
Due: none

docs: switch from mkdocs to properdocs
  .github/workflows/test.yml
  .readthedocs.yml
  AGENTS.md
  azure-pipelines.yml
  noxfile.py
  properdocs.yml
  pyproject.toml
Due: disallow-caps

docs: add missing cp314-pyodide_wasm32 to build-id table
  docs/options.md
  unit_test/build_ids_test.py
Due: disallow-caps, cog

test: skip docs table check when docs/options.md is absent
  unit_test/build_ids_test.py
Due: none

docs: add missing cp314-pyodide_wasm32 to build-id table (#2947)
  docs/options.md
  unit_test/build_ids_test.py
Due: disallow-caps, cog

docs: switch from mkdocs to properdocs (#2946)
  .github/workflows/test.yml
  .readthedocs.yml
  AGENTS.md
  azure-pipelines.yml
  noxfile.py
  properdocs.yml
  pyproject.toml
Due: disallow-caps

Bump version: v4.1.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  pyproject.toml
Due: disallow-caps, cog

Update to Pyodide 314.0.3
  cibuildwheel/resources/build-platforms.toml
Due: none

Update to Pyodide 314.0.3 (#2949)
  cibuildwheel/resources/build-platforms.toml
Due: none

fix(schema): default is fine for pyodide too
  .gitignore
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

fix(schema): allow pyodide-build frontend in overrides
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

fix(schema): accept pyodide-build as a top level frontend
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

fix(schema): keep pyodide-build out of the other platform tables
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

fix(schema): put the enable description in the enable definition
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

refactor(schema): build the build-frontend schema from a list of names
  bin/generate_schema.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
