Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Update docs/faq.md
  docs/faq.md
Due: disallow-caps

Bump version: v2.11.3
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

separate example
  docs/options.md
Due: disallow-caps

fix(ci): use ubuntu-20.04 for update workfow
  .github/workflows/update-dependencies.yml
Due: none

fix(ci): use ubuntu-20.04 for update workfow (#1370)
  .github/workflows/update-dependencies.yml
Due: none

chore: pin packaging when typing
  .pre-commit-config.yaml
Due: none

fix: not skipping the tests stops the copy
  cibuildwheel/windows.py
Due: none

ci: move to ubuntu 20
  .github/workflows/test.yml
Due: none

fix: not skipping the tests stops the copy (Windows ARM) (#1377)
  cibuildwheel/windows.py
Due: none

Update cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/build-platforms.toml
Due: none

Bump version: v2.11.4
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

ci: use normal AppVeyor macOS image
  appveyor.yml
  examples/appveyor-minimal.yml
Due: none

ci: use normal AppVeyor macOS image (#1388)
  appveyor.yml
  examples/appveyor-minimal.yml
Due: none

feat: add PyPy macOS arm64
  .github/workflows/test.yml
  README.md
  bin/update_pythons.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  test/utils.py
Due: disallow-caps

fix: use PyPy 7.3.11
  README.md
Due: disallow-caps

Adding tarfile member sanitization to extractall()
  cibuildwheel/__main__.py
Due: none

Update README.md
  README.md
Due: disallow-caps

fix: filter-out unsupported PyPy cross-compilation configs
  .github/workflows/test.yml
  cibuildwheel/macos.py
  test/test_macos_archs.py
Due: none

Add quiet notice about the auto-skipping of arm64 pp builds on x86_64
  cibuildwheel/logger.py
  cibuildwheel/macos.py
Due: none

Copy tweak
  cibuildwheel/macos.py
Due: none

feat: add PyPy macOS arm64 (#1372)
  README.md
  bin/update_pythons.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  test/test_macos_archs.py
  test/utils.py
Due: disallow-caps

Bump version: v2.12.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Updated info for pillow_heif
  docs/working-examples.md
Due: none

Updated info for pillow_heif
  docs/data/projects.yml
Due: none

chore: use ruff
  .pre-commit-config.yaml
  bin/bump_version.py
  bin/update_pythons.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  setup.cfg
  test/test_cpp_standards.py
  test/test_environment.py
  test/test_pure_wheel.py
  unit_test/conftest.py
  unit_test/main_tests/conftest.py
  unit_test/main_tests/main_options_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/main_tests/main_requires_python_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
  unit_test/utils_test.py
  unit_test/wheel_print_test.py
Due: none

chore: use Ruff (#1405)
  .pre-commit-config.yaml
  bin/bump_version.py
  bin/update_pythons.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  setup.cfg
  test/test_cpp_standards.py
  test/test_environment.py
  test/test_pure_wheel.py
  unit_test/conftest.py
  unit_test/main_tests/conftest.py
  unit_test/main_tests/main_options_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/main_tests/main_requires_python_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
  unit_test/utils_test.py
  unit_test/wheel_print_test.py
Due: none

chore: bump ruff and mypy
  .pre-commit-config.yaml
  pyproject.toml
Due: none

style: run pre-commit
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/architecture.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/windows.py
  test/test_pep518.py
  unit_test/main_tests/main_platform_test.py
  unit_test/main_tests/main_requires_python_test.py
Due: none

add information about lack of possibility of cross compile Poetry projects
  docs/faq.md
Due: disallow-caps

update information about poetry state
  docs/faq.md
Due: disallow-caps

Apply suggestions from code review
  docs/faq.md
Due: disallow-caps

fix note text
  docs/faq.md
Due: disallow-caps

fix ruff warnings
  cibuildwheel/util.py
  test/test_projects/base.py
Due: none

chore: fix pylint warnings
  cibuildwheel/environment.py
  pyproject.toml
Due: none

ci: fix appveyor (Python 3.8+ needed for macOS)
  appveyor.yml
Due: none

Update CI table
  CI.md
Due: disallow-caps

fix: pip config options were broken
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  unit_test/main_tests/main_options_test.py
Due: none

refactor: use frontend instead of plural
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  unit_test/main_tests/main_options_test.py
Due: none

Bump version: v2.12.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
