Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Update docs and fix default architectures
  README.md
  cibuildwheel/architecture.py
  docs/faq.md
  docs/options.md
Due: disallow-caps

chore: clean up a little typing (#1291)
  cibuildwheel/architecture.py
  cibuildwheel/typing.py
Due: none

Revert default archs on ARM64 change
  cibuildwheel/architecture.py
  docs/options.md
Due: disallow-caps

AppVeyor supports ARM64 builds
  README.md
Due: disallow-caps

chore: minor cleanups from reverb
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/resources/install_certifi.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
Due: none

Update support for Linux ARM on GitLab
  README.md
  examples/gitlab-with-qemu.yml
Due: disallow-caps

Be more explicit about platform and arch
  examples/gitlab-with-qemu.yml
Due: none

Update windows support on GitLab
  README.md
  examples/gitlab-minimal.yml
Due: disallow-caps

remove submodule checkout
  examples/gitlab-minimal.yml
Due: none

Fix badge URLs
  bin/run_example_ci_configs.py
Due: none

Update azure image
  examples/azure-pipelines-minimal.yml
Due: none

Specify python version
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
Due: none

Fix Gitlab support for bin/run_example_ci_config.py
  bin/run_example_ci_configs.py
Due: none

Update azure image to 20.04 in example and our CI
  azure-pipelines.yml
  examples/azure-pipelines-minimal.yml
Due: none

Fix badge URL
  bin/run_example_ci_configs.py
Due: none

chore: minor cleanups from reverb (#1293)
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/resources/install_certifi.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
Due: none

cleanup and add windows to .gitlab-ci.yml
  .gitlab-ci.yml
  examples/gitlab-minimal.yml
Due: none

add cross building for pybind on gitlab to example
  docs/data/projects.yml
Due: none

chore: better error message when python is missing in an OCI image
  cibuildwheel/linux.py
  test/test_linux_python.py
Due: none

ci: avoid editable installs with old pip
  .circleci/prepare.sh
  .cirrus.yml
  appveyor.yml
Due: none

Revert "ci: avoid editable installs with old pip"
  .circleci/prepare.sh
  .cirrus.yml
  appveyor.yml
Due: none

chore: better error message when python is missing in an OCI image (#1298)
  cibuildwheel/linux.py
  test/test_linux_python.py
Due: none

fix: hide root pip warning on Linux
  cibuildwheel/linux.py
Due: none

fix(tests): use a specific `PIP_CACHE_DIR` per worker
  test/utils.py
Due: none

fix(tests): use a specific `PIP_CACHE_DIR` per worker (#1301)
  test/utils.py
Due: none

fix: hide root pip warning on Linux (#1304)
  cibuildwheel/linux.py
Due: none

pyzmq uses circleci for native arm builds
  docs/data/projects.yml
Due: none

add native arm builds to circleci-minimal example
  examples/circleci-minimal.yml
Due: none

README: circleci supports linux arm
  README.md
Due: disallow-caps

add linux-aarch64 to circleci tests
  .circleci/config.yml
Due: none

Bump version: v2.11.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Fix mistake in Gitlab CI config
  .gitlab-ci.yml
Due: none

Bump version: v2.11.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

chore: test with Python 3.11
  .github/workflows/test.yml
  CI.md
Due: disallow-caps

chore: bump max classifier to 3.11
  .pre-commit-config.yaml
  setup.cfg
Due: none

chore: allow Python 3.11 in the GitHub Action
  action.yml
Due: none

fix: warning when building macOS arm64 wheels
  cibuildwheel/macos.py
  test/test_macos_archs.py
Due: none

Add a test to check that the warning is detected when produced
  test/test_macos_archs.py
Due: none

Suppress pylint warning
  cibuildwheel/windows.py
Due: none

Fix docs on which dirs are mounted in container
  docs/faq.md
Due: disallow-caps

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$
  update-readme-changelog: any of: ^docs/changelog.md$
