Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: v2.37.2
  hooks:
  - id: pyupgrade
    name: PyUpgrade 3.6+
    args: ["--py36-plus"]
    exclude: ^bin/
  - id: pyupgrade
    name: PyUpgrade 3.7+ on bin
    exclude: ^(cibuildwheel|unit_test|test)/
    args: ["--py37-plus"]

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v2.0.4
  hooks:
  - id: pycln
    args: [--all]
    stages: [manual]

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.20.2
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.971
  hooks:
  - id: mypy
    name: mypy 3.6 on cibuildwheel/
    exclude: ^(bin|cibuildwheel/resources|docs)/.*py$
    args: ["--python-version=3.6"]
    additional_dependencies: &mypy-dependencies
      - nox
      - packaging>=21.0
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-dataclasses
      - types-jinja2
      - types-pyyaml
      - types-requests
      - bracex
      - dataclasses
  - id: mypy
    name: mypy 3.7+ on bin/
    files: ^((bin|docs)/.*py)$
    args: ["--python-version=3.7"]
    additional_dependencies: *mypy-dependencies
  - id: mypy
    name: mypy 3.10
    args: ["--python-version=3.10"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/asottile/yesqa
  rev: v1.3.0
  hooks:
  - id: yesqa
    additional_dependencies: &flake8-dependencies
    - flake8-bugbear

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: cibuildwheel/resources/
    additional_dependencies: *flake8-dependencies

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
    stages: [manual]
  - id: python-no-log-warn
  - id: python-no-eval
  - id: python-use-type-annotations

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.4
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: ["-L", "sur"]

Correct macOS ARM64 and Universal2 URLs
  cibuildwheel/resources/build-platforms.toml
Due: none

better MACOSX_DEPLOYMENT_TARGET defaults
  cibuildwheel/macos.py
Due: none

adjust expected wheels
  test/test_macos_archs.py
Due: none

Revert "[pre-commit.ci] auto fixes from pre-commit.com hooks"
  test/test_macos_archs.py
Due: none

Revert "adjust expected wheels"
  test/test_macos_archs.py
Due: none

universal2 can be 10.9?
  cibuildwheel/macos.py
Due: none

only tweak arm64 installer
  cibuildwheel/resources/build-platforms.toml
Due: none

Tweak default mac repair cmd: delocate verbose
  cibuildwheel/resources/defaults.toml
  docs/faq.md
  docs/options.md
  unit_test/main_tests/main_options_test.py
Due: disallow-caps

delocate command is fine on a single line
  cibuildwheel/resources/defaults.toml
Due: none

Add FAQ entry about Python 3.8 native arm64 workaround
  docs/faq.md
Due: disallow-caps

Fix #1161 - stdout is line-buffered during command execution
  cibuildwheel/oci_container.py
Due: none

Apply suggestions from code review
  docs/faq.md
Due: disallow-caps

fix: hide root pip warning on Linux again
  cibuildwheel/linux.py
Due: none

tests: add a check in tests for the pip warning
  test/test_0_basic.py
Due: none

tests: use 3.11 final
  .github/workflows/test.yml
Due: none

tests: include check for upgrade notice too
  test/test_0_basic.py
Due: none

Bump version: v2.11.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

chore: remove comment block in `docs/working-examples.md`
  bin/projects.py
  docs/working-examples.md
Due: disallow-caps

chore: remove comment block in `docs/working-examples.md` (#1328)
  bin/projects.py
  docs/working-examples.md
Due: disallow-caps

Add picologging to examples
  docs/data/projects.yml
Due: none

Add test failure with descriptive error message when running tests without a {project} placeholder
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/resources/testing_temp_dir_file.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  test/test_testing.py
Due: none

fix: action more native on Windows
  action.yml
Due: none

fix: powershell on Windows
  action.yml
Due: none

Suggest running abi3audit in docs
  docs/faq.md
Due: disallow-caps

Ignore resources dir for mypy in pre-commit
  .pre-commit-config.yaml
Due: none

fix gitlab windows ci config
  .gitlab-ci.yml
Due: none

Fix issue with non-failing test on cp38/arm64
  test/test_testing.py
Due: none

fix: action using powershell on Windows (#1346)
  action.yml
Due: none

Improve the formatting of the preamble
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/environment.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  unit_test/linux_build_steps_test.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
  unit_test/utils.py
Due: none

Use 'gray' instead of 'dim' ANSI color (github doesn't seem to support 'dim')
  cibuildwheel/logger.py
  cibuildwheel/options.py
Due: none

Remove 'apt-get upgrade -y' from podman install
  .github/workflows/test.yml
Due: none

Use an 8-bit gray instead
  cibuildwheel/logger.py
Due: none

Update .github/workflows/update-dependencies.yml
  .github/workflows/update-dependencies.yml
Due: none

Workaround the Github forgetting styles bug
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/util.py
Due: none

Add a unit test for the workaround, and fix a bug
  cibuildwheel/util.py
  unit_test/utils_test.py
Due: none

add to multiline example
  docs/options.md
Due: disallow-caps

Apply suggestions from code review
  cibuildwheel/options.py
Due: none

Rename 'environ' to 'env'
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  unit_test/linux_build_steps_test.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
Due: none

Use a unittest style test to support more test runners
  cibuildwheel/resources/testing_temp_dir_file.py
  test/test_testing.py
Due: none
