Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

Clarify `test-sources` docs
  README.md
  docs/changelog.md
  docs/options.md
Due: disallow-caps, cog

feat: add default riscv64 images
  bin/update_docker.py
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_emulation.py
  test/utils.py
Due: disallow-caps, cog

Update to Python 3.13.5+20250722.214220
  cibuildwheel/resources/build-platforms.toml
Due: none

feat: add default riscv64 images (#2506)
  bin/update_docker.py
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_emulation.py
  test/utils.py
Due: disallow-caps, cog

feat: build 3.14 (rc1) by default
  README.md
  cibuildwheel/selector.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

chore: avoid warning about positional params
  pyproject.toml
Due: none

chore: fix typing issue from match statement
  cibuildwheel/projectfiles.py
Due: none

feat: add support for building Android wheels (#2349)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  azure-pipelines.yml
  bin/generate_schema.py
  bin/update_pythons.py
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/frontend.py
  cibuildwheel/logger.py
  cibuildwheel/options.py
  cibuildwheel/platforms/__init__.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/_cross_venv.pth
  cibuildwheel/resources/_cross_venv.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/testing_temp_dir_file.py
  cibuildwheel/typing.py
  cibuildwheel/util/packaging.py
  docs/changelog.md
  docs/ci-services.md
  docs/options.md
  docs/platforms.md
  examples/github-deploy.yml
  pyproject.toml
  test/test_android.py
  test/test_projects/c.py
  test/utils.py
  unit_test/architecture_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

fix: regenerate schema
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

Bump version: v3.1.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

feat: riscv64 builds are now enabled by default
  cibuildwheel/selector.py
  docs/options.md
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps, cog

Update platforms.md
  docs/platforms.md
Due: disallow-caps

BUG: fix incorrect reporting of number of wheels produced
  cibuildwheel/logger.py
  unit_test/wheel_print_test.py
Due: none

BUG: fix incorrect naming of test only sessions in html summaries
  cibuildwheel/logger.py
Due: none

Add Cirrus macOS as a runner that supports building for Android but not testing
  test/test_android.py
Due: none

Try to trigger Cirrus by changing .cirrus.yml
  .cirrus.yml
Due: none

fix: report defects in logs and HTML summaries (#2512)
  cibuildwheel/logger.py
  unit_test/wheel_print_test.py
Due: none

docs: iOS typo fix in docs (#2510)
  docs/platforms.md
Due: disallow-caps

First set of changes to setup.md
  docs/setup.md
Due: disallow-caps

Update docs/setup.md
  docs/setup.md
Due: disallow-caps

Android: execute `wheel` via `sys.executable`
  cibuildwheel/platforms/android.py
Due: none

Suppress unhelpful cyclic-import warning
  cibuildwheel/platforms/android.py
Due: none

Bump version: v3.1.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

Adding @mhsmith as platform maintainer for Android
  .github/CODEOWNERS
  README.md
Due: disallow-caps, cog

Add Cirrus macOS as a runner that supports building for Android but not testing (#2514)
  .cirrus.yml
  test/test_android.py
Due: none

feat: riscv64 builds are now enabled by default (#2509)
  cibuildwheel/selector.py
  docs/options.md
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps, cog

fix(android): execute `wheel` via `sys.executable` (#2515)
  cibuildwheel/platforms/android.py
Due: none

docs: clarify language around Python requirements for local `cibuildwheel` usage (#2513)
  docs/setup.md
Due: disallow-caps

GraalPy on Windows now works with virtualenv
  cibuildwheel/platforms/windows.py
  test/test_dependency_versions.py
  test/test_pep518.py
Due: none

GraalPy made a release where pytest works on Windows
  test/test_before_test.py
  test/test_testing.py
Due: none

BUG: fix incorrect number of wheels in logs
  cibuildwheel/logger.py
Due: none

ci: rework tests to break out ios/android tests
  .github/workflows/test.yml
  bin/run_tests.py
  pyproject.toml
  test/test_android.py
  test/test_ios.py
  test/test_pyodide.py
Due: none

Apply suggestions from code review
  .github/workflows/test.yml
  test/test_android.py
Due: none

Apply suggestions from code review
  .github/workflows/test.yml
  bin/run_tests.py
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

ci: fix check for wheels
  .github/workflows/test.yml
Due: none

add a test
  unit_test/wheel_print_test.py
Due: none

BUG: fix incorrect number of wheels in logs (#2517)
  cibuildwheel/logger.py
  unit_test/wheel_print_test.py
Due: none

fix: error on CIBW_FREE_THREADED_SUPPORT set
  cibuildwheel/__main__.py
  unit_test/main_tests/main_options_test.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
