Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: fa93bc3224c614a0e9786d3e2d3d48edcca246eb  # frozen: v0.15.1
  hooks:
  - id: ruff-check
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    exclude: ^cibuildwheel/resources/_cross_venv.py$  # Requires Python 3.13 or later
    additional_dependencies: &mypy-dependencies
      - bracex
      - build
      - dependency-groups>=1.2
      - humanize
      - nox>=2025.2.9
      - orjson
      - packaging
      - pyelftools
      - pygithub
      - pytest
      - rich
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.14
    args: ["--python-version=3.14"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp>=3.5]

- repo: https://github.com/codespell-project/codespell
  rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: f761d025eb06bcd6a45bf152ba3593c9b8ad9a9b  # frozen: 0.36.2
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

Documentation clarifications
  docs/options.md
Due: disallow-caps, cog

Fortran shim improvements
  cibuildwheel/resources/android/fortran_shim.py
  docs/options.md
Due: disallow-caps, cog

Add Jinja variables to new_meson_project
  test/test_android.py
  test/test_projects/meson.py
Due: none

Update run_example_ci_configs for changed new_meson_project signature
  bin/run_example_ci_configs.py
Due: none

Add missing dependency to run_example_ci_configs
  bin/run_example_ci_configs.py
Due: none

feat: add SHA256 verification for direct downloads
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/python-build-standalone-releases.json
  cibuildwheel/resources/virtualenv.toml
  cibuildwheel/util/file.py
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/venv.py
Due: none

fix: address review comment moving this for Android
  cibuildwheel/platforms/android.py
Due: none

fix: populate sha256 in resource files and fix Windows PythonConfiguration
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/python-build-standalone-releases.json
  cibuildwheel/resources/virtualenv.toml
Due: none

fix: also include pyodide
  bin/update_pythons.py
  cibuildwheel/extra.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  docs/_internal/pyodide-maintenance.md
Due: disallow-caps

feat: Android improvements needed for building NumPy and related packages (#2695)
  .pre-commit-config.yaml
  README.md
  bin/generate_schema.py
  bin/run_example_ci_configs.py
  cibuildwheel/options.py
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/android/_cross_venv.py
  cibuildwheel/resources/android/fortran_shim.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.in
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/defaults.toml
  cibuildwheel/util/helpers.py
  docs/configuration.md
  docs/data/how-it-works.png
  docs/diagram.html
  docs/options.md
  docs/platforms.md
  pyproject.toml
  test/test_android.py
  test/test_projects/meson.py
  test/test_projects/setuptools.py
  test/utils.py
  unit_test/options_test.py
  unit_test/utils_test.py
Due: disallow-caps, cog

feat: add CIBUILDWHEEL_BUILD_IDENTIFIER environment variable (#2872)
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  docs/options.md
Due: disallow-caps, cog

docs: add delvewheel to diagram, schema defaults, and docs
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  docs/contributing.md
  docs/data/how-it-works.png
  docs/diagram.html
  docs/options.md
Due: disallow-caps, cog

docs: support intersphinx (#2871)
  docs/changelog.md
  docs/ci-services.md
  docs/configuration.md
  docs/contributing.md
  docs/cpp_standards.md
  docs/deliver-to-pypi.md
  docs/faq.md
  docs/index.md
  docs/options.md
  docs/platforms.md
  docs/setup.md
  docs/working-examples.md
  mkdocs.yml
  pyproject.toml
Due: disallow-caps, cog

fix: also include pyodide
  bin/update_pythons.py
  cibuildwheel/extra.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  docs/_internal/pyodide-maintenance.md
  unit_test/pyodide_test.py
Due: disallow-caps

fix: require sha256 for download configs
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/util/resources.py
  cibuildwheel/venv.py
  unit_test/resources_test.py
Due: none

ci: remove unit test for bin item
  unit_test/resources_test.py
Due: none

refactor: combine sha256 unit tests into test_sha256.py
  unit_test/pyodide_test.py
  unit_test/test_sha256.py
Due: none

docs: add delvewheel to diagram, schema defaults, and docs (#2877)
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  docs/contributing.md
  docs/data/how-it-works.png
  docs/diagram.html
  docs/options.md
Due: disallow-caps, cog

feat: add SHA256 verification for direct downloads (#2873)
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/extra.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/python-build-standalone-releases.json
  cibuildwheel/resources/virtualenv.toml
  cibuildwheel/util/file.py
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/util/resources.py
  cibuildwheel/venv.py
  docs/_internal/pyodide-maintenance.md
  unit_test/test_sha256.py
Due: disallow-caps

docs: bump actions/cache v4 to v5
  docs/faq.md
Due: disallow-caps

chore: add unit tests for `OCIContainer._get_platform_args`
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

fix: re-add `check=False` removed at some point in local testing
  unit_test/oci_container_test.py
Due: none

fix: ensure clean-up on container start failure and warn on removal failure
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

Potential fix for pull request finding
  cibuildwheel/oci_container.py
Due: none

chore: add unit tests for `OCIContainer._get_platform_args` (#2878)
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

fix: ensure clean-up on container start failure and warn on removal failure (#2879)
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

Modernise GitLab CI config
  .gitlab-ci.yml
Due: none

ci: exclude graalpy on GitLab Windows runners
  .gitlab-ci.yml
Due: none

Try to fix the problem with py trying to execute the shebang
  .gitlab-ci.yml
Due: none

run whenever the branch name starts with gitlab
  .gitlab-ci.yml
Due: none

fix: prevent deadlock when `linux32` fails
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

fix: prevent deadlock when `linux32` fails (#2880)
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

ci: fix Windows Gitlab test running (#2870)
  .gitlab-ci.yml
Due: none

fix: remove potential partial extraction in case of error
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/util/file.py
Due: none

Update file.py
  cibuildwheel/util/file.py
Due: none

fix: config settings expansion issue
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  unit_test/options_test.py
Due: none

fix: ensure container removal on teardown even if bash hangs or dies
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

fix: pass platform args to linux32 deadlock sanity check
  cibuildwheel/oci_container.py
Due: none
