Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Add docs note
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

Move to pyodide v0.27.6 again
  unit_test/options_test.py
Due: none

ci: fix failing tests due to rate-limiting (#2401)
  test/test_ssl.py
  unit_test/download_test.py
Due: none

Bump to pyodide-build 0.30.4
  cibuildwheel/resources/constraints-pyodide312.txt
Due: none

Use new URL for cross-build environments metadata
  cibuildwheel/extra.py
Due: none

Add TEST_ENVIRONMENT option and set PYTHONSAFEPATH=1 in the test env (#2388)
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  docs/options.md
  test/test_testing.py
Due: disallow-caps

feat: Pyodide improvements: version setting, standalone environments (#2002)
  .github/workflows/test.yml
  action.yml
  bin/generate_pyodide_constraints.py
  bin/generate_schema.py
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  cibuildwheel/extra.py
  cibuildwheel/options.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/python-build-standalone-releases.json
  cibuildwheel/util/packaging.py
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/util/resources.py
  docs/options.md
  docs/platforms.md
  noxfile.py
  test/test_abi_variants.py
  test/test_custom_repair_wheel.py
  test/test_dependency_versions.py
  test/test_environment.py
  test/test_pep518.py
  test/test_pyodide.py
  test/test_testing.py
  test/utils.py
  unit_test/options_test.py
  unit_test/utils_test.py
Due: disallow-caps

docs: flip TOML and envvars order
  docs/options.md
Due: disallow-caps

docs: fix more issues, normalize a bit
  docs/options.md
Due: disallow-caps

docs: fix more refs to be toml style
  docs/options.md
Due: disallow-caps

docs: fix and fill out more
  docs/options.md
Due: disallow-caps

Add option tag labels to each header
  docs/extra.css
  docs/options.md
Due: disallow-caps

docs: include pyodide-version in reordering
  docs/options.md
Due: disallow-caps

[travis-ci] Use a more broadly compatible before_all command
  test/test_before_all.py
Due: none

Drop CIBW_ENABLE=all on Travis windows It doesn't fit into the time limit
  .travis.yml
Due: none

[travis-ci] debugging ci failures on travis
  cibuildwheel/platforms/windows.py
Due: none

[travis-ci] Use JSON to encode env vars
  cibuildwheel/platforms/windows.py
Due: none

Apply suggestions from code review
  docs/options.md
Due: disallow-caps

docs: use all lowercase
  docs/options.md
Due: disallow-caps

docs: fix missing CIBW
  docs/options.md
Due: disallow-caps

docs: color output for docs
  .readthedocs.yml
  docs/main.py
  docs/options.md
  pyproject.toml
Due: disallow-caps

ci: add labels to autoupdate
  .github/workflows/update-dependencies.yml
Due: none

ci: add labels to autoupdate (#2408)
  .github/workflows/update-dependencies.yml
Due: none

[travis-ci] try upgrading certifi to get around SSL errors
  cibuildwheel/platforms/windows.py
Due: none

chore: move codespell config to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: move codespell config to pyproject.toml (#2409)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Bump version: v3.0.0b2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

docs: revert order of toml & environment variables in "getting started"
  docs/setup.md
Due: disallow-caps

Revert "[travis-ci] try upgrading certifi to get around SSL errors"
  cibuildwheel/platforms/windows.py
Due: none

[travis-ci] upgrade windows certificates
  .travis.yml
Due: none

[travis-ci] re-enable linux builds
  .travis.yml
Due: none

Improve formatting of the build/skip table and big tables in general
  docs/extra.css
  docs/options.md
Due: disallow-caps

Add graalpy to the build identifiers page
  docs/options.md
Due: disallow-caps

Improve scroll target positioning
  docs/extra.css
Due: none

Fix the outdated examples for `build-frontend`
  docs/options.md
Due: disallow-caps

Fix non-options appearing in options summary, style options in sidebar
  docs/options.md
Due: disallow-caps

build-frontend isn't available as a command-line option
  docs/options.md
Due: disallow-caps

Fix the layout of badges into a flexbox, to prevent strange floats
  docs/options.md
Due: disallow-caps

Fix table appearance on working-examples page
  docs/working-examples.md
Due: none

Improve table formatting
  docs/extra.css
  docs/working-examples.md
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
