Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.12
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.0
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - dependency-groups>=1.2
      - nox>=2025.2.9
      - orjson
      - packaging
      - pygithub
      - pytest
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.13
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.13"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.0
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

chore: order python-standalone releases for stability
  bin/update_python_build_standalone.py
  cibuildwheel/resources/python-build-standalone-releases.json
Due: none

Set sysconfig._BASE_PREFIX to support sysconfig.get_path("include")
  cibuildwheel/resources/_cross_venv.py
Due: none

Get ANDROID_API_LEVEL from the build environment, not cibuildwheel's own environment
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

chore: order python-standalone releases for stability (#2456)
  bin/update_python_build_standalone.py
  cibuildwheel/resources/python-build-standalone-releases.json
Due: none

ci: update example too
  examples/cirrus-ci-minimal.yml
Due: none

Revert "ci: update example too"
  examples/cirrus-ci-minimal.yml
Due: none

chore: handle update of cog
  .pre-commit-config.yaml
  README.md
Due: disallow-caps, cog

chore: handle update of cog to 3.5 (#2459)
  .pre-commit-config.yaml
  README.md
Due: disallow-caps, cog

feat: remove 32-bit linux from auto arch, fix auto32 on linux aarch64
  cibuildwheel/architecture.py
  docs/options.md
  test/utils.py
  unit_test/architecture_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

Apply suggestions from code review
  cibuildwheel/architecture.py
  docs/options.md
Due: disallow-caps, cog

Correct relative path of test-sources
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

Update cibuildwheel/architecture.py
  cibuildwheel/architecture.py
Due: none

Move to the `OS-latest` image tags on Azure Pipelines
  azure-pipelines.yml
  examples/azure-pipelines-minimal.yml
Due: none

Move to the `OS-latest` image tags on Azure Pipelines (#2461)
  azure-pipelines.yml
  examples/azure-pipelines-minimal.yml
Due: none

ci: skip unrelated changes more often
  .cirrus.yml
  .github/workflows/test.yml
  azure-pipelines.yml
Due: none

ci: fix Cirrus CI on Windows
  .cirrus.yml
  examples/cirrus-ci-minimal.yml
  test/test_ssl.py
Due: none

ci: fix cirrus and reduce rebuilds (#2460)
  .cirrus.yml
  .github/workflows/test.yml
  azure-pipelines.yml
  examples/cirrus-ci-minimal.yml
  test/test_ssl.py
Due: none

feat: remove 32-bit linux from auto arch, fix auto32 on linux aarch64 (#2458)
  cibuildwheel/architecture.py
  docs/options.md
  test/utils.py
  unit_test/architecture_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

ci: use uv python for docs (binary b1)
  .readthedocs.yml
Due: none

chore: use pip's groups in CI
  .circleci/prepare.sh
  .gitlab-ci.yml
  .travis.yml
  azure-pipelines.yml
Due: none

ci: use uv python for docs (binary b1) (#2462)
  .readthedocs.yml
Due: none

Bump version: v3.0.0rc3
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

docs: add tips for numpy
  docs/faq.md
Due: disallow-caps

docs: update example for numpy 2.3.0
  docs/faq.md
Due: disallow-caps

Update docs/faq.md
  docs/faq.md
Due: disallow-caps

Remove console warning
  docs/theme_overrides/js/theme.js
Due: none

Fix table overflow issue on mobile
  docs/extra.css
Due: none

chore: use pip's groups in CI (#2463)
  .circleci/prepare.sh
  .gitlab-ci.yml
  .travis.yml
  azure-pipelines.yml
Due: none

docs: add tips for numpy (#2465)
  docs/faq.md
Due: disallow-caps

Docs: mobile layout fix (#2466)
  docs/extra.css
  docs/theme_overrides/js/theme.js
Due: none

Pass a CMake toolchain file to the build
  cibuildwheel/platforms/android.py
  examples/github-deploy.yml
Due: none

Bump version: v3.0.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

chore: minor tweeks to generate schema script
  bin/generate_schema.py
Due: none

Add "repair" step which adds libc++ to the wheel when necessary
  .pre-commit-config.yaml
  cibuildwheel/platforms/android.py
  docs/options.md
  docs/platforms.md
  pyproject.toml
  test/test_android.py
  test/test_projects/c.py
Due: disallow-caps, cog

Add missing needs_emulator decorator
  test/test_android.py
Due: none

docs: include Windows ARM
  README.md
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
Due: disallow-caps, cog

chore: add summary to Action
  .github/workflows/test.yml
  action.yml
Due: none

refactor: new summary table
  action.yml
  cibuildwheel/__main__.py
  cibuildwheel/logger.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
Due: none

fix: fixup tests and formatting
  cibuildwheel/logger.py
  unit_test/wheel_print_test.py
Due: none

fix: pyodide missing some logging
  cibuildwheel/logger.py
  cibuildwheel/platforms/pyodide.py
Due: none
