Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

Correct a download URL.
  cibuildwheel/resources/build-platforms.toml
Due: none

Distinguish between `pyodide-build` and `pypa/build`
  cibuildwheel/frontend.py
Due: none

Try to add a test, not sure if this is correct
  unit_test/main_tests/main_options_test.py
Due: none

Redo test
  unit_test/main_tests/main_options_test.py
Due: none

(Debug) add "PYODIDE" environment variable
  cibuildwheel/frontend.py
  cibuildwheel/platforms/pyodide.py
Due: none

The code path is being called correctly indeed
  cibuildwheel/frontend.py
Due: none

Minor tweak to re-trigger CI.
  .github/workflows/test.yml
Due: none

fix: resolve issues with macOS-15 runners (#2607)
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
  docs/platforms.md
Due: disallow-caps

Python 3.14 on macOS requires MACOSX_DEPLOYMENT_TARGET set to 10.15
  README.md
  cibuildwheel/platforms/macos.py
  docs/platforms.md
  test/utils.py
Due: disallow-caps, cog

Update README.md
  README.md
Due: disallow-caps, cog

doc: include free-threading builds in identifier list
  docs/options.md
Due: disallow-caps, cog

doc: update Python 3.13 as well
  docs/options.md
Due: disallow-caps, cog

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix: Python 3.14 on macOS requires MACOSX_DEPLOYMENT_TARGET set to 10.15 (#2613)
  README.md
  cibuildwheel/platforms/macos.py
  docs/platforms.md
  test/utils.py
Due: disallow-caps, cog

docs: include free-threading builds in identifier list (#2617)
  docs/options.md
Due: disallow-caps, cog

fix: python-platfrom on uv
  cibuildwheel/platforms/android.py
Due: none

fix: use uv in test environment too
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

feat: support uv with Android
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

tests: rework skips to show uv vs. build
  test/conftest.py
  test/test_android.py
Due: none

fix: python-platfrom on uv is different
  cibuildwheel/platforms/android.py
Due: none

docs: touch up description for build-frontend
  docs/options.md
Due: disallow-caps, cog

Revert "tests: rework skips to show uv vs. build (again)"
  cibuildwheel/platforms/android.py
  test/conftest.py
Due: none

tests: rework skips to show uv vs. build (again)
  cibuildwheel/platforms/android.py
  test/conftest.py
Due: none

tests: make skips aware of markers
  test/conftest.py
Due: none

Update cibuildwheel/platforms/android.py
  cibuildwheel/platforms/android.py
Due: none

Make the {project} placeholder available to repair-wheel-command
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  docs/options.md
  test/test_custom_repair_wheel.py
Due: disallow-caps, cog

docs: Note the evalution order of environment variables
  docs/options.md
Due: disallow-caps, cog

Bump version: v3.2.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

pyzmq no longer uses CircleCI
  docs/data/projects.yml
Due: none

Remove example that doesn't reinforce good practice
  docs/options.md
Due: disallow-caps, cog

Update to Python 3.13.8
  cibuildwheel/resources/build-platforms.toml
Due: none

Update documentation and tests
  README.md
  cibuildwheel/platforms/android.py
  docs/options.md
  test/test_android.py
Due: disallow-caps, cog

docs: working examples: pyzmq no longer uses CircleCI (#2620)
  docs/data/projects.yml
Due: none

docs: Note the evalution order of environment variables (#2618)
  docs/options.md
Due: disallow-caps, cog

Add separate test for {project} placeholder in repair-wheel-command
  test/test_custom_repair_wheel.py
Due: none

chore: fix warning on pylint 4
  cibuildwheel/projectfiles.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
