Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.13
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.0
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - dependency-groups>=1.2
      - nox>=2025.2.9
      - orjson
      - packaging
      - pygithub
      - pytest
      - rich
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.13
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.13"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp>=3.5]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.0
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

fix: uv doesn't pick special Pythons at the top of the path
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
Due: none

Revert "tests: add pyproject.toml for failing test"
  test/test_troubleshooting.py
Due: none

tests: skip uv output test
  test/test_troubleshooting.py
Due: none

chore: linting updates
  .pre-commit-config.yaml
  bin/projects.py
  test/test_ios.py
  test/test_pyodide.py
  unit_test/main_commands_test.py
Due: none

feat: support uv with Android
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

feat: support uv with iOS
  cibuildwheel/platforms/ios.py
  test/test_ios.py
Due: none

tests: rework skips to show uv vs. build
  test/conftest.py
  test/test_android.py
Due: none

tests: rework skips to show uv vs. build (again)
  cibuildwheel/platforms/android.py
  test/conftest.py
Due: none

Revert "tests: rework skips to show uv vs. build (again)"
  cibuildwheel/platforms/android.py
  test/conftest.py
Due: none

tests: make skips aware of markers
  test/conftest.py
Due: none

Make the {project} placeholder available to repair-wheel-command
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  docs/options.md
  test/test_custom_repair_wheel.py
Due: disallow-caps, cog

Update Android test-command handling
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

Add CMAKE_CROSSCOMPILING_EMULATOR to Android CMake toolchain
  cibuildwheel/platforms/android.py
Due: none

chore: linting updates (#2585)
  .pre-commit-config.yaml
  bin/projects.py
  test/test_ios.py
  test/test_pyodide.py
  unit_test/main_commands_test.py
Due: none

Add separate test for {project} placeholder in repair-wheel-command
  test/test_custom_repair_wheel.py
Due: none

Improve information about configuration overriding
  docs/configuration.md
Due: disallow-caps

remove obsolete "
  docs/configuration.md
Due: disallow-caps

Add GraalPy 25 and remove workarounds for that version.
  README.md
  bin/update_pythons.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_abi_variants.py
  test/test_dependency_versions.py
  test/utils.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

Replace `macos-13` images with `macos-15-intel`
  .github/workflows/test.yml
  README.md
  docs/platforms.md
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
Due: disallow-caps, cog

Remove setting of VIRTUALENV_PIP (it doesn't appear to have any effect)
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
Due: none

Alter tests to assert the versions in before_build, not setup.py
  test/test_dependency_versions.py
Due: none

Update docs/configuration.md
  docs/configuration.md
Due: disallow-caps

Add CMAKE_CROSSCOMPILING_EMULATOR to Android CMake toolchain (#2591)
  cibuildwheel/platforms/android.py
Due: none

Skip the util-test on linux
  test/test_dependency_versions.py
Due: none

Replace the `macos-13` images with the `macos-15-intel` images (GHA) (#2601)
  .github/workflows/test.yml
  README.md
  docs/platforms.md
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
Due: disallow-caps, cog

Improve information about configuration overriding (#2598)
  docs/configuration.md
Due: disallow-caps

add requests to the docs dependencies
  pyproject.toml
Due: none

Add GraalPy 25 and remove workarounds for that version. (#2597)
  README.md
  bin/update_pythons.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_abi_variants.py
  test/test_dependency_versions.py
  test/utils.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

Bump version: v3.2.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

fix: use uv in test environment too
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

docs: touch up description for build-frontend
  docs/options.md
Due: disallow-caps, cog

fix: python-platfrom on uv
  cibuildwheel/platforms/android.py
Due: none

fix: python-platfrom on uv is different
  cibuildwheel/platforms/android.py
Due: none

Update iOS support packages to use new-style Xcode runner.
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
  docs/platforms.md
Due: disallow-caps

Explicitly set the Xcode version for macOS runners.
  .github/workflows/test.yml
Due: none
