Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: v2.37.2
  hooks:
  - id: pyupgrade
    name: PyUpgrade 3.6+
    args: ["--py36-plus"]
    exclude: ^bin/
  - id: pyupgrade
    name: PyUpgrade 3.7+ on bin
    exclude: ^(cibuildwheel|unit_test|test)/
    args: ["--py37-plus"]

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v2.0.4
  hooks:
  - id: pycln
    args: [--all]
    stages: [manual]

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.20.2
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.971
  hooks:
  - id: mypy
    name: mypy 3.6 on cibuildwheel/
    exclude: ^(bin|cibuildwheel/resources|docs)/.*py$
    args: ["--python-version=3.6"]
    additional_dependencies: &mypy-dependencies
      - nox
      - packaging>=21.0
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-dataclasses
      - types-jinja2
      - types-pyyaml
      - types-requests
      - bracex
      - dataclasses
  - id: mypy
    name: mypy 3.7+ on bin/
    files: ^((bin|docs)/.*py)$
    args: ["--python-version=3.7"]
    additional_dependencies: *mypy-dependencies
  - id: mypy
    name: mypy 3.10
    args: ["--python-version=3.10"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/asottile/yesqa
  rev: v1.3.0
  hooks:
  - id: yesqa
    additional_dependencies: &flake8-dependencies
    - flake8-bugbear

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: cibuildwheel/resources/
    additional_dependencies: *flake8-dependencies

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
    stages: [manual]
  - id: python-no-log-warn
  - id: python-no-eval
  - id: python-use-type-annotations

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.4
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: ["-L", "sur"]

style: typing.cast instead of plain cast
  cibuildwheel/__main__.py
Due: none

refactor: revert to fewer changes
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  unit_test/options_test.py
Due: none

feat: add formatted identifier printout
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/windows.py
  unit_test/options_test.py
  unit_test/utils.py
Due: none

feat: include setting in action
  action.yml
  cibuildwheel/__main__.py
Due: none

feat: add only: to the GHA
  action.yml
  cibuildwheel/__main__.py
  cibuildwheel/options.py
Due: none

docs: only macOS platforms support macOS ARM
  README.md
Due: disallow-caps

feat: add --only (#1098)
  action.yml
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  docs/options.md
  unit_test/main_tests/conftest.py
  unit_test/main_tests/main_platform_test.py
  unit_test/utils.py
Due: disallow-caps

docs: only macOS platforms support macOS ARM (#1264)
  README.md
Due: disallow-caps

fix: better cross-platform auto archs
  cibuildwheel/architecture.py
  unit_test/architecture_test.py
Due: none

Increase Cirrus CI timeout
  .cirrus.yml
Due: none

Bump version: v2.10.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Increase Cirrus CI timeout (#1267)
  .cirrus.yml
Due: none

chore: fix typing Final usage for PyLance
  cibuildwheel/util.py
Due: none

chore: use raise SystemExit over sys.exit
  bin/bump_version.py
  bin/make_dependency_update_pr.py
  bin/run_example_ci_configs.py
  bin/sample_build.py
  bin/update_readme_changelog.py
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/windows.py
Due: none

chore: cleanup types (#1263)
  cibuildwheel/util.py
Due: none

chore: drop [all] extra
  setup.py
Due: none

chore: cleaner exception tracebacks
  bin/run_example_ci_configs.py
  bin/update_pythons.py
  cibuildwheel/__main__.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/functools_cached_property_38.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/windows.py
  test/test_dependency_versions.py
  test/utils.py
  unit_test/main_tests/conftest.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
Due: none

chore(bin): remove ghapi requirement
  bin/inspect_all_known_projects.py
  pyproject.toml
  setup.py
Due: none

Apply suggestions from code review
  cibuildwheel/functools_cached_property_38.py
  cibuildwheel/logger.py
Due: none

Add failing test
  unit_test/options_test.py
Due: none

Revert to the previous quoting behaviour for environment option
  cibuildwheel/environment.py
  cibuildwheel/options.py
  cibuildwheel/typing.py
  pyproject.toml
  unit_test/options_test.py
Due: none

Fix typing-extensions requirement
  setup.cfg
Due: none

Bump version: v2.10.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Fix diagram venv box location
  docs/diagram.md
Due: disallow-caps

Add script to generate the image from HTML
  bin/update_how_it_works_image.py
  docs/data/how-it-works.png
Due: none

Refactor a little to minimise changes and clarify naming
  cibuildwheel/architecture.py
Due: none

Add failing test
  unit_test/main_tests/main_platform_test.py
Due: none

Fix win32 identifiers with --only
  cibuildwheel/__main__.py
Due: none

Bump version: v2.10.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Fix/improve changelog formatting in the docs
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

feature: allow testing cp38-macosx_arm64 wheel
  .cirrus.yml
  cibuildwheel/macos.py
  test/conftest.py
  test/test_macos_archs.py
  unit_test/conftest.py
Due: none

Fix request
  test/test_ssl.py
Due: none

Add a cloudflare URL to the SSL tests
  test/test_ssl.py
Due: none

Add user-agent
  test/test_ssl.py
Due: none

Rename variable to match one added to setuptools
  cibuildwheel/windows.py
Due: none

Add skip for missing ARM64 tools
  test/test_windows.py
Due: none

For mypy
  test/test_windows.py
Due: none

Tidy up the Tips and Tricks page and add information about Homebrew deps
  docs/deliver-to-pypi.md
  docs/faq.md
Due: disallow-caps

chore: clean up a little typing
  cibuildwheel/typing.py
Due: none

chore: avoid issue with pylint
  cibuildwheel/architecture.py
Due: none
