Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

fix(ci): use uv to run nox in the update-dependencies workflow (#2808)
  .github/workflows/update-dependencies.yml
Due: none

break: drop Python 3.8
  .cirrus.yml
  README.md
  cibuildwheel/__main__.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python38.txt
  docs/configuration.md
  docs/contributing.md
  docs/faq.md
  docs/options.md
  docs/platforms.md
  examples/circleci-minimal.yml
  noxfile.py
  test/conftest.py
  test/test_abi_variants.py
  test/test_container_images.py
  test/test_dependency_versions.py
  test/test_macos_archs.py
  test/test_testing.py
  test/utils.py
  unit_test/conftest.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

fix: android tests using the uv frontend (#2809)
  .github/workflows/test.yml
  cibuildwheel/platforms/android.py
Due: none

docs: add Android & iOS to working examples
  bin/projects.py
  docs/data/projects.schema.json
  docs/data/projects.yml
  docs/data/readme_icons/android.svg
  docs/data/readme_icons/ios.svg
Due: none

Use `pyodide config get emscripten_dir`
  cibuildwheel/platforms/pyodide.py
Due: none

Update constraints
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
Due: none

Updates for `pyemscripten` platform tag
  test/test_pyodide.py
  test/utils.py
Due: none

Discard changes to cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide312.txt
Due: none

Discard changes to cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide313.txt
Due: none

Weird constraints stuff...
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Revert "Weird constraints stuff..."
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Add some special constraints for pyodide
  test/test_dependency_versions.py
Due: none

Wheel pyemscripten collision
  test/test_custom_repair_wheel.py
Due: none

Put delocate back in constraints (not needed tho)
  test/test_dependency_versions.py
Due: none

docs: add Android & iOS to working examples (#2811)
  bin/projects.py
  docs/data/projects.schema.json
  docs/data/projects.yml
  docs/data/readme_icons/android.svg
  docs/data/readme_icons/ios.svg
Due: none

Remove 'importlib_resources' from ignored imports
  pyproject.toml
Due: none

Add missing CHANGELOG entries for Pyodide 0.29 updates
  README.md
  docs/changelog.md
Due: disallow-caps, cog

Create greyed-out Pyodide icon
  docs/data/readme_icons/pyodide.svg
Due: none

Add Pyodide icon to NumPy and scikit-learn
  README.md
Due: disallow-caps, cog

Add new Pyodide data to projects fields
  bin/projects.py
  docs/data/projects.schema.json
  docs/data/projects.yml
Due: none

Allow local SVG usage if missing in simple-icons
  bin/projects.py
Due: none

Fix deprecated `login_or_token` argument
  bin/projects.py
Due: none

Regenerate working examples with Android, iOS, and Pyodide data
  README.md
  docs/working-examples.md
Due: disallow-caps, cog

Add Pyodide to the "Usage" table
  README.md
Due: disallow-caps, cog

Add ⚠️⁵ to the table indicating Pyodide being untested
  README.md
Due: disallow-caps, cog

add pybase64 to the list of projects building pyodide wheels
  docs/data/projects.yml
Due: none

Update and format table + maybe this looks nicer
  README.md
Due: disallow-caps, cog

Downscale Pyodide SVG to 16px width
  docs/data/readme_icons/pyodide.svg
Due: none

Reformat tables and superscript references a bit more
  README.md
Due: disallow-caps, cog

Update diagram with details of Android, iOS, and Pyodide builds
  docs/diagram.html
Due: none

Update diagram as well
  docs/data/how-it-works.png
Due: none

docs: add a Pyodide icon and misc. stuff + regenerate projects and working examples data for Android, iOS, and Pyodide (#2815)
  README.md
  bin/projects.py
  docs/data/projects.schema.json
  docs/data/projects.yml
  docs/data/readme_icons/pyodide.svg
  docs/working-examples.md
Due: disallow-caps, cog

Add missing CHANGELOG entries for Pyodide 0.29 updates (#2814)
  README.md
  docs/changelog.md
Due: disallow-caps, cog

Simplify
  docs/diagram.html
Due: none

Improve WCAG for some text elements
  docs/diagram.html
Due: none

Update diagram snapshot
  docs/data/how-it-works.png
Due: none

fix: drop Cirrus CI (going away June 1, 2026)
  .cirrus.yml
  CI.md
  README.md
  bin/projects.py
  bin/run_example_ci_configs.py
  cibuildwheel/ci.py
  cibuildwheel/platforms/linux.py
  docs/ci-services.md
  docs/configuration.md
  docs/data/projects.schema.json
  docs/data/projects.yml
  docs/data/readme_icons/cirrusci.svg
  docs/extra.js
  docs/working-examples.md
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  test/test_android.py
  test/test_ios.py
  test/utils.py
Due: disallow-caps, cog

Restore missing note
  docs/ci-services.md
Due: disallow-caps

Update CI services documentation for Cirrus CI
  docs/ci-services.md
Due: disallow-caps

Drop Pyodide 0.27.7 (cp312-pyodide_wasm32)
  cibuildwheel/resources/build-platforms.toml
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
