Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.267
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.3.0
  hooks:
  - id: mypy
    name: mypy 3.7 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.7"]
    additional_dependencies: &mypy-dependencies
      - nox
      - packaging~=21.0
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - bracex
  - id: mypy
    name: mypy 3.11
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.11"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.2
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "sur"]
    exclude: ^docs/working-examples\.md$  # Autogenerated

make sure pip exists in manylinux installation when dynamically downloading python
  cibuildwheel/linux.py
Due: none

fix expected graalpy wheel names for tests
  test/utils.py
Due: none

chore: drop python 3.7 for cibuildwheel driver
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .travis.yml
  CI.md
  action.yml
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/__main__.py
  cibuildwheel/_compat/_functools_cached_property_38.py
  cibuildwheel/_compat/functools.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/architecture.py
  cibuildwheel/environment.py
  cibuildwheel/extra.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  pyproject.toml
  setup.cfg
Due: disallow-caps

chore: bump Ruff to 3.8+ too
  pyproject.toml
Due: none

chore: remove cap on markdown-it-py
  .pre-commit-config.yaml
Due: none

chore: ruff moved to astral-sh
  .pre-commit-config.yaml
Due: none

chore: ruff moved to astral-sh (#1540)
  .pre-commit-config.yaml
Due: none

Apply suggestions from code review
  .pre-commit-config.yaml
  setup.cfg
Due: none

Update docs/faq.md
  docs/faq.md
Due: disallow-caps

chore: bump pyodide version
  cibuildwheel/resources/build-platforms.toml
Due: none

Ignore docs changes on more CIs
  .cirrus.yml
  azure-pipelines.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

chore: use hatchling instead of setuptools setup.py
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
  setup.cfg
  setup.py
Due: none

Add .pre-commit-config.yaml to CI ignore rules
  .cirrus.yml
  .github/workflows/test.yml
  azure-pipelines.yml
Due: none

Bump version: v2.14.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Manually specify 3.12.0b4 on macOS
  cibuildwheel/resources/build-platforms.toml
Due: none

Bump version: v2.14.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Correct logic with includes-only
  .cirrus.yml
Due: none

py-build-cmake cross-compile Windows arm64
  cibuildwheel/windows.py
Due: none

fix cmake_compiler type
  cibuildwheel/windows.py
Due: none

feature: add musllinux_1_2 support
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_musllinux_X_Y_only.py
  test/utils.py
  unit_test/option_prepare_test.py
Due: disallow-caps

fix[test]: clean-up docker images in test_*linux*_only.py
  test/conftest.py
  test/test_container_images.py
  test/test_manylinuxXXXX_only.py
  test/test_musllinux_X_Y_only.py
Due: none

Update index.md
  docs/index.md
Due: disallow-caps

feature: add musllinux_1_2 support (#1561)
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/conftest.py
  test/test_container_images.py
  test/test_manylinuxXXXX_only.py
  test/test_musllinux_X_Y_only.py
  test/utils.py
  unit_test/option_prepare_test.py
Due: disallow-caps

fix: --only shouldn't require prerelease pythons setting
  cibuildwheel/options.py
Due: none

feat: build using 3.12 RC by default
  README.md
  cibuildwheel/util.py
  unit_test/build_selector_test.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Bump version: v2.15.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Add test
  unit_test/main_tests/main_platform_test.py
Due: none

chore: use 2x faster pre-commit mirror
  .pre-commit-config.yaml
Due: none

chore: use 2x faster pre-commit mirror (#1569)
  .pre-commit-config.yaml
Due: none

Update Tornado's entry in working-examples.md
  docs/working-examples.md
Due: none

Update Tornado's entry in projects.yml
  docs/data/projects.yml
Due: none

fix: path construction when testing linux wheels
  cibuildwheel/linux.py
Due: none

fix: path construction when testing Linux wheels on Windows hosts (#1573)
  cibuildwheel/linux.py
Due: none

Update Tornado's entry in projects.yml (#1571)
  docs/data/projects.yml
Due: none

Update CircleCI support
  README.md
Due: disallow-caps

fix: --only shouldn't require prerelease pythons setting (#1564)
  cibuildwheel/options.py
  unit_test/main_tests/main_platform_test.py
Due: none

Doc: Update info for CIBW_TEST_EXTRAS
  docs/options.md
Due: disallow-caps

chore: add check arguments
  bin/bump_version.py
  bin/make_dependency_update_pr.py
  bin/run_example_ci_configs.py
  bin/sample_build.py
  bin/update_how_it_works_image.py
Due: none
