Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Update docs/faq.md
  docs/faq.md
Due: disallow-caps

Updated actions/setup-python in docs
  README.md
  docs/setup.md
Due: disallow-caps

Remove __hash__ and __eq__ from OCIContainerEngineConfig using tuple
  cibuildwheel/oci_container.py
  unit_test/linux_build_steps_test.py
  unit_test/oci_container_test.py
  unit_test/options_test.py
Due: none

Update options schema
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

docs: add FAQ entry on Rust
  README.md
  docs/faq.md
Due: disallow-caps

ci: make readthedocs faster
  .readthedocs.yml
Due: none

fix: respect constraints when building with pip
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  test/test_dependency_versions.py
Due: none

fix: respect constraints when building with pip (#1818)
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  test/test_dependency_versions.py
Due: none

fix: do not pre-seed setuptools / wheel in virtual environment
  cibuildwheel/resources/constraints-python36.txt
  cibuildwheel/util.py
  test/test_abi_variants.py
Due: none

Update faq.md
  docs/faq.md
Due: disallow-caps

feat: move default `musllinux` build to `musllinux_1_2`
  cibuildwheel/options.py
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/faq.md
  docs/options.md
  test/utils.py
  unit_test/option_prepare_test.py
Due: disallow-caps

add example to build with musllinux_1_1
  docs/options.md
Due: disallow-caps

Apply suggestions from code review
  docs/faq.md
Due: disallow-caps

fix: do not pre-seed setuptools / wheel in virtual environment (#1819)
  cibuildwheel/resources/constraints-python36.txt
  cibuildwheel/util.py
  test/test_abi_variants.py
Due: none

feat: move default `musllinux` build to `musllinux_1_2` (#1817)
  cibuildwheel/options.py
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/faq.md
  docs/options.md
  test/utils.py
  unit_test/option_prepare_test.py
Due: disallow-caps

feat: add Python 3.13 beta 1
  .github/workflows/test.yml
  .github/workflows/update-dependencies.yml
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/util.py
  docs/options.md
  noxfile.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps

feat: add Python 3.13 beta 1 (#1815)
  .github/workflows/test.yml
  .github/workflows/update-dependencies.yml
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/util.py
  docs/options.md
  noxfile.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps

docs: rust (#1816)
  .readthedocs.yml
  README.md
  docs/faq.md
Due: disallow-caps

chore: update bump_version script
  bin/bump_version.py
Due: none

Bump version: v2.18.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

docs: fix options page
  .readthedocs.yml
  mkdocs.yml
  noxfile.py
Due: none

docs: fix options page (#1821)
  .readthedocs.yml
  mkdocs.yml
  noxfile.py
Due: none

ci: minor cleanup for readthedocs
  .readthedocs.yml
Due: none

docs: fix formatting on changelog
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

docs: fix formatting on changelog (#1822)
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

chore: use hatchling instead of setuptools setup.py
  .circleci/prepare.sh
  .pre-commit-config.yaml
  MANIFEST.in
  bin/bump_version.py
  pyproject.toml
  setup.cfg
  setup.py
Due: none

chore: more modern nox
  README.md
  bin/generate_schema.py
  bin/projects.py
  docs/data/projects.yml
  docs/working-examples.md
  noxfile.py
Due: disallow-caps

docs: fix running from unsourced venv
  .readthedocs.yml
  docs/main.py
Due: none

docs: minor typo fix
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

docs: fix wrong link #1825
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

chore: more modern nox (#1823)
  .readthedocs.yml
  README.md
  bin/generate_schema.py
  bin/projects.py
  docs/changelog.md
  docs/data/projects.yml
  docs/main.py
  docs/working-examples.md
  noxfile.py
Due: disallow-caps, update-readme-changelog

Update bump_version.py
  bin/bump_version.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

chore: use the new github actions reporter for pylint
  .github/matchers/pylint.json
  .github/workflows/test.yml
  noxfile.py
Due: none

chore: use the new github actions reporter for pylint (#1827)
  .github/matchers/pylint.json
  .github/workflows/test.yml
  noxfile.py
Due: none

fix(tests): linux tests from macOS/Windows arm64
  test/utils.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
