Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

chore: remove pip beta workaround (#1891)
  cibuildwheel/linux.py
Due: none

chore: remove pip beta workaround
  cibuildwheel/resources/constraints.in
Due: none

chore: remove pip beta workaround (#1892)
  cibuildwheel/resources/constraints.in
Due: none

DOC: Document macOS 3.8 arm64 workaround (#1871)
  docs/faq.md
Due: disallow-caps

fix(ci): CircleCI
  .circleci/config.yml
  .circleci/prepare.sh
  CI.md
  examples/circleci-minimal.yml
Due: disallow-caps

fix(ci): Azure Pipelines
  azure-pipelines.yml
  examples/azure-pipelines-minimal.yml
Due: none

fix(ci): GitLab
  .gitlab-ci.yml
  CI.md
  examples/gitlab-minimal.yml
Due: disallow-caps

fix(ci): CircleCI / Azure Pipelines / GitLab (#1899)
  .circleci/config.yml
  .circleci/prepare.sh
  .gitlab-ci.yml
  CI.md
  azure-pipelines.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/gitlab-minimal.yml
Due: disallow-caps

chore: remove nosetests from tests and docs
  docs/options.md
  test/test_testing.py
Due: disallow-caps

feat: add macOS on GitLab
  .gitlab-ci.yml
  CI.md
  examples/gitlab-minimal.yml
Due: disallow-caps

chore: remove nosetests from tests and docs (#1898)
  docs/options.md
  test/test_testing.py
Due: disallow-caps

Update README.md
  README.md
Due: disallow-caps

feat: add macOS on GitLab (#1911)
  .gitlab-ci.yml
  CI.md
  README.md
  examples/gitlab-minimal.yml
Due: disallow-caps

chore: bump minimal version to 3.11
  .github/workflows/test.yml
  .pre-commit-config.yaml
  bin/bump_version.py
  bin/update_nodejs.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/__main__.py
  cibuildwheel/_compat/__init__.py
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/architecture.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  unit_test/build_ids_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/validate_schema_test.py
Due: none

chore: use python from setup-python step to run nox
  .github/workflows/test.yml
Due: none

chore: use SPEC 0 schedule for cibuildwheel
  .github/workflows/test.yml
  .pre-commit-config.yaml
  bin/update_pythons.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  test/conftest.py
  test/test_projects/base.py
Due: none

update CI workflows
  .cirrus.yml
  .github/workflows/test.yml
  .travis.yml
  CI.md
  appveyor.yml
  azure-pipelines.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
Due: disallow-caps

fix: support --no-isolation with build[uv]
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

docs: mention caveat
  docs/options.md
Due: disallow-caps

fix: support --no-isolation with build[uv] (#1889)
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  docs/options.md
Due: disallow-caps

style follow suggestion
  cibuildwheel/projectfiles.py
Due: none

chore: attestations
  .github/workflows/release.yml
Due: none

chore: attestations (#1916)
  .github/workflows/release.yml
Due: none

Bump version: v2.19.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

Update windows.py
  cibuildwheel/windows.py
Due: none

require explicit imports from new utils modules
  cibuildwheel/macos.py
  cibuildwheel/pyodide.py
  cibuildwheel/util/__init__.py
  cibuildwheel/windows.py
Due: none

chore: move `AlreadyBuiltWheelError` & `NonPlatformWheelError` to `errors.py`
  cibuildwheel/errors.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/pyodide.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  test/test_custom_repair_wheel.py
  test/test_pure_wheel.py
Due: none

Directly import extract_zip
  cibuildwheel/pyodide.py
  cibuildwheel/windows.py
Due: none

chore: move `AlreadyBuiltWheelError` & `NonPlatformWheelError` to `errors.py` (#1920)
  cibuildwheel/errors.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/pyodide.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  test/test_custom_repair_wheel.py
  test/test_pure_wheel.py
Due: none

chore: update examples to use python 3.12
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
Due: none

remove functools.cached_property
  cibuildwheel/util/__init__.py
Due: none

move download into util.files
  cibuildwheel/macos.py
  cibuildwheel/pyodide.py
  cibuildwheel/util/files.py
  cibuildwheel/util/misc.py
  cibuildwheel/windows.py
  unit_test/download_test.py
Due: none

chore: use python from setup-python step to run nox (#1921)
  .github/workflows/test.yml
Due: none

DOC: fix link to correct PR number
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

DOC: fix link to correct PR number (#1928)
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

chore: update examples to use python 3.12 (#1919)
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
Due: none

set VSCMD_ARG_TGT_ARCH based on targetted architecture
  cibuildwheel/windows.py
Due: none

Apply suggestions from code review
  cibuildwheel/windows.py
Due: none

update test_env_set to validate FatalError is raised on env collision
  unit_test/get_platform_test.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
