Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.8.0
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
  - id: mypy
    name: mypy 3.8 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py|bin/generate_schema.py$
    args: ["--python-version=3.8"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - dependency-groups>=1.2
      - nox
      - orjson
      - packaging
      - pygithub
      - pytest
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.12
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.12"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "sur,assertin", "-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.29.4
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

update documentation
  docs/options.md
Due: disallow-caps

Add Android platform module; implement top-level structure and target Python installation
  cibuildwheel/platforms/android.py
Due: none

Implement setup_env and build_wheel
  .pre-commit-config.yaml
  bin/update_pythons.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  docs/platforms.md
  pyproject.toml
Due: disallow-caps

lru-dict build working
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/_cross_venv.py
  docs/platforms.md
Due: disallow-caps

[2.x] Update dependencies (#2371)
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/resources/virtualenv.toml
Due: none

Bump version: v2.23.3
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

Don't call the github API at runtime, cache the release assets instead
  bin/update_python_build_standalone.py
  cibuildwheel/extra.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/python-build-standalone-releases.json
  cibuildwheel/util/python_build_standalone.py
  cibuildwheel/util/resources.py
  noxfile.py
Due: none

Ignore pylint false positive
  cibuildwheel/extra.py
Due: none

Add version auto-updating for pyodide
  bin/update_pythons.py
  cibuildwheel/extra.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/nodejs.toml
Due: none

Add support for pyodide 3.13.
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  test/test_emscripten.py
  test/utils.py
Due: disallow-caps

Fix tests for multiple pyodide wheels
  cibuildwheel/util/packaging.py
  test/test_abi_variants.py
  test/test_custom_repair_wheel.py
Due: none

Remove workaround for unreleased pyodide-build
  cibuildwheel/resources/constraints-pyodide313.txt
  noxfile.py
Due: none

Rename to "test_pyodide"
  test/test_pyodide.py
Due: none

Fix pathname confusion
  cibuildwheel/platforms/pyodide.py
Due: none

Remove extra github actions job
  .github/workflows/test.yml
Due: none

Fix expectation for test_abi_none
  test/test_abi_variants.py
Due: none

Fix the custom_repair_wheel test to actually have clashing names
  test/test_custom_repair_wheel.py
Due: none

chore: type check install_certifi.py (#2365)
  .pre-commit-config.yaml
  cibuildwheel/resources/install_certifi.py
Due: none

feat: initial support for riscv64 (#2366)
  bin/generate_schema.py
  bin/update_docker.py
  cibuildwheel/architecture.py
  cibuildwheel/logger.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/selector.py
  docs/options.md
  test/test_emulation.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/oci_container_test.py
Due: disallow-caps

Fix pinned version test
  test/test_dependency_versions.py
Due: none

Properly close files used for testing
  test/test_before_build.py
  test/test_before_test.py
Due: none

Add support for GraalPy
  .github/workflows/test.yml
  README.md
  bin/update_pythons.py
  cibuildwheel/logger.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/selector.py
  docs/options.md
  test/test_abi_variants.py
  test/utils.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Help GraalPy discover build tools on Windows
  cibuildwheel/platforms/windows.py
Due: none

refacotor: use pathlib.write_text
  test/test_before_all.py
  test/test_before_build.py
  test/test_before_test.py
Due: none

Update azure-pipelines.yml
  azure-pipelines.yml
Due: none

Workaround GraalPy bugs on Windows
  cibuildwheel/platforms/windows.py
  test/test_before_test.py
  test/test_dependency_versions.py
  test/test_testing.py
Due: none

Workaround oracle/graalpython#491 also when uv is not available
  cibuildwheel/platforms/windows.py
  test/test_pep518.py
Due: none

Expect manylinux-interpreters ensure graalpy* warning in pip
  test/test_0_basic.py
Due: none

Include GraalPy in docker_warmup and remove workaround for installing it late
  test/conftest.py
  test/test_0_basic.py
Due: none

feat: support GraalPy (#1538)
  .github/workflows/test.yml
  README.md
  azure-pipelines.yml
  bin/update_pythons.py
  cibuildwheel/logger.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/selector.py
  docs/options.md
  test/conftest.py
  test/test_abi_variants.py
  test/test_before_all.py
  test/test_before_build.py
  test/test_before_test.py
  test/test_dependency_versions.py
  test/test_pep518.py
  test/test_testing.py
  test/utils.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Alter prefix in sysconfigdata file; fix various issues with FLAGS variables
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/_cross_venv.py
Due: none

Implement Android testing
  bin/update_pythons.py
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  docs/options.md
  docs/platforms.md
  pyproject.toml
Due: disallow-caps

Add type annotations to _cross_venv
  .pre-commit-config.yaml
  cibuildwheel/resources/_cross_venv.py
Due: none

Update docs/options.md
  docs/options.md
Due: disallow-caps

Only allow invalid test command if the first part is 'pytest'
  cibuildwheel/platforms/ios.py
  test/test_ios.py
Due: none

Responses to code review from @freakboy3742
  test/test_ios.py
  test/utils.py
Due: none

Fix tests for graalpy
  test/test_abi_variants.py
  test/utils.py
Due: none

Update the test configuration to use the label
  .github/workflows/test.yml
  test/conftest.py
Due: none

Remove duplication of default value. Make it affect sample build too
  .github/workflows/test.yml
  test/conftest.py
Due: none
