Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: v3.2.0
  hooks:
  - id: pyupgrade
    args: ["--py37-plus"]
    exclude: ^cibuildwheel/resources/.*py$

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v2.1.1
  hooks:
  - id: pycln
    args: [--all]
    stages: [manual]

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: ["-a", "from __future__ import annotations"]
    exclude: ^cibuildwheel/resources/.*py$

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.982
  hooks:
  - id: mypy
    name: mypy 3.7 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.7"]
    additional_dependencies: &mypy-dependencies
      - nox
      - packaging>=21.0
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-dataclasses
      - types-jinja2
      - types-pyyaml
      - types-requests
      - bracex
      - dataclasses
  - id: mypy
    name: mypy 3.10
    args: ["--python-version=3.10"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/asottile/yesqa
  rev: v1.4.0
  hooks:
  - id: yesqa
    additional_dependencies: &flake8-dependencies
    - flake8-bugbear

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    exclude: ^cibuildwheel/resources/
    additional_dependencies: *flake8-dependencies

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
    stages: [manual]
  - id: python-no-log-warn
  - id: python-no-eval
  - id: python-use-type-annotations

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.4
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    args: ["-L", "sur"]
    exclude: ^docs/working-examples\.md$  # Autogenerated

Fail if the build frontend is pip
  cibuildwheel/pyodide.py
Due: none

Fix type checker
  cibuildwheel/pyodide.py
Due: none

Set EXTRA_MOUNTS one level further up
  cibuildwheel/pyodide.py
Due: none

fix overwriting wheel on windows
  cibuildwheel/windows.py
Due: none

Set pip as the default value of default
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
Due: none

chore: Add a platform_interface type to export from each platform
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/platform_interface.py
  cibuildwheel/windows.py
  unit_test/main_tests/conftest.py
  unit_test/options_test.py
Due: none

Use the platform object itself as the interface
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/platform_interface.py
  cibuildwheel/windows.py
  unit_test/main_tests/conftest.py
  unit_test/options_test.py
Due: none

Apply @henryiii's suggestion
  cibuildwheel/__main__.py
Due: none

Remove pydantic from example lists
  README.md
  docs/data/projects.yml
  docs/working-examples.md
Due: disallow-caps

chore: update for mypy bug
  .pre-commit-config.yaml
  cibuildwheel/oci_container.py
Due: none

fix: verbosity isn't supported for pypa/build
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  docs/options.md
Due: disallow-caps

fix: overwriting wheel on windows shouldn't break (#1464)
  cibuildwheel/windows.py
Due: none

fix: verbosity isn't supported for pypa/build (#1474)
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  docs/options.md
Due: disallow-caps

chore: clean up mypy a little bit
  .pre-commit-config.yaml
  setup.py
Due: none

chore: clean up pylint/black a bit
  cibuildwheel/__main__.py
  pyproject.toml
Due: none

chore: minor cleanup (#1475)
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
  pyproject.toml
  setup.py
Due: none

chore: touch up Ruff, add exe check
  bin/projects.py
  bin/update_how_it_works_image.py
  pyproject.toml
Due: none

chore: add Ruff logging format check
  bin/update_pythons.py
  bin/update_virtualenv.py
  pyproject.toml
Due: none

chore: update typing to collections.abc
  bin/inspect_all_known_projects.py
  cibuildwheel/architecture.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/environment.py
  cibuildwheel/functools_cached_property_38.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  unit_test/option_prepare_test.py
Due: none

chore: update typing to be generic on function args
  bin/inspect_all_known_projects.py
  bin/projects.py
  bin/update_pythons.py
  cibuildwheel/__main__.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/environment.py
  cibuildwheel/extra.py
  cibuildwheel/linux.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
Due: none

Bump version: v2.12.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Update options.md for typos
  docs/options.md
Due: disallow-caps

ci: add Python 3.7
  .github/workflows/test.yml
Due: none

fix: restore Python 3.7 support
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/__main__.py
  cibuildwheel/_compat/__init__.py
  cibuildwheel/_compat/_functools_cached_property_38.py
  cibuildwheel/_compat/functools.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/architecture.py
  cibuildwheel/environment.py
  cibuildwheel/extra.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
Due: none

refactor: restore typing for non-backports
  cibuildwheel/__main__.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/architecture.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
Due: none

refactor: tomllib in _compat
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util.py
  pyproject.toml
  unit_test/build_ids_test.py
  unit_test/main_tests/main_options_test.py
Due: none

docs: fix options.md typos (#1477)
  docs/options.md
Due: disallow-caps

Bump version: v2.12.3
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

chore: bump to Ruff 0.0.262
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
Due: none

chore: bump to Ruff 0.0.262 (#1481)
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
Due: none

chore: stop updating python 3.6 constraints
  .github/workflows/update-dependencies.yml
  noxfile.py
Due: none

chore: update to virtualenv<20.22.0
  bin/update_virtualenv.py
Due: none

fix: install our dependencies outside the project directory
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

fix: install the wheel out-of-dir
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/windows.py
Due: none

Some updates for pyodide 0.23.2 and cleanup
  cibuildwheel/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/pyodide_python.sh
  cibuildwheel/util.py
Due: none

Update docs/options.md according to rth's comment
  docs/options.md
Due: disallow-caps

Remove custom dependency constraints files
  cibuildwheel/pyodide.py
  cibuildwheel/resources/constraints-pyodide-0_22.txt
  cibuildwheel/resources/constraints-pyodide-0_23.txt
Due: none

Fix lints
  cibuildwheel/pyodide.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
Due: none

Fix xbuild environment installation
  .github/workflows/test.yml
  cibuildwheel/pyodide.py
Due: none

Fix test
  test/test_emscripten.py
Due: none
