Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: fa93bc3224c614a0e9786d3e2d3d48edcca246eb  # frozen: v0.15.1
  hooks:
  - id: ruff-check
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    exclude: ^cibuildwheel/resources/_cross_venv.py$  # Requires Python 3.13 or later
    additional_dependencies: &mypy-dependencies
      - bracex
      - build
      - dependency-groups>=1.2
      - humanize
      - nox>=2025.2.9
      - orjson
      - packaging
      - pyelftools
      - pygithub
      - pytest
      - rich
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.14
    args: ["--python-version=3.14"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp>=3.5]

- repo: https://github.com/codespell-project/codespell
  rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: f761d025eb06bcd6a45bf152ba3593c9b8ad9a9b  # frozen: 0.36.2
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

refactor: port ios to the shared build runner
  cibuildwheel/platforms/ios.py
Due: none

refactor: add shared build runner and Builder interface
  cibuildwheel/platforms/runner.py
  unit_test/runner_test.py
Due: none

refactor: port macos to the shared build runner
  cibuildwheel/platforms/macos.py
Due: none

refactor: port windows to the shared build runner
  cibuildwheel/platforms/windows.py
Due: none

tests: keep the platform tag on the fake repaired wheel
  test/test_custom_repair_wheel.py
Due: none

refactor: port android to the shared build runner
  cibuildwheel/platforms/android.py
Due: none

fix: use exponential backoff when a download fails
  cibuildwheel/util/file.py
  unit_test/download_test.py
Due: none

ci: raise the uv HTTP retry count
  .github/workflows/test.yml
Due: none

fix: do not retry a download after a client error
  cibuildwheel/util/file.py
  unit_test/download_test.py
Due: none

fix: survive short network outages when downloading (#2953)
  .github/workflows/test.yml
  cibuildwheel/util/file.py
  unit_test/download_test.py
Due: none

fix: pin pip on GraalPy
  cibuildwheel/resources/constraints-python312.txt
  noxfile.py
Due: none

chore: use pp311 for test_abi3
  test/test_abi_variants.py
Due: none

fix(schema): default is fine for pyodide too (#2951)
  .gitignore
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

Add pyodide_315 support
  .github/workflows/test.yml
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide315.txt
  cibuildwheel/selector.py
  docs/_internal/pyodide-maintenance.md
  docs/options.md
  test/test_pyodide.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps, cog

chore: use pp311 for test_abi3 (#2956)
  test/test_abi_variants.py
Due: none

fix: pin pip on GraalPy (#2955)
  cibuildwheel/resources/constraints-python312.txt
  noxfile.py
Due: none

fix: test_overridden_pip_constraint with pip>=26.2
  test/test_environment.py
Due: none

fix(tests): delete test_overridden_pip_constraint
  test/test_environment.py
Due: none

fix(tests): delete test_overridden_pip_constraint (#2957)
  test/test_environment.py
Due: none

Update
  cibuildwheel/selector.py
  docs/_internal/pyodide-maintenance.md
  docs/options.md
  unit_test/build_selector_test.py
Due: disallow-caps, cog

Update constraints to pyodide-build 0.39.0
  cibuildwheel/resources/constraints-pyodide315.txt
Due: none

add tests
  cibuildwheel/options.py
  unit_test/options_reader_test.py
Due: none

Update to 315.0.0a2
  cibuildwheel/resources/build-platforms.toml
Due: none

Remove example versions
  docs/_internal/pyodide-maintenance.md
Due: disallow-caps

feat: add pyodide_315 support (#2958)
  .github/workflows/test.yml
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide315.txt
  cibuildwheel/selector.py
  docs/_internal/pyodide-maintenance.md
  docs/options.md
  test/test_pyodide.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps, cog

feat: Python 3.15 build by default
  README.md
  cibuildwheel/selector.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

feat: Python 3.15 build by default (#2944)
  README.md
  cibuildwheel/selector.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

Bump version: v4.2.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  pyproject.toml
Due: disallow-caps, cog

Clarify util name/docs
  cibuildwheel/options.py
  cibuildwheel/util/helpers.py
  unit_test/utils_test.py
Due: none

Update Android Python versions
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/build-platforms.toml
Due: none

Update Android Python versions (#2962)
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/build-platforms.toml
Due: none

feat: add support for container_engine=none
  .github/workflows/test.yml
  bin/generate_schema.py
  bin/run_tests.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/typing.py
  cibuildwheel/util/file.py
  test/conftest.py
  test/test_before_all.py
  test/test_before_build.py
  test/test_container_engine.py
  test/test_container_images.py
  test/test_from_sdist.py
  test/test_linux_python.py
  test/test_manylinuxXXXX_only.py
  test/test_musllinux_X_Y_only.py
  test/utils.py
  unit_test/linux_build_steps_test.py
  unit_test/oci_container_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: none

Android Meson test improvements
  test/test_android.py
Due: none

chore: fix lint errors from new ruff rules
  bin/inspect_all_known_projects.py
  cibuildwheel/extra.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util/file.py
  pyproject.toml
Due: none

Document option inheritance across configuration layers
  docs/configuration.md
  docs/options.md
Due: disallow-caps, cog

update schema
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

fix: validate inherit rules eagerly and loudly
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/util/helpers.py
  docs/configuration.md
  unit_test/options_reader_test.py
  unit_test/options_test.py
  unit_test/validate_schema_test.py
Due: disallow-caps

chore: some simplifications
  bin/generate_schema.py
  cibuildwheel/options.py
  unit_test/options_reader_test.py
Due: none

Android Meson test improvements (#2964)
  test/test_android.py
Due: none

chore: enable more mypy error codes
  bin/generate_schema.py
  bin/update_pythons.py
  cibuildwheel/oci_container.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/projectfiles.py
  docs/main.py
  pyproject.toml
  unit_test/oci_container_test.py
Due: none
