Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.267
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.3.0
  hooks:
  - id: mypy
    name: mypy 3.7 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.7"]
    additional_dependencies: &mypy-dependencies
      - nox
      - packaging~=21.0
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - bracex
  - id: mypy
    name: mypy 3.11
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.11"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.2
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "sur"]
    exclude: ^docs/working-examples\.md$  # Autogenerated

docs: Update info for CIBW_TEST_EXTRAS (#1582)
  docs/options.md
Due: disallow-caps

Update bin/bump_version.py
  bin/bump_version.py
Due: none

Add args param to build-frontend option
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  test/test_build_frontend_args.py
  unit_test/main_tests/main_options_test.py
Due: none

Add docs
  docs/options.md
Due: disallow-caps

Add a unit test for the TOML form of the option
  unit_test/options_test.py
Due: none

Fix for missing table in option parsing
  cibuildwheel/options.py
Due: none

Fix deprecated option in github-deploy example
  examples/github-deploy.yml
Due: none

docs: fix deprecated option in github-deploy example (#1593)
  examples/github-deploy.yml
Due: none

chore: use actions/checkout@4 everywhere
  README.md
  docs/deliver-to-pypi.md
  docs/setup.md
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: disallow-caps

feature: Automatically pass SOURCE_DATE_EPOCH to Linux containers
  cibuildwheel/oci_container.py
  docs/options.md
  unit_test/oci_container_test.py
Due: disallow-caps

fix(setup.py): look inside if name == main block
  cibuildwheel/projectfiles.py
  unit_test/projectfiles_test.py
Due: none

chore: Ruff ignore for _compat
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/_compat/typing.py
  pyproject.toml
Due: none

chore: add .gitattributes
  .gitattributes
Due: none

fix: include examples too
  examples/github-with-qemu.yml
Due: none

Add test for environment and environment_pass references
  unit_test/options_test.py
Due: none

Change order of environment-pass, so environment can reference it
  cibuildwheel/environment.py
  cibuildwheel/options.py
Due: none

Update RtD config to include mandatory build.os option
  .readthedocs.yml
Due: none

Bump version: v2.16.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

fix: do not use `linux32` when unnecessary
  cibuildwheel/oci_container.py
Due: none

remove GHA runner cached docker images
  .github/workflows/test.yml
Due: none

Rename `simulate_32_bit` to `enforce_32_bit`
  cibuildwheel/linux.py
  cibuildwheel/oci_container.py
  unit_test/option_prepare_test.py
Due: none

add tests
  unit_test/oci_container_test.py
Due: none

use fixture in oci_container_test.py to clean-up images after tests
  test/conftest.py
  unit_test/oci_container_test.py
Due: none

check i686 directly
  cibuildwheel/oci_container.py
Due: none

clearer simulate_32_bit initialization
  cibuildwheel/oci_container.py
Due: none

feature: `CIBW_DEBUG_KEEP_CONTAINER` option. debug container after build
  cibuildwheel/oci_container.py
  docs/options.md
Due: disallow-caps

Fix the build_frontend usage in pyodide build
  cibuildwheel/pyodide.py
Due: none

Improve parse_key_value_string to allow colons in values.
  cibuildwheel/util.py
  unit_test/utils_test.py
Due: none

addressed comments from review
  docs/options.md
Due: disallow-caps

feat: add schema and validate-pyproject support
  .pre-commit-config.yaml
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  cibuildwheel/schema.py
  noxfile.py
  setup.cfg
  setup.py
  unit_test/validate_schema.py
Due: none

fix: address review comments, fix bug, add tests
  .pre-commit-config.yaml
  bin/generate_schema.py
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/resources/cibuildwheel.schema.json
  noxfile.py
  unit_test/validate_schema.py
  unit_test/validate_schema_test.py
Due: none

fix: add test of examples in docs and fix
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  docs/options.md
  unit_test/validate_schema_test.py
Due: disallow-caps

fix: nicer titles
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

Bump version: v2.16.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

feat: add schema and validate-pyproject support (#1622)
  .pre-commit-config.yaml
  bin/generate_schema.py
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  cibuildwheel/schema.py
  docs/options.md
  noxfile.py
  setup.cfg
  setup.py
  unit_test/validate_schema_test.py
Due: disallow-caps

fix: ensure 2+ items in each override in schema
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

refactor: use refs instead of copies
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

fix: ensure 2+ items in each override in schema (#1628)
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

feat: use manylinux-interpreters tool if present
  cibuildwheel/linux.py
Due: none

fix typo in README.md
  README.md
Due: disallow-caps
