Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.0
  hooks:
  - id: pyupgrade
    name: PyUpgrade 3.6+
    args: ["--py36-plus"]
    exclude: ^bin/
  - id: pyupgrade
    name: PyUpgrade 3.7+ on bin
    exclude: ^(cibuildwheel|unit_test|test)/
    args: ["--py37-plus"]

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.0.3
  hooks:
  - id: pycln
    args: [--config=pyproject.toml]

- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 21.9b0
  hooks:
  - id: black

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.18.0
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    exclude: ^(bin|cibuildwheel/resources|docs)/.*py$
    args: ["--python-version=3.6", "--scripts-are-modules"]
    additional_dependencies:
      - packaging
      - types-jinja2
      - types-certifi
      - types-toml
      - tomli
  - id: mypy
    name: mypy 3.7+ on bin/
    files: ^((bin|docs)/.*py|noxfile.py)$
    args: ["--python-version=3.7", "--scripts-are-modules"]
    additional_dependencies:
      - packaging>=21.0
      - rich
      - types-jinja2
      - types-pyyaml
      - types-click
      - types-requests
      - tomli

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: cibuildwheel/resources/
    additional_dependencies: [flake8-bugbear]

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: ["-L", "sur"]

chore: drop toml, use tomli (#876)
  .pre-commit-config.yaml
  bin/update_pythons.py
  cibuildwheel/extra.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  pyproject.toml
  setup.cfg
  unit_test/build_ids_test.py
Due: none

chore: adding extra checks, more scoping
  .circleci/prepare.sh
  .github/workflows/test.yml
  .pre-commit-config.yaml
  bin/bump_version.py
  bin/inspect_all_known_projects.py
  bin/update_pythons.py
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util.py
  test/conftest.py
Due: none

Remove 'manual' pre-commit checks from CI
  .github/workflows/test.yml
Due: none

chore: adding extra checks, more scoping (#867)
  .circleci/prepare.sh
  .pre-commit-config.yaml
  bin/bump_version.py
  bin/inspect_all_known_projects.py
  bin/update_pythons.py
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/util.py
  test/conftest.py
Due: none

feat: adding overrides
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
  cibuildwheel/environment.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  setup.cfg
  unit_test/all_build_options_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/options_toml_test.py
Due: none

refactor: Override options redesign
  cibuildwheel/__main__.py
  cibuildwheel/docker_container.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  docs/options.md
  unit_test/conftest.py
  unit_test/docker_container_test.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/conftest.py
  unit_test/main_tests/main_options_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/main_tests/main_requires_python_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
  unit_test/utils.py
Due: disallow-caps

ci: try macOS 11
  .github/workflows/test.yml
Due: none

fix: remove PyPy macOS 11 filtering
  cibuildwheel/macos.py
  test/utils.py
Due: none

Monkeypatch sys.argv instead of using an argument to main()
  cibuildwheel/__main__.py
  unit_test/option_prepare_test.py
Due: none

Bump version: v2.2.0b1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Update release steps
  docs/contributing.md
Due: disallow-caps

fix: pass through unexpected format strings
  cibuildwheel/util.py
  unit_test/utils_test.py
Due: none

tests: rename a test for consistency
  unit_test/wheel_print_test.py
Due: none

fix: artificial limiting in pycln breaks on 3.10
  .pre-commit-config.yaml
Due: none

fix: artificial limiting in pycln breaks on 3.10 (#886)
  .pre-commit-config.yaml
Due: none

Bump version: v2.2.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

fix: add missing config-file option to the action
  action.yml
Due: none

feat: empty config-file triggers default behavior
  action.yml
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  unit_test/utils.py
Due: none

style(types): use new bracex static typing support
  .pre-commit-config.yaml
  cibuildwheel/util.py
  pyproject.toml
Due: none

style(types): add a bit more basic typing
  cibuildwheel/__main__.py
  cibuildwheel/util.py
Due: none

style(types): globally ignore ghapi
  bin/inspect_all_known_projects.py
  pyproject.toml
Due: none

style(types): include a bit more in the global ignores
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix(types): line invalid on Python 3.6
  cibuildwheel/linux.py
Due: none

Apply suggestions from code review
  action.yml
  cibuildwheel/__main__.py
Due: none

fix: require typing_extensions 3.10
  cibuildwheel/linux.py
  setup.cfg
Due: none

tests: rename a test for consistency (#885)
  unit_test/wheel_print_test.py
Due: none

fix: add missing config-file option to the action (#883)
  action.yml
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  unit_test/utils.py
Due: none

Rename some things, add some more tests
  cibuildwheel/util.py
  unit_test/utils_test.py
Due: none

fix: produce working SDists
  .github/workflows/test.yml
  MANIFEST.in
  noxfile.py
  pyproject.toml
Due: none

ci: release to PyPI from CI on GitHub Release
  .github/workflows/release.yml
Due: none

Bump version: v2.2.1b1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Update release steps in docs
  docs/contributing.md
Due: disallow-caps

Bump version: v2.2.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

fix: missing s in action
  action.yml
Due: none

fix: missing s in action (#895)
  action.yml
Due: none

Bump version: v2.2.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

style(types): use new bracex static typing support (#887)
  .pre-commit-config.yaml
  bin/inspect_all_known_projects.py
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/util.py
  pyproject.toml
  setup.cfg
Due: none

Update macos download link using bin/update_pythons.py
  cibuildwheel/resources/build-platforms.toml
Due: none

fix: fix broken links incorrectly converted to point to PyPA org
  docs/changelog.md
  docs/deliver-to-pypi.md
Due: disallow-caps, update-readme-changelog
