Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
  - id: pyupgrade
    name: PyUpgrade 3.6+
    args: ["--py36-plus"]
    exclude: ^bin/
  - id: pyupgrade
    name: PyUpgrade 3.7+ on bin
    exclude: ^(cibuildwheel|unit_test|test)/
    args: ["--py37-plus"]

# Autoremoves unused imports
- repo: https://github.com/hadialqattan/pycln
  rev: v1.1.0
  hooks:
  - id: pycln
    args: [--config=pyproject.toml]

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.20.0
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.930
  hooks:
  - id: mypy
    exclude: ^(bin|cibuildwheel/resources|docs)/.*py$
    args: ["--python-version=3.6", "--scripts-are-modules", "--show-error-codes"]
    additional_dependencies: &mypy-dependencies
      - nox
      - packaging>=21.0
      - pygithub
      - rich
      - tomli
      - types-certifi
      - types-click
      - types-dataclasses
      - types-jinja2
      - types-pyyaml
      - types-requests
      - bracex
  - id: mypy
    name: mypy 3.7+ on bin/
    files: ^((bin|docs)/.*py)$
    args: ["--python-version=3.7", "--scripts-are-modules", "--show-error-codes"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/asottile/yesqa
  rev: v1.3.0
  hooks:
  - id: yesqa
    additional_dependencies: &flake8-dependencies
    - flake8-bugbear

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: cibuildwheel/resources/
    additional_dependencies: *flake8-dependencies

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-check-blanket-noqa
    stages: [manual]
  - id: python-check-blanket-type-ignore
    stages: [manual]
  - id: python-no-log-warn
  - id: python-no-eval
  - id: python-use-type-annotations

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.3
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: ["-L", "sur"]

chore: update docs
  README.md
  docs/working-examples.md
Due: disallow-caps

refactor: use dataclasses vs. NamedTuples
  .pre-commit-config.yaml
  bin/update_docker.py
  bin/update_virtualenv.py
  cibuildwheel/__main__.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  unit_test/utils.py
Due: none

docs: add some projects (#1097)
  README.md
  docs/data/projects.yml
  docs/working-examples.md
Due: disallow-caps

Space out the log statements a little
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

Add tips+tricks entry for ABI3 building
  docs/faq.md
Due: disallow-caps

Bump version: v2.5.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Changelog tweak
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

Add interactive diagram to the docs
  README.md
  docs/data/how-it-works.png
  docs/diagram.md
  docs/index.md
  docs/options.md
Due: disallow-caps

Add mobile/touch support (where hover doesn't exist)
  docs/diagram.md
  docs/extra.css
Due: disallow-caps

chore: use bot email for dependency update Pull Requests
  .github/workflows/update-dependencies.yml
Due: none

chore: use bot email for dependency update Pull Requests (#1105)
  .github/workflows/update-dependencies.yml
Due: none

fix: update workflow
  .github/workflows/update-dependencies.yml
Due: none

Improve the touch support (tap the tooltip to follow link)
  docs/diagram.md
Due: disallow-caps

Add noscript fallback
  docs/diagram.md
Due: disallow-caps

action: use python 3.10 to run the GitHub Action
  .github/workflows/test.yml
  action.yml
Due: none

mark CPython 3.11 as pre-release
  .github/workflows/update-dependencies.yml
  README.md
  cibuildwheel/util.py
  unit_test/build_selector_test.py
Due: disallow-caps

feature: add CPython 3.11 support
  .github/workflows/update-dependencies.yml
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python311.txt
  docs/options.md
  noxfile.py
  test/test_limited_api.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps

Fix Linux builds on Windows
  cibuildwheel/docker_container.py
  cibuildwheel/linux.py
  unit_test/docker_container_test.py
  unit_test/option_prepare_test.py
Due: none

Bump version: v2.6.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Fix a Pylint warning
  cibuildwheel/docker_container.py
Due: none

ci: disable travis-ci output timeout
  .travis.yml
Due: none

ci: disable travis-ci output timeout (#1123)
  .travis.yml
Due: none

Bump version: v2.6.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

fix overwriting wheel on macos
  cibuildwheel/macos.py
Due: none

ensure tests run on prerelease Pythons
  cibuildwheel/options.py
Due: none

support Windows cross compilation (x64 -> arm64)
  cibuildwheel/windows.py
Due: none

Refactor class hierarchy
  cibuildwheel/options.py
  cibuildwheel/util.py
  unit_test/build_selector_test.py
Due: none

use Path.unlink() instead of os.unlink()
  cibuildwheel/macos.py
Due: none

use FileNotFoundError instead of OSError
  cibuildwheel/macos.py
Due: none

feature: add manylinux_2_28 support
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_manylinuxXXXX_only.py
  unit_test/main_tests/main_options_test.py
Due: disallow-caps

Fail on errors inside multiline commands
  cibuildwheel/linux.py
Due: none

Enable building for Windows ARM64 on a non-ARM64 device
  cibuildwheel/windows.py
Due: none

Satisfy MyPy
  cibuildwheel/windows.py
Due: none

Add cross-compiler test
  test/test_windows.py
Due: none

Allow more arch values in get_nuget_args
  cibuildwheel/windows.py
Due: none

Bump version: v2.7.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Use preinstalled Python 3 for `cibuildwheel` action
  README.md
  docs/setup.md
  examples/github-with-qemu.yml
Due: disallow-caps

Update to latest GitHub Action versions
  README.md
  docs/deliver-to-pypi.md
  docs/setup.md
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: disallow-caps

Document `config-file`, and add `with:` into example
  docs/setup.md
  examples/github-minimal.yml
Due: disallow-caps

Clarify download action and why `name: artifact` is required
  examples/github-deploy.yml
Due: none
