Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.8
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
  - id: mypy
    name: mypy 3.8 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py|bin/generate_schema.py$
    args: ["--python-version=3.8"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - nox
      - packaging
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.12
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.12"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "sur,assertin", "-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.4
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

Update windows.py
  cibuildwheel/windows.py
Due: none

only run tests on windows
  unit_test/get_platform_test.py
Due: none

add unit tests to check setuptools correctly identifies windows arch
  pyproject.toml
  unit_test/get_platform_test.py
Due: none

only set VSCMD_ARG_TGT_ARCH if not already set
  cibuildwheel/windows.py
Due: none

arm64 fails on azure pipelines (only)
  unit_test/get_platform_test.py
Due: none

remove noqa ARG001 (no longer needed)
  unit_test/get_platform_test.py
Due: none

fix: set VSCMD_ARG_TGT_ARCH based on targeted architecture (#1876)
  cibuildwheel/windows.py
  pyproject.toml
  unit_test/get_platform_test.py
Due: none

feat: add `CIBW_ALLOW_EMPTY` environment variable
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  docs/options.md
  test/test_0_basic.py
Due: disallow-caps

docs: fix nox docs command
  docs/contributing.md
Due: disallow-caps

fix: do not use uv on PyPy 3.8
  cibuildwheel/windows.py
Due: none

Properly close files used for testing
  test/test_before_build.py
  test/test_before_test.py
Due: none

Add support for GraalPy
  README.md
  bin/update_pythons.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/windows.py
  test/test_abi_variants.py
  test/utils.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Do not use `uv` on GraalPy
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

Work around GraalPy virtualenv bug
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

fix: do not use uv on Windows PyPy 3.8 (#1941)
  cibuildwheel/windows.py
Due: none

docs: fix nox docs command (#1938)
  docs/contributing.md
Due: disallow-caps

Revert "tests: don't print xfails (#1865)"
  pyproject.toml
Due: none

chore: type ignore no longer needed
  cibuildwheel/__main__.py
Due: none

feat: add `CIBW_ALLOW_EMPTY` environment variable (#1937)
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  docs/options.md
  test/test_0_basic.py
Due: disallow-caps

tests: show xfail traceback summaries again (#1943)
  pyproject.toml
Due: none

Build CPython 3.13 by default
  README.md
  cibuildwheel/util.py
  unit_test/build_selector_test.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

README.md: Add note about free-threaded support
  README.md
Due: disallow-caps

build_selector_test.py: cp313t still behind flag
  unit_test/build_selector_test.py
Due: none

fix unit tests
  unit_test/linux_build_steps_test.py
Due: none

Build CPython 3.13 by default (#1950)
  README.md
  cibuildwheel/util.py
  unit_test/build_selector_test.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Bump version: v2.20.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

chore: use SPEC 0 schedule for cibuildwheel
  .cirrus.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .travis.yml
  CI.md
  appveyor.yml
  azure-pipelines.yml
  bin/bump_version.py
  bin/update_nodejs.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  cibuildwheel/__main__.py
  cibuildwheel/_compat/__init__.py
  cibuildwheel/_compat/tomllib.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/architecture.py
  cibuildwheel/bashlex_eval.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/projectfiles.py
  cibuildwheel/typing.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  pyproject.toml
  test/conftest.py
  test/test_projects/base.py
  unit_test/build_ids_test.py
  unit_test/get_platform_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/validate_schema_test.py
Due: disallow-caps

fix: support linux builds from macOS again
  cibuildwheel/oci_container.py
Due: none

fix: support empty CIBW_PLATFORM
  test/utils.py
Due: none

fix: support empty CIBW_PLATFORM
  cibuildwheel/__main__.py
Due: none

Add test
  unit_test/main_tests/main_platform_test.py
Due: none

fix: AppVeyor CI tests & sample
  CI.md
  appveyor.yml
  examples/appveyor-minimal.yml
Due: disallow-caps

fix: support empty CIBW_PLATFORM (#1969)
  cibuildwheel/__main__.py
  test/utils.py
  unit_test/main_tests/main_platform_test.py
Due: none

fix: AppVeyor CI tests & sample (#1971)
  CI.md
  appveyor.yml
  examples/appveyor-minimal.yml
Due: disallow-caps

fix: TravisCI failures & status
  .travis.yml
  test/test_emscripten.py
Due: none

Allow failure on s390x
  .travis.yml
Due: none

fix: TravisCI failures & status (#1970)
  .travis.yml
  test/test_emscripten.py
Due: none

podman is now pre-installed on GHA runners
  .github/workflows/test.yml
Due: none

chore(ci): podman is now pre-installed on GHA runners (#1974)
  .github/workflows/test.yml
Due: none

Update cibuildwheel/oci_container.py
  cibuildwheel/oci_container.py
Due: none
