Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

tests: add pyproject.toml for failing test
  test/test_troubleshooting.py
Due: none

feat: add a `--clean-cache` command to clean up locations specified at `CIBW_CACHE_PATH` (#2489)
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/util/file.py
  unit_test/main_commands_test.py
Due: none

Bump to Pyodide 0.28.2
  cibuildwheel/resources/build-platforms.toml
Due: none

chore: bump to Pyodide 0.28.2 (#2562)
  cibuildwheel/resources/build-platforms.toml
Due: none

Bump version: v3.1.4
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

Revert Azure iOS runners to macos-14.
  azure-pipelines.yml
Due: none

Add warning about known macos-15 issues on Github Actions and Azure.
  README.md
  docs/platforms.md
Due: disallow-caps, cog

Update workflow reference with actual ticket.
  .github/workflows/test.yml
Due: none

Switch Azure Pipelines iOS image (#2563)
  .github/workflows/test.yml
  README.md
  azure-pipelines.yml
  docs/platforms.md
Due: disallow-caps, cog

Add Python 3.14 for Android
  bin/update_pythons.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
Due: none

Simplify GitHub Actions workflows
  .github/workflows/test.yml
  docs/platforms.md
  examples/github-deploy.yml
Due: disallow-caps

Update tests
  test/test_ios.py
  test/utils.py
  unit_test/get_platform_test.py
Due: none

Allow running `patchelf` even when the environment's `bin` directory is not on the PATH
  README.md
  cibuildwheel/platforms/android.py
  docs/options.md
  docs/platforms.md
  test/test_android.py
Due: disallow-caps, cog

Search in both the environment's bin directory and the PATH
  cibuildwheel/platforms/android.py
  examples/github-deploy.yml
Due: none

Use `sysconfig.get_path`
  cibuildwheel/platforms/android.py
Due: none

Fix lint warning
  cibuildwheel/platforms/android.py
Due: none

Create ibm.yml
  .github/workflows/ibm.yml
Due: none

Add documentation for test dependency groups on mobile platforms.
  docs/options.md
Due: disallow-caps, cog

Install the test environment while simulating Android
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

Pass build-verbosity setting through to the test runner
  cibuildwheel/platforms/android.py
  docs/options.md
  test/test_android.py
Due: disallow-caps, cog

Test example minimal configs
  .github/workflows/example.yml
  setup.cfg
  setup.py
  spam.c
Due: none

Test example CI configs
  .github/workflows/example.yml
  setup.cfg
  setup.py
  spam.c
Due: none

fix: drop unused riscv64 enable option
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/selector.py
Due: none

drop warning on unused riscv64 enable option
  cibuildwheel/__main__.py
  cibuildwheel/selector.py
  unit_test/main_tests/main_options_test.py
Due: none

Fix pytest-rerunfailures version constraint
  pyproject.toml
Due: none

update docker images (remove default setuptools for GraalPy)
  cibuildwheel/resources/pinned_docker_images.cfg
Due: none

Fix a few bugs in run_example_ci_config tooling
  bin/run_example_ci_configs.py
  examples/github-deploy.yml
Due: none

Don't constrain build-system.requires with dependency-versions
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/packaging.py
Due: none

Move PyPy 3.10 to pypy-eol (#2521)
  cibuildwheel/selector.py
  test/utils.py
  unit_test/build_selector_test.py
Due: none

Android updates (#2568)
  .github/workflows/test.yml
  README.md
  bin/update_pythons.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  docs/platforms.md
  examples/github-deploy.yml
  test/test_android.py
  test/test_ios.py
  test/utils.py
  unit_test/get_platform_test.py
Due: disallow-caps, cog

Add documentation for test dependency groups on mobile platforms. (#2574)
  docs/options.md
Due: disallow-caps, cog

Android test updates (#2575)
  cibuildwheel/platforms/android.py
  docs/options.md
  test/test_android.py
Due: disallow-caps, cog

Add flaky marker on test_ssl
  test/test_ssl.py
Due: none

Fix a few bugs in run_example_ci_config tooling (#2577)
  bin/run_example_ci_configs.py
  examples/github-deploy.yml
  test/test_ssl.py
Due: none

feat: option to build directly with uv
  bin/generate_schema.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  unit_test/options_test.py
Due: none

fix: uv doesn't support PyPy 3.8
  cibuildwheel/platforms/windows.py
Due: none

tests: add uv to tests
  test/conftest.py
Due: none

fix: set uv build constraints too
  cibuildwheel/util/packaging.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
