Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

ci: pre-install pipx on M1
  .github/workflows/test.yml
Due: none

fix: download pipx for action, allow support for M1
  action.yml
Due: none

Update action.yml
  action.yml
Due: none

Don't use the quotes on Powershell for command path
  action.yml
Due: none

Use & to invoke a command with a string argument
  action.yml
Due: none

fix: download pipx for action, allow support for M1 (#1743)
  action.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Bump version: v2.16.5
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

test macos_x86-64 and arm64 in different venv dir
  cibuildwheel/macos.py
Due: none

chore: minor touchups to pyproject
  pyproject.toml
Due: none

update error message for skipped arm64 tests
  cibuildwheel/macos.py
Due: none

Update docs, README and examples
  README.md
  docs/extra.css
  docs/faq.md
  docs/options.md
  docs/setup.md
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: disallow-caps

Add integration test
  test/test_macos_archs.py
Due: none

Go back to macos-12 for the AS transition
  docs/setup.md
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: disallow-caps

fix error message asserts
  test/test_macos_archs.py
Due: none

chore: minor touchups to pyproject (#1751)
  pyproject.toml
Due: none

Typo
  docs/faq.md
Due: disallow-caps

Upgrade to macos-13 for the intel runners
  .github/workflows/test.yml
  docs/faq.md
  docs/setup.md
  examples/github-deploy.yml
  examples/github-minimal.yml
Due: disallow-caps

Upgrade to macos-13 for the intel runners
  README.md
  examples/github-with-qemu.yml
Due: disallow-caps

chore(CI): test on GHA macOS-14 runner (#1700)
  .github/workflows/test.yml
  README.md
  cibuildwheel/macos.py
  docs/extra.css
  docs/faq.md
  docs/options.md
  docs/setup.md
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  test/test_macos_archs.py
Due: disallow-caps

chore(action): update cibw arguments passing
  .github/workflows/test.yml
  action.yml
Due: none

Replace deprecated runner in CircleCI example
  examples/circleci-minimal.yml
Due: none

chore(action): update cibuildwheel arguments passing (#1757)
  .github/workflows/test.yml
  action.yml
Due: none

chore(ci): speed-up tests
  .travis.yml
  bin/run_tests.py
  test/test_before_build.py
  test/test_before_test.py
Due: none

back to 2 processes on Azure macOS
  azure-pipelines.yml
Due: none

Fix another deprecated image reference
  .circleci/config.yml
Due: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Refactor: simplifying by splitting the responsibilities of _dig_first
  cibuildwheel/options.py
  unit_test/options_toml_test.py
Due: none

Refactor to allow merging of string settings, and preserve table cascades
  cibuildwheel/options.py
  unit_test/options_test.py
  unit_test/options_toml_test.py
Due: none

add information about potential problem
  docs/faq.md
Due: disallow-caps

Update docs/faq.md
  docs/faq.md
Due: disallow-caps

Remove loop with single entry in test
  test/test_dependency_versions.py
Due: none

Update constraints again to reapply changes to constraints.in after merge
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Limit line length to 100 cols
  cibuildwheel/__main__.py
Due: none

Set SYSTEM_VERSION_COMPAT=0 during pip install on macos (#1767)
  cibuildwheel/macos.py
Due: none

Only set SYSTEM_VERSION_COMPAT=0 for CPython 3.8
  cibuildwheel/macos.py
Due: none

Set SYSTEM_VERSION_COMPAT=0 for CPython <= 3.8
  cibuildwheel/macos.py
Due: none

docs: add some docs for inherit
  bin/generate_schema.py
  docs/options.md
Due: disallow-caps

Replace deprecated runner in CircleCI example (#1762)
  .circleci/config.yml
  examples/circleci-minimal.yml
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
