Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Remove dependency on Unix tools in Windows
  test/test_environment.py
  unit_test/environment_test.py
Due: none

Use an equivalent of Unix echo written in Python
  test/test_environment.py
  unit_test/environment_test.py
Due: none

Use sys.executable
  test/test_environment.py
  unit_test/environment_test.py
Due: none

Fix Windows paths getting escaped
  test/test_environment.py
  unit_test/environment_test.py
Due: none

Ensure the tests that use subcommands have access to the system env
  unit_test/environment_test.py
Due: none

doc: update github-with-qemu.yml example
  examples/github-with-qemu.yml
Due: none

fix: add suggestions to the TOML error message
  cibuildwheel/options.py
  unit_test/options_toml_test.py
Due: none

fix: update workflow
  .pre-commit-config.yaml
  bin/update_dependencies.py
Due: none

fix: update workflow
  bin/update_dependencies.py
  noxfile.py
Due: none

Add setup_rust_cross_compile
  cibuildwheel/windows.py
Due: none

Apply some PR feedback
  cibuildwheel/logger.py
  cibuildwheel/windows.py
  test/test_windows.py
Due: none

Revert type names
  cibuildwheel/windows.py
Due: none

Update cibuildwheel/options.py
  cibuildwheel/options.py
Due: none

fix: add suggestions to the TOML error message (#1205)
  cibuildwheel/options.py
  unit_test/options_toml_test.py
Due: none

doc: update github-with-qemu.yml example (#1206)
  examples/github-with-qemu.yml
Due: none

fix: update workflow (#1209)
  bin/update_dependencies.py
  noxfile.py
Due: none

chore: run update workflow on pull request
  .github/workflows/update-dependencies.yml
Due: none

fix: don't build `universal2` as a default on macOS arm64 runners
  cibuildwheel/architecture.py
Due: none

Docs/examples updates
  docs/faq.md
  docs/options.md
  examples/github-apple-silicon.yml
Due: disallow-caps

Change expected_wheels to only expect universal2 when a flag is passed
  test/test_macos_archs.py
  test/utils.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Remove pytest-azurepipelines for now
  azure-pipelines.yml
Due: none

chore: run update workflow on pull request (#1210)
  .github/workflows/update-dependencies.yml
Due: none

ci: use official nox action
  .github/workflows/update-dependencies.yml
Due: none

chore: add two ML example projects
  docs/data/projects.yml
Due: none

Build cp311 without setting prerelease_pythons
  README.md
  cibuildwheel/util.py
  unit_test/build_selector_test.py
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Bump version: v2.9.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Add @czaki to the maintainers
  README.md
Due: disallow-caps

Add ril to projects.yml
  docs/data/projects.yml
Due: none

Update mkdocs and fix resulting issues
  docs/changelog.md
  docs/contributing.md
  docs/cpp_standards.md
  docs/deliver-to-pypi.md
  docs/extra.css
  docs/faq.md
  docs/options.md
  docs/setup.md
  docs/theme_overrides/js/theme.js
  mkdocs.yml
  setup.py
Due: disallow-caps, update-readme-changelog

Minor styling improvements
  docs/extra.css
  docs/index.md
  docs/options.md
  docs/setup.md
  docs/theme_overrides/js/theme.js
Due: disallow-caps

Skip Python 3.6 test on macOS arm64
  test/test_dependency_versions.py
Due: none

Bump wheel version to fix deployment target for universal2
  test/test_dependency_versions.py
Due: none

Skip cp38-macosx_arm64 in the test testing failing tests
  test/test_testing.py
Due: none

Test doesn't depend on python version but macOS arm64 can't build 3.6
  test/test_subdir_package.py
Due: none

Add .cirrus.yml running tests
  .cirrus.yml
Due: none

Add Cirrus CI to CIProvider enum
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/util.py
  unit_test/main_tests/main_platform_test.py
Due: none

Add a minimal example
  docs/options.md
  docs/setup.md
  examples/cirrus-ci-minimal.yml
Due: disallow-caps

List Cirrus CI in README and update relevant scripts
  README.md
  bin/projects.py
  bin/run_example_ci_configs.py
  docs/data/projects.yml
  docs/data/readme_icons/cirrusci.svg
Due: disallow-caps

Add more leeway to the 55 minutes task
  .cirrus.yml
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$
  update-readme-changelog: any of: ^docs/changelog.md$
