Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.8
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.10.0
  hooks:
  - id: mypy
    name: mypy 3.8 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py|bin/generate_schema.py$
    args: ["--python-version=3.8"]
    additional_dependencies: &mypy-dependencies
      - bracex
      - nox
      - packaging
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.12
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.12"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.3.0
  hooks:
  - id: codespell
    args: ["-L", "sur,assertin", "-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.28.4
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

DOC: Fix bug with link
  docs/options.md
Due: disallow-caps

DOC: Fix bug with link (#1870)
  docs/options.md
Due: disallow-caps

BUG: Fix bug with macOS 3.8 arm64 URL
  cibuildwheel/resources/build-platforms.toml
Due: none

tests: skip warnings on xfails for now
  pyproject.toml
Due: none

Split out file utils into separate submodule
  cibuildwheel/util/__init__.py
  cibuildwheel/util/files.py
  cibuildwheel/util/misc.py
Due: none

add docstrings & tidy comments
  cibuildwheel/util/files.py
Due: none

move util.py to util/misc.py maintaining historical import interface
  cibuildwheel/util/__init__.py
  cibuildwheel/util/misc.py
Due: none

tests: don't print xfails (#1865)
  pyproject.toml
Due: none

fix type hinting for python < 3.10
  cibuildwheel/util/files.py
Due: none

Update README.md
  README.md
Due: disallow-caps

docs: update README.md (#1874)
  README.md
Due: disallow-caps

DOC: Update
  cibuildwheel/resources/build-platforms.toml
  docs/faq.md
Due: disallow-caps

set VSCMD_ARG_TGT_ARCH based on targetted architecture
  cibuildwheel/windows.py
Due: none

fix: specify full path to non-venv Python
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

fix: specify full path to non-venv Python (#1881)
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

Bump version: v2.19.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

FIX: Remove old
  docs/faq.md
Due: disallow-caps

only set VSCMD_ARG_TGT_ARCH if not already set
  cibuildwheel/windows.py
Due: none

DOC: Both
  docs/faq.md
Due: disallow-caps

add unit tests to check setuptools correctly identifies windows arch
  pyproject.toml
  unit_test/get_platform_test.py
Due: none

only run tests on windows
  unit_test/get_platform_test.py
Due: none

arm64 fails on azure pipelines (only)
  unit_test/get_platform_test.py
Due: none

Add streaming-form-data to projects.yml
  docs/data/projects.yml
Due: none

chore(tests): run a project with tests using `build[uv]` frontend
  test/test_before_test.py
Due: none

fix: xfail test_dependency_constraints_file with pyodide
  test/test_dependency_versions.py
Due: none

fix(tests): don't skip pyodide tests for `build_frontend_env_nouv[build]`
  test/conftest.py
  test/test_dependency_versions.py
Due: none

fix: xfail test_pep518 with pyodide
  test/test_pep518.py
Due: none

fix: test_pep518 with pyodide
  test/test_pep518.py
Due: none

fix: test_dependency_constraints_file
  cibuildwheel/pyodide.py
  test/test_dependency_versions.py
Due: none

chore: remove cached_property from utils
  cibuildwheel/options.py
  cibuildwheel/util.py
Due: none

chore(tests): run a project with tests using `build[uv]` frontend (#1880)
  cibuildwheel/pyodide.py
  test/conftest.py
  test/test_before_test.py
  test/test_dependency_versions.py
  test/test_pep518.py
Due: none

review: use `import functools`
  cibuildwheel/options.py
Due: none

:pencil2: properly escape extra
  docs/options.md
Due: disallow-caps

docs: add streaming-form-data to projects.yml (#1883)
  docs/data/projects.yml
Due: none

chore: remove cached_property from utils (#1884)
  cibuildwheel/options.py
  cibuildwheel/util.py
Due: none

docs: properly escape extra in `build[uv]` (#1886)
  docs/options.md
Due: disallow-caps

chore: remove pip beta workaround
  cibuildwheel/linux.py
Due: none

Apply suggestions from code review
  docs/faq.md
Due: disallow-caps
