Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

optimise unit tests - a specific platform module API for all configs
  cibuildwheel/__main__.py
  cibuildwheel/platforms/__init__.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
Due: none

optimise unit tests - Cache loading the config TOML
  cibuildwheel/util/resources.py
Due: none

optimise unit tests - use the same pyproject validator across the tests
  unit_test/validate_schema_test.py
Due: none

optimise unit tests - selector optimisation
  cibuildwheel/selector.py
Due: none

optimise unit tests - build options computation cache
  cibuildwheel/options.py
Due: none

Fix some message formatting and test expectations
  cibuildwheel/__main__.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  unit_test/main_tests/main_platform_test.py
Due: none

chore: some cleanup from ruff --preview checks
  bin/update_docker.py
  bin/update_pythons.py
  cibuildwheel/__main__.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/pyodide.py
  cibuildwheel/selector.py
  cibuildwheel/util/helpers.py
  cibuildwheel/windows.py
  test/test_manylinuxXXXX_only.py
  unit_test/architecture_test.py
  unit_test/oci_container_test.py
  unit_test/projectfiles_test.py
Due: none

chore: remove PopenBytes & TYPE_CHECKING
  cibuildwheel/oci_container.py
  cibuildwheel/typing.py
Due: none

chore: use StrEnum from Python 3.11
  .pre-commit-config.yaml
  cibuildwheel/architecture.py
Due: none

chore: remove staticmethod to appease buggy pylint check
  cibuildwheel/options.py
Due: none

chore: cleanup for 3.11+
  cibuildwheel/frontend.py
  cibuildwheel/typing.py
  unit_test/main_tests/main_options_test.py
Due: none

chore: add pathlib check
  bin/bump_version.py
  bin/make_dependency_update_pr.py
  bin/run_example_ci_configs.py
  cibuildwheel/pyodide.py
  pyproject.toml
  test/test_windows.py
Due: none

chore(2.x): update dependencies
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/pinned_docker_images.cfg
Due: none

chore(travis-ci): only build on push to main on x86_64
  .travis.yml
Due: none

fix(ci): Cirrus CI does not allow armv7l builds on aarch64
  test/utils.py
Due: none

feat: Print FatalError messages using Logger (#2292)
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  unit_test/main_tests/main_platform_test.py
Due: none

chore(2.x): update dependencies (#2294)
  .github/workflows/test.yml
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/pinned_docker_images.cfg
Due: none

fix(ci): Cirrus CI does not allow armv7l builds on aarch64 (#2296)
  test/utils.py
Due: none

Bump version: v2.23.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, update-readme-changelog

Factor out common xcode version test utility.
  test/test_ios.py
  test/test_macos_archs.py
  test/utils.py
Due: none

Simplify iOS to a single platform with an expanded interpretation of arch.
  cibuildwheel/__main__.py
  cibuildwheel/architecture.py
  cibuildwheel/ios.py
  cibuildwheel/logger.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/typing.py
  cibuildwheel/util/packaging.py
  docs/options.md
  docs/platforms/ios.md
Due: disallow-caps

I guess I should update the iOS tests as well...
  test/test_ios.py
Due: none

Additional safety for missing iOS test output.
  test/test_ios.py
Due: none

Remove DYLD_LIBRARY_PATH from the iOS environment.
  cibuildwheel/ios.py
Due: none

fix(docs/faq): update rust toolchain intructions
  docs/faq.md
Due: disallow-caps

Make test-sources mandatory for iOS builds.
  cibuildwheel/ios.py
  cibuildwheel/util/file.py
  docs/options.md
  docs/platforms/ios.md
  test/test_ios.py
Due: disallow-caps

Updates and clarifications to documentation.
  cibuildwheel/resources/defaults.toml
  docs/options.md
  docs/platforms/ios.md
  docs/platforms/macos.md
  examples/github-deploy.yml
Due: disallow-caps

Clarify what a slice is.
  cibuildwheel/ios.py
Due: none

Normalize use of underscores in platform name.
  cibuildwheel/architecture.py
  cibuildwheel/ios.py
  cibuildwheel/logger.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  docs/platforms/ios.md
Due: disallow-caps

Modify auto target to be matching CPU only.
  cibuildwheel/architecture.py
  docs/options.md
Due: disallow-caps

Use consistent ordering of platforms in examples.
  cibuildwheel/resources/defaults.toml
Due: none

Use consistent naming in iOS archiectures.
  cibuildwheel/architecture.py
Due: none

Placate the linter.
  cibuildwheel/ios.py
Due: none

Miscellaneous cleanups picked up by @joerick's review.
  cibuildwheel/ios.py
Due: none

Correct the list of expected wheels.
  test/test_ios.py
Due: none

Correct which 'native' we're actually checking.
  cibuildwheel/architecture.py
Due: none

Correct the docs links so they're all relative.
  docs/platforms/ios.md
Due: disallow-caps

Correct the identification of free threaded builds.
  cibuildwheel/ios.py
Due: none

Add test for empty packages option value
  unit_test/dependency_constraints_test.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
