Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.4
  hooks:
  - id: ruff-check
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    exclude: ^cibuildwheel/resources/_cross_venv.py$  # Requires Python 3.13 or later
    additional_dependencies: &mypy-dependencies
      - bracex
      - build
      - dependency-groups>=1.2
      - humanize
      - nox>=2025.2.9
      - orjson
      - packaging
      - pyelftools
      - pygithub
      - pytest
      - rich
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.13
    args: ["--python-version=3.13"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp>=3.5]

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.34.1
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

Add `--rm` to docker command line
  cibuildwheel/resources/android/fortran_shim.py
Due: none

fix: some fixes from copilot review
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
Due: none

Make Rust and Fortran shims consistent
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/android/fortran_shim.py
  cibuildwheel/resources/android/rust_shim.py
Due: none

Update documentation
  docs/options.md
  docs/platforms.md
Due: disallow-caps, cog

fix: nicer fail message when --only is wrong (#2722)
  cibuildwheel/__main__.py
Due: none

Fix the PATH mangling in action.yml
  action.yml
Due: none

Modify script to allow testing of the GHA action on a PR
  bin/run_example_ci_configs.py
Due: none

Test example CI configs
  .github/workflows/example.yml
  setup.cfg
  setup.py
  spam.c
Due: none

Add some docs to the FAQ about meson on windows
  docs/faq.md
Due: disallow-caps

Update README actions
  README.md
Due: disallow-caps, cog

Update README actions (#2724)
  README.md
Due: disallow-caps, cog

docs: fix broken TOML links in options.md
  docs/options.md
Due: disallow-caps, cog

Fix the PATH mangling in action.yml (#2723)
  action.yml
  bin/run_example_ci_configs.py
Due: none

WIP - initial punt at audit command
  cibuildwheel/__main__.py
  cibuildwheel/audit.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  unit_test/audit_test.py
  unit_test/options_toml_test.py
Due: none

docs: fix broken TOML reference links in options.md
  docs/options.md
Due: disallow-caps, cog

feat: option to build directly with uv (#2322)
  bin/generate_schema.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  test/conftest.py
  test/test_android.py
  unit_test/options_test.py
Due: none

feat: support uv with iOS
  cibuildwheel/platforms/ios.py
  test/test_ios.py
Due: none

Replace manual UV setup with action setup-uv@v7
  .github/workflows/test.yml
Due: none

fix: pass through python-platform to uv
  cibuildwheel/platforms/ios.py
Due: none

Remove checkout command for pull request 16686
  .github/workflows/test.yml
Due: none

WIP: try uv PR
  .github/workflows/test.yml
Due: none

fix: consistently use find_uv for our usage of uv
  cibuildwheel/platforms/windows.py
  cibuildwheel/venv.py
Due: none

ci: avoid broken GraalPy release
  bin/update_pythons.py
Due: none

Bump to actions/checkout v6 everywhere
  docs/deliver-to-pypi.md
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
Due: disallow-caps

Not persisting credentials is still valuable
  README.md
  docs/deliver-to-pypi.md
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
Due: disallow-caps, cog

Add a note about security
  README.md
  docs/index.md
Due: disallow-caps, cog

Fix bad indentation
  docs/deliver-to-pypi.md
Due: disallow-caps

Improve wording, remove link to PyPA guides
  README.md
  docs/index.md
Due: disallow-caps, cog

ci: skip GraalPy when no release url available
  bin/update_pythons.py
Due: none

ci: avoid Intel GraalPy updates (#2732)
  bin/update_pythons.py
Due: none

fix: support uv on android
  cibuildwheel/platforms/android.py
  test/conftest.py
  test/test_android.py
Due: none

test: replace badssl.com with google.com/generate_204 in SSL test
  test/test_ssl.py
Due: none

Add a small note about security implications of using `cibuildwheel` in CI runners (#2711)
  README.md
  docs/deliver-to-pypi.md
  docs/index.md
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
Due: disallow-caps, cog

test: try reduce flakiness of test_ssl (#2735)
  test/test_ssl.py
Due: none

fix: consistently use find_uv for our usage of uv (#2730)
  cibuildwheel/platforms/windows.py
  cibuildwheel/venv.py
Due: none

docs: update for uv backend
  docs/options.md
  docs/platforms.md
Due: disallow-caps, cog

fix: missing schema update
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

Update bin/run_example_ci_configs.py
  bin/run_example_ci_configs.py
Due: none

Add an integration test and debug issues with the meson backend (#2718)
  bin/run_example_ci_configs.py
  docs/faq.md
  test/test_build_frontend_args.py
  test/test_meson_python.py
  test/test_projects/__init__.py
  test/test_projects/c.py
  test/test_projects/meson.py
  test/test_projects/setuptools.py
Due: disallow-caps

fix: support uv on android (#2733)
  cibuildwheel/platforms/android.py
  test/conftest.py
  test/test_android.py
Due: none
