Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

chore(CI): test on GHA macos-13-xlarge runner
  .github/workflows/test.yml
Due: none

docs: update examples for v4 of `upload-artifact` and `download-artifact` actions
  docs/deliver-to-pypi.md
  docs/setup.md
Due: disallow-caps

docs: use more unique artifact name
  docs/deliver-to-pypi.md
  docs/setup.md
Due: disallow-caps

docs: update github example workflows to artifact actions v4
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: none

docs: update examples for v4 of `upload-artifact` and `download-artifact` actions (#1705)
  docs/deliver-to-pypi.md
  docs/setup.md
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: disallow-caps

ci: group dependabot updates
  .github/dependabot.yml
Due: none

docs: update to readme example to `upload-artifact` v4
  README.md
Due: disallow-caps

ci: group dependabot updates (#1707)
  .github/dependabot.yml
Due: none

Upgrade artifact actions in workflows to v4
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Upgrade artifact actions in workflows to v4 (#1711)
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Refactor error handling to use exceptions
  cibuildwheel/__main__.py
  cibuildwheel/errors.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
  docs/options.md
  pyproject.toml
  unit_test/main_tests/main_options_test.py
  unit_test/options_test.py
Due: disallow-caps

add noqa rule
  cibuildwheel/__main__.py
Due: none

Apply suggestions from code review
  cibuildwheel/options.py
  cibuildwheel/util.py
  cibuildwheel/windows.py
Due: none

Return to flake8-errmsg conformance
  cibuildwheel/__main__.py
  cibuildwheel/extra.py
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/options.py
  cibuildwheel/windows.py
  pyproject.toml
Due: none

Don't preinstall setuptools and wheel, remove from constraints
  cibuildwheel/macos.py
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python36.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.in
  cibuildwheel/resources/constraints.txt
  cibuildwheel/windows.py
  noxfile.py
  test/test_dependency_versions.py
Due: none

We can't update the 3.6 pins in CI
  noxfile.py
Due: none

Don't require `--platform` when running on a development machine
  bin/dev_run_test
  cibuildwheel/__main__.py
  docs/options.md
  docs/setup.md
  unit_test/main_tests/main_platform_test.py
Due: disallow-caps

Add a test for the `package` placeholder exposure
  test/test_from_sdist.py
Due: none

Edit quotes in the CLI argument for Windows compatibility
  test/test_from_sdist.py
Due: none

Use single quotes to avoid syntax errors from f-string
  test/test_from_sdist.py
Due: none

fix: correct path when building sdist package (#1687)
  cibuildwheel/__main__.py
  test/test_from_sdist.py
Due: none

Apply suggestions from code review
  docs/setup.md
Due: disallow-caps

Make the note on environment variables clear
  docs/options.md
Due: disallow-caps

Code review suggestions
  cibuildwheel/errors.py
  cibuildwheel/linux.py
Due: none

Bump version: v2.16.3
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Remove the Cirrus CI badge from readme
  README.md
Due: disallow-caps

Don't bother pinning OS images for Github Actions
  .github/workflows/test.yml
  .github/workflows/update-dependencies.yml
  README.md
  docs/setup.md
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
Due: disallow-caps

add keyvi to working-examples.md
  docs/working-examples.md
Due: none

Bump version: v2.16.4
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Update projects.yml
  docs/data/projects.yml
Due: none

Update working-examples.md
  docs/working-examples.md
Due: none

feat: add inherit to override
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  docs/options.md
  unit_test/options_toml_test.py
  unit_test/validate_schema_test.py
Due: disallow-caps

refactor: use dict and support prepend
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  docs/options.md
  unit_test/options_toml_test.py
  unit_test/validate_schema_test.py
Due: disallow-caps

docs: add keyvi as an example that combines cibuildwheel with the ccache action to speedup runtime. (#1735)
  docs/data/projects.yml
Due: none

chore: check schemas
  .pre-commit-config.yaml
  docs/data/projects.schema.json
  docs/data/projects.yml
Due: none

Add support for PowerShell 7.4 in GHA
  action.yml
Due: none

fix: simplify action quoting on Windows
  action.yml
Due: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
