Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

chore(ci): speed-up tests (#1752)
  .travis.yml
  azure-pipelines.yml
  bin/run_tests.py
  test/test_before_build.py
  test/test_before_test.py
Due: none

[draft] Sketched out an explicit QEMU mode
  cibuildwheel/linux.py
Due: none

Ruff fixes
  cibuildwheel/linux.py
Due: none

style improvements from code review
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

Subclass Exception rather than SystemExit
  cibuildwheel/errors.py
Due: none

Apply suggestions from code review
  docs/options.md
Due: disallow-caps

Update the docs to use nox primarily and not require CIBW_PLATFORM
  docs/contributing.md
Due: disallow-caps

Reorganise this file
  docs/contributing.md
Due: disallow-caps

feat: add inherit to override (#1730)
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  docs/options.md
  unit_test/options_test.py
  unit_test/options_toml_test.py
  unit_test/validate_schema_test.py
Due: disallow-caps

Update cibuildwheel/macos.py
  cibuildwheel/macos.py
Due: none

Always set platform; support all linux architectures; move logic to OCIContainer class
  cibuildwheel/linux.py
  cibuildwheel/oci_container.py
Due: none

Made platform optional
  cibuildwheel/oci_container.py
Due: none

Fix empty string
  cibuildwheel/oci_container.py
Due: none

chore(action): do not use pipx
  action.yml
Due: none

Docs domain change to cibuildwheel.pypa.io
  README.md
  docs/changelog.md
  docs/faq.md
  docs/options.md
  setup.cfg
Due: disallow-caps, update-readme-changelog

Add `pedalboard` to projects.yml.
  docs/data/projects.yml
Due: none

Update projects.yml
  docs/data/projects.yml
Due: none

ci: pin manylinux1 with missing tag
  bin/update_docker.py
  cibuildwheel/resources/pinned_docker_images.cfg
Due: none

Add `pedalboard` to projects.yml. (#1781)
  docs/data/projects.yml
Due: none

fix: set SYSTEM_VERSION_COMPAT=0 during pip install on macos (#1768)
  cibuildwheel/macos.py
Due: none

docs: Add how to run tests in development (#1698)
  docs/contributing.md
Due: disallow-caps

Remove manylinux1 docker pin
  bin/update_docker.py
Due: none

Fix executable name, that doesn't always exist on windows
  test/test_from_sdist.py
Due: none

Use the `python3` executable on macOS Cirrus
  .cirrus.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
Due: none

Homebrew changed where it puts the python binaries
  .cirrus.yml
Due: none

Update examples to match new config
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
Due: none

CirrusCI fixes (#1786)
  .cirrus.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  test/test_from_sdist.py
Due: none

Bump version: v2.17.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Improve version push command
  bin/bump_version.py
Due: none

Fix typo in changelog
  README.md
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

fix(schema): use $refs instead of defines
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

fix(schema): use $refs instead of defines (#1788)
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

Make `container-engine` a build (non-global) option
  cibuildwheel/linux.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  unit_test/linux_build_steps_test.py
  unit_test/options_test.py
Due: none

chore: use uv pip compile instead of pip-tools
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  noxfile.py
Due: none

Update noxfile.py
  noxfile.py
Due: none

chore: ignore incorrect warning from pylint
  cibuildwheel/options.py
Due: none

chore: support NOX_DEFAULT_VENV_BACKEND=uv
  noxfile.py
Due: none

chore: use UV_CUSTOM_COMPILE_COMMAND
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  noxfile.py
Due: none

chore: use uv pip compile (#1778)
  cibuildwheel/options.py
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
  noxfile.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
