Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: fa93bc3224c614a0e9786d3e2d3d48edcca246eb  # frozen: v0.15.1
  hooks:
  - id: ruff-check
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    exclude: ^cibuildwheel/resources/_cross_venv.py$  # Requires Python 3.13 or later
    additional_dependencies: &mypy-dependencies
      - bracex
      - build
      - dependency-groups>=1.2
      - humanize
      - nox>=2025.2.9
      - orjson
      - packaging
      - pyelftools
      - pygithub
      - pytest
      - rich
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.14
    args: ["--python-version=3.14"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp>=3.5]

- repo: https://github.com/codespell-project/codespell
  rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: f761d025eb06bcd6a45bf152ba3593c9b8ad9a9b  # frozen: 0.36.2
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

Manually add more GraalPy pip markers
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints.txt
Due: none

Dependency parsing was too naïve
  test/test_dependency_versions.py
Due: none

Update to Pyodide v314.0.0a2
  cibuildwheel/resources/build-platforms.toml
Due: none

Maybe a better way to invoke the compiler on Windows
  test/test_projects/setuptools.py
Due: none

fix: remove pinning constraints from test installs on Linux
  cibuildwheel/platforms/linux.py
Due: none

Can we get away without a DLL?
  test/test_projects/setuptools.py
Due: none

chore: revert python-discovery bump
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Update to Pyodide v314.0.0a2 (#2848)
  cibuildwheel/resources/build-platforms.toml
Due: none

feat: set up `delvewheel` as the default repair wheel command for Windows (#2831)
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.in
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/defaults.toml
  docs/options.md
  pyproject.toml
  test/test_dependency_versions.py
  test/test_projects/__init__.py
  test/test_projects/setuptools.py
  test/test_windows.py
  unit_test/main_tests/main_options_test.py
Due: disallow-caps, cog

Add Python 3.13 gate to constraints and correct them
  cibuildwheel/resources/constraints.in
Due: none

Regenerate constraints
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Regenerate constraints again
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

fix: restore workaround for graalpy
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
Due: none

feet: general approach to auditing wheels with abi3audit default (#2805)
  README.md
  bin/generate_schema.py
  cibuildwheel/audit.py
  cibuildwheel/errors.py
  cibuildwheel/options.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.in
  cibuildwheel/resources/constraints.txt
  cibuildwheel/resources/defaults.toml
  cibuildwheel/util/packaging.py
  cibuildwheel/venv.py
  docs/data/how-it-works.png
  docs/diagram.html
  docs/faq.md
  docs/options.md
  test/test_abi3audit.py
  test/test_abi_variants.py
  unit_test/audit_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/options_toml_test.py
  unit_test/utils_test.py
Due: disallow-caps, cog

test: add Python 3.15 to CI test matrix and classifiers
  .github/workflows/test.yml
  pyproject.toml
Due: none

chore: add Python 3.15 to CI test matrix and classifiers (#2850)
  .github/workflows/test.yml
  pyproject.toml
Due: none

Bump version: v4.0.0rc1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  pyproject.toml
Due: disallow-caps, cog

docs: include delvewheel in legal note
  README.md
Due: disallow-caps, cog

docs: include delvewheel in legal note (#2853)
  README.md
Due: disallow-caps, cog

docs: remove outdated numpy info
  docs/faq.md
Due: disallow-caps

fix: tarfile extraction filter
  cibuildwheel/__main__.py
  cibuildwheel/_compat/__init__.py
  cibuildwheel/_compat/tarfile.py
Due: none

docs: remove outdated numpy info (#2855)
  docs/faq.md
Due: disallow-caps

fix: adjust expectations
  cibuildwheel/resources/build-platforms.toml
  test/utils.py
Due: none

feat: add CPython 3.15 support for iOS and Android
  README.md
  bin/update_pythons.py
  cibuildwheel/resources/build-platforms.toml
  test/utils.py
Due: disallow-caps, cog

docs: fix readme for Pyodide
  README.md
Due: disallow-caps, cog

fix: drop assert
  cibuildwheel/platforms/ios.py
  test/utils.py
Due: none

docs: mention eol
  README.md
Due: disallow-caps, cog

revert: x86 is still supposed to exist
  cibuildwheel/resources/build-platforms.toml
  test/utils.py
Due: none

Update cibuildwheel/_compat/tarfile.py
  cibuildwheel/_compat/tarfile.py
Due: none

feat: add CPython 3.15 support for Android only
  README.md
  bin/update_pythons.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/resources/build-platforms.toml
  test/utils.py
Due: disallow-caps, cog

fix: replace assert with proper exception in python_build_standalone
  cibuildwheel/util/python_build_standalone.py
Due: none

chore: minor fixups across errors, oci_container, and options
  cibuildwheel/errors.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
Due: none

Update cibuildwheel/options.py
  cibuildwheel/options.py
Due: none

Add source reference comment to tarfile.py
  cibuildwheel/_compat/tarfile.py
Due: none

feat: add CPython 3.15 support for Android (#2858)
  README.md
  cibuildwheel/resources/build-platforms.toml
  test/utils.py
Due: disallow-caps, cog

chore: minor fixups across errors, oci_container, and options (#2860)
  cibuildwheel/errors.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
Due: none

feat: add CPython 3.15 support for iOS
  README.md
  bin/update_pythons.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/resources/build-platforms.toml
  test/utils.py
Due: disallow-caps, cog

fix: copy in iOS support files
  .pre-commit-config.yaml
  cibuildwheel/platforms/ios.py
  cibuildwheel/resources/ios-support/_cross_venv.py
  cibuildwheel/resources/ios-support/arm64-iphoneos/_cross_arm64_iphoneos.py
  cibuildwheel/resources/ios-support/arm64-iphoneos/sitecustomize.py
  cibuildwheel/resources/ios-support/arm64-iphonesimulator/_cross_arm64_iphonesimulator.py
  cibuildwheel/resources/ios-support/arm64-iphonesimulator/sitecustomize.py
  cibuildwheel/resources/ios-support/make_cross_venv.py
  cibuildwheel/resources/ios-support/x86_64-iphonesimulator/_cross_x86_64_iphonesimulator.py
  cibuildwheel/resources/ios-support/x86_64-iphonesimulator/sitecustomize.py
  cibuildwheel/util/resources.py
  test/utils.py
Due: none

fix: tarfile extraction filter (#2856)
  cibuildwheel/__main__.py
  cibuildwheel/_compat/__init__.py
  cibuildwheel/_compat/tarfile.py
Due: none

fix: skip directories when copying iOS support files
  cibuildwheel/platforms/ios.py
Due: none
