Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

update-readme-changelog:
  name: Update README changelog
  language: python
  entry: bin/update_readme_changelog.py

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

docs: fix typo
  docs/changelog.md
Due: disallow-caps, update-readme-changelog

Bump version: v2.16.2
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

fix(schema): small bug + prepare for SchemaStore
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  noxfile.py
Due: none

fix(schema): schema kw is supposed to have a number sign
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

fix(schema): differing conventions
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
Due: none

fix(schema): small bug + prepare for SchemaStore (#1638)
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  noxfile.py
Due: none

chore: update ignore code
  bin/update_how_it_works_image.py
Due: none

fix: minor ruff updates
  .pre-commit-config.yaml
  bin/run_example_ci_configs.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/oci_container.py
  pyproject.toml
Due: none

fix: minor ruff updates (#1649)
  .pre-commit-config.yaml
  bin/run_example_ci_configs.py
  cibuildwheel/_compat/typing.py
  cibuildwheel/oci_container.py
  pyproject.toml
Due: none

chore: move to ruff-format
  .pre-commit-config.yaml
  bin/update_pythons.py
  cibuildwheel/util.py
  pyproject.toml
  test/test_before_test.py
  test/test_cpp_standards.py
  test/test_dependency_versions.py
  test/test_emulation.py
  test/test_pep518.py
  test/test_pure_wheel.py
  test/test_same_wheel.py
  test/test_subdir_package.py
  test/test_testing.py
Due: none

chore: test and use 3.12 as host
  .github/workflows/test.yml
  .pre-commit-config.yaml
  action.yml
  setup.cfg
Due: none

Apply suggestions from code review
  bin/update_pythons.py
Due: none

chore: bump Ruff
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: address feedback
  .github/workflows/update-dependencies.yml
  CI.md
Due: disallow-caps

chore: move to ruff-format (#1651)
  .pre-commit-config.yaml
  bin/update_pythons.py
  cibuildwheel/util.py
  pyproject.toml
  test/test_before_test.py
  test/test_cpp_standards.py
  test/test_dependency_versions.py
  test/test_emulation.py
  test/test_pep518.py
  test/test_pure_wheel.py
  test/test_same_wheel.py
  test/test_subdir_package.py
  test/test_testing.py
Due: none

chore: test and use 3.12 as host (#1650)
  .github/workflows/test.yml
  .github/workflows/update-dependencies.yml
  .pre-commit-config.yaml
  CI.md
  action.yml
  setup.cfg
Due: disallow-caps

chore: limit Cirrus CI usage
  .cirrus.yml
Due: none

chore: limit Cirrus CI usage (#1643)
  .cirrus.yml
Due: none

Use quotes when silencing warning
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  docs/faq.md
Due: disallow-caps

[docs] Address some confusion around the CIBW_ENVIRONMENT option.
  docs/options.md
Due: disallow-caps

Adds disable_host_mount suboption to container-engine
  bin/generate_schema.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/util.py
  docs/options.md
  unit_test/oci_container_test.py
  unit_test/options_test.py
Due: disallow-caps

Update projects.yml to add new repo for working examples
  docs/data/projects.yml
Due: none

Skip test on gitlab too
  docs/faq.md
  unit_test/oci_container_test.py
Due: disallow-caps

Try the macos ARM runners
  .circleci/config.yml
  .circleci/prepare.sh
Due: none

Allow the user to set PIP_CONSTRAINT and it affect build-system.requires
  cibuildwheel/macos.py
  cibuildwheel/windows.py
  docs/options.md
  test/test_environment.py
Due: disallow-caps

Use the full resource class names
  .circleci/config.yml
  .circleci/prepare.sh
Due: none

Remove the M1 runner for now
  .circleci/config.yml
Due: none

Fix test issue around container paths
  test/test_environment.py
Due: none

Backslashes in Windows paths mess with CIBW_ENVIRONMENT string parsing
  test/test_environment.py
Due: none

Stop suggesting adding `wheel` to `pyproject.toml`
  docs/faq.md
Due: disallow-caps

[docs] Drop `wheel` from `pyproject.toml` example @ options page
  docs/options.md
Due: disallow-caps

Docs formatting tweaks
  docs/extra.css
  docs/options.md
Due: disallow-caps

Edit path when building sdist package
  cibuildwheel/__main__.py
Due: none

doc: add clarification regarding linux docker environment
  docs/setup.md
Due: disallow-caps

doc: refactor `CIBW_BEFORE_ALL` examples to working versions
  docs/setup.md
Due: disallow-caps

Update LICENSE year
  LICENSE
Due: none

Rename `diagram.md` to `diagram.html`, because it is HTML
  docs/diagram.html
  docs/index.md
Due: disallow-caps

Add docs for how to run tests in development
  docs/contributing.md
Due: disallow-caps

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  update-readme-changelog: any of: ^docs/changelog.md$
