Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, update-readme-changelog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.267
  hooks:
  - id: ruff
    args: ["--fix", "--show-fixes"]

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.2.0
  hooks:
  - id: setup-cfg-fmt
    args: [--include-version-classifiers, --max-py-version=3.11]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.3.0
  hooks:
  - id: mypy
    name: mypy 3.7 on cibuildwheel/
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.7"]
    additional_dependencies: &mypy-dependencies
      - nox
      - packaging~=21.0
      - pygithub
      - rich
      - tomli
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - bracex
  - id: mypy
    name: mypy 3.11
    exclude: ^cibuildwheel/resources/.*py$
    args: ["--python-version=3.11"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.2
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types:
    - markdown
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: update-readme-changelog
    name: Update README changelog
    language: python
    entry: bin/update_readme_changelog.py
    files: ^docs/changelog.md$

- repo: https://github.com/codespell-project/codespell
  rev: v2.2.4
  hooks:
  - id: codespell
    args: ["-L", "sur"]
    exclude: ^docs/working-examples\.md$  # Autogenerated

pass {wheel} path to test command so I can use with tox --installpkg
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

Add aalink to examples
  docs/data/projects.yml
Due: none

feat: add Python 3.12 beta 1
  .github/workflows/update-dependencies.yml
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/util.py
  docs/options.md
  noxfile.py
  test/test_abi_variants.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps

fix: try updating some versions to (near) final 3.6 supported version
  test/test_dependency_versions.py
  test/test_pep518.py
Due: none

Apply suggestions from code review
  cibuildwheel/oci_container.py
  unit_test/oci_container_test.py
Due: none

tests: skip dep check on 3.6
  test/test_dependency_versions.py
Due: none

Update test pip version pin
  test/test_dependency_versions.py
Due: none

Fix expected wheels check
  test/test_dependency_versions.py
Due: none

feat: add Python 3.12 beta 1 (#1507)
  .github/workflows/update-dependencies.yml
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python37.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/util.py
  docs/options.md
  noxfile.py
  test/test_abi_variants.py
  test/test_dependency_versions.py
  test/test_manylinuxXXXX_only.py
  test/test_pep518.py
  test/utils.py
  unit_test/build_selector_test.py
Due: disallow-caps

Bump version: v2.13.0
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

Minor docs fix
  docs/options.md
Due: disallow-caps

Fix test_before_test
  test/test_before_test.py
Due: none

Fix test_custom_repair_wheel
  test/test_custom_repair_wheel.py
Due: none

Fix test_custom_repair_wheel again
  test/test_custom_repair_wheel.py
Due: none

Try again
  test/test_before_test.py
Due: none

Try removing the offending line
  .travis.yml
Due: none

Add workflow that updates a vX.Y tag on release
  .github/workflows/update-major-minor-tag.yml
Due: none

Bump version: v2.13.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  docs/setup.md
  examples/appveyor-minimal.yml
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-apple-silicon.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  setup.cfg
Due: disallow-caps, update-readme-changelog

unify config in `pyproject.toml`
  pyproject.toml
  setup.cfg
Due: none

""
  pyproject.toml
Due: none

..
  pyproject.toml
Due: none

urls
  pyproject.toml
Due: none

chore: fix for Ruff & markdown-it updates
  .pre-commit-config.yaml
  unit_test/option_prepare_test.py
Due: none

tests: remove testpaths, since we have two incomplatible test suites
  pyproject.toml
Due: none

feature: add PyPy 3.10
  README.md
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_cpp_standards.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/option_prepare_test.py
Due: disallow-caps

Add reference to the new 'wheel tags' command
  docs/faq.md
Due: disallow-caps

Copy pass on this text
  docs/faq.md
Due: disallow-caps

Copy edit of the whole section, make it a bit easier to follow, add some details about universal2
  docs/faq.md
Due: disallow-caps

chore: bump to pyodode 0.23.3
  cibuildwheel/resources/build-platforms.toml
Due: none

docs: mention in README
  README.md
  docs/options.md
Due: disallow-caps

fix: remove invalid config setting
  cibuildwheel/pyodide.py
Due: none

docs: use trusted publisher for GHA docs/example
  docs/deliver-to-pypi.md
  examples/github-deploy.yml
Due: disallow-caps

fix: allow access to {wheel} in more places (#1533)
  cibuildwheel/linux.py
  cibuildwheel/macos.py
  cibuildwheel/windows.py
Due: none

Update examples/github-deploy.yml
  examples/github-deploy.yml
Due: none

chore: update for better mypy lambdas
  .pre-commit-config.yaml
  bin/update_pythons.py
Due: none

Support graalpy
  README.md
  bin/update_pythons.py
  cibuildwheel/linux.py
  cibuildwheel/logger.py
  cibuildwheel/macos.py
  cibuildwheel/resources/build-platforms.toml
  test/test_abi_variants.py
  test/test_build_skip.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
Due: disallow-caps

Update tests to account for added graalpy
  unit_test/linux_build_steps_test.py
  unit_test/option_prepare_test.py
Due: none

Exclude pythons starting with g by default (excludes graalpy in the current set of pythons)
  cibuildwheel/options.py
Due: none

Make installation of Python on linux more robust
  cibuildwheel/linux.py
Due: none

fix download and extraction of graalpy on macos
  cibuildwheel/macos.py
Due: none
