Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

chore: minor tweaks to generate schema script (#2467)
  bin/generate_schema.py
Due: none

docs: include Windows ARM in examples (#2468)
  README.md
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
Due: disallow-caps, cog

Provide useful error message if ANDROID_HOME is not set
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

Remove use of HOST environment variable
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/_cross_venv.py
Due: none

chore: address new lints
  bin/run_example_ci_configs.py
  cibuildwheel/environment.py
  cibuildwheel/resources/install_certifi.py
  cibuildwheel/util/helpers.py
  cibuildwheel/venv.py
  pyproject.toml
  unit_test/build_selector_test.py
Due: none

Added Python 3.14 preview for iOS
  cibuildwheel/resources/build-platforms.toml
Due: none

chore: add summary to Action
  .github/workflows/test.yml
  action.yml
Due: none

refactor: new summary table
  action.yml
  cibuildwheel/__main__.py
  cibuildwheel/logger.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
Due: none

fix: fixup tests and formatting
  cibuildwheel/logger.py
  unit_test/wheel_print_test.py
Due: none

fix: pyodide missing some logging
  cibuildwheel/logger.py
  cibuildwheel/platforms/pyodide.py
Due: none

fix: nicer printout, nicer in-place summary
  .pre-commit-config.yaml
  cibuildwheel/__main__.py
  cibuildwheel/logger.py
  pyproject.toml
Due: none

fix: use summary for everything
  cibuildwheel/__main__.py
  cibuildwheel/logger.py
  unit_test/main_tests/conftest.py
  unit_test/option_prepare_test.py
  unit_test/wheel_print_test.py
Due: none

fix: support only one output wheel from repair
  cibuildwheel/errors.py
  cibuildwheel/platforms/linux.py
Due: none

fix: pyodide missing some logging
  .github/workflows/test.yml
  cibuildwheel/logger.py
  cibuildwheel/platforms/pyodide.py
Due: none

fix: pyodide missing some logging (#2477)
  .github/workflows/test.yml
  cibuildwheel/logger.py
  cibuildwheel/platforms/pyodide.py
Due: none

Test all Python versions with iOS
  test/test_ios.py
Due: none

feat: add support for manylinux_2_28 i686 image
  bin/update_docker.py
  cibuildwheel/resources/defaults.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_toml_test.py
Due: disallow-caps, cog

Add new platform maintainers to README!
  README.md
Due: disallow-caps, cog

add cp314-ios to the build selector table
  docs/options.md
Due: disallow-caps, cog

feat: added Python 3.14 preview for iOS (#2475)
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  test/test_ios.py
Due: disallow-caps, cog

Bump version: v3.0.1
  README.md
  cibuildwheel/__init__.py
  docs/changelog.md
  docs/faq.md
  examples/azure-pipelines-minimal.yml
  examples/circleci-minimal.yml
  examples/cirrus-ci-intel-mac.yml
  examples/cirrus-ci-minimal.yml
  examples/github-deploy.yml
  examples/github-minimal.yml
  examples/github-pipx.yml
  examples/github-with-qemu.yml
  examples/gitlab-minimal.yml
  examples/gitlab-with-qemu.yml
  examples/travis-ci-deploy.yml
  examples/travis-ci-minimal.yml
  examples/travis-ci-test-and-deploy.yml
  pyproject.toml
Due: disallow-caps, cog

Add a codeowners file
  .github/CODEOWNERS
Due: none

Bump testing version to 0.28.0
  .github/workflows/test.yml
Due: none

Bump Pyodide constraints
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
Due: none

Add Pyodide 0.28.0 identifier
  cibuildwheel/resources/build-platforms.toml
Due: none

Override to a different, alpha version for testing
  .github/workflows/test.yml
Due: none

Update docs for Pyodide versions everywhere
  docs/options.md
  unit_test/options_test.py
Due: disallow-caps, cog

Add comment on using older Pyodide alpha version
  .github/workflows/test.yml
Due: none

Bump to `"cp313*"` for compatibility
  .github/workflows/test.yml
Due: none

Drop identifier for Pyodide 0.28.0a3
  cibuildwheel/resources/build-platforms.toml
Due: none

Add back Pyodide 0.28.0a3 identifier
  cibuildwheel/resources/build-platforms.toml
Due: none

Add helpful comment about pyodide-prerelease option
  cibuildwheel/selector.py
Due: none

Fix test and add a comment about it
  cibuildwheel/selector.py
  unit_test/build_selector_test.py
Due: none

Keep one Pyodide version per Python version
  cibuildwheel/resources/build-platforms.toml
Due: none

Fix docs for `pyodide-prerelease`; Python ➡️ Pyodide
  docs/platforms.md
Due: disallow-caps

Add `clean_cache` to command-line arguments
  cibuildwheel/options.py
Due: none

Add `--clean-cache` to parser
  cibuildwheel/__main__.py
Due: none

Add logic
  cibuildwheel/__main__.py
Due: none

Add test to clean cache when it exists
  unit_test/main_tests/main_options_test.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
