Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

tests: rework skips to show uv vs. build
  test/conftest.py
  test/test_android.py
Due: none

docs: touch up description for build-frontend
  docs/options.md
Due: disallow-caps, cog

tests: make skips aware of markers
  test/conftest.py
Due: none

Update cibuildwheel/platforms/android.py
  cibuildwheel/platforms/android.py
Due: none

fix: use uv in test environment too
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

fix: python-platfrom on uv is different
  cibuildwheel/platforms/android.py
Due: none

Revert "tests: rework skips to show uv vs. build (again)"
  cibuildwheel/platforms/android.py
  test/conftest.py
Due: none

feat: support uv with Android
  cibuildwheel/platforms/android.py
  test/test_android.py
Due: none

Deal with `sysconfig.get_config_var("exec_prefix")` changing in Python 3.14, and add cross venv tests
  cibuildwheel/resources/_cross_venv.py
  test/_cross_venv_test_android.py
  test/test_android.py
Due: none

Allow test commands starting with `python3`
  cibuildwheel/platforms/android.py
  docs/options.md
  test/test_android.py
Due: disallow-caps, cog

Fix formatting of footnote in README.md
  README.md
Due: disallow-caps, cog

test-command cleanups
  cibuildwheel/platforms/android.py
Due: none

Allow installation of extras in GitHub action
  action.yml
  docs/ci-services.md
  docs/options.md
Due: disallow-caps, cog

Add test-execution-args option.
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
Due: none

Add usage of test-execution-args.
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
Due: none

Add CI configuration to use test-execution-args.
  .github/workflows/test.yml
Due: none

Document the test-execution-args setting.
  README.md
  docs/options.md
  docs/platforms.md
Due: disallow-caps, cog

Simplify code using or syntax instead of inline if.
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
Due: none

Clarified some Android-specific terminology, and added details about the default args to the test runner.
  cibuildwheel/platforms/android.py
  docs/platforms.md
Due: disallow-caps

chrome: remove version pin for mkdocs-macro-plugin
  pyproject.toml
Due: none

chrome: remove dependency workaround for mkdocs-macro-plugin (#2639)
  pyproject.toml
Due: none

Update Android test-command handling (#2590)
  README.md
  cibuildwheel/platforms/android.py
  cibuildwheel/resources/_cross_venv.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  test/_cross_venv_test_android.py
  test/test_android.py
Due: disallow-caps, cog

chore: fix warning on pylint 4 (#2624)
  cibuildwheel/projectfiles.py
Due: none

reduce duplicated work in tests
  test/test_custom_repair_wheel.py
Due: none

Allow installation of extras in GitHub action (#2630)
  action.yml
  docs/ci-services.md
  docs/options.md
Due: disallow-caps, cog

Switch to a dict-based test-execution configuration
  .github/workflows/test.yml
  README.md
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/defaults.toml
  docs/options.md
  docs/platforms.md
Due: disallow-caps, cog

Add tests for test-execution parsing.
  bin/generate_schema.py
  cibuildwheel/options.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/options_test.py
Due: none

Add all the files before pushing...
  unit_test/options_test.py
Due: none

Add note about default Android version for testbed.
  docs/platforms.md
Due: disallow-caps

tests: rework skips to show uv vs. build (again)
  cibuildwheel/platforms/android.py
  test/conftest.py
Due: none

fix: python-platfrom on uv
  cibuildwheel/platforms/android.py
Due: none

Improve description of test-execution setting.
  docs/options.md
Due: disallow-caps, cog

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
