Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

.pre-commit-config.yaml:

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: (cibuildwheel/resources/pinned_docker_images.cfg)|(.svg$)
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: fa93bc3224c614a0e9786d3e2d3d48edcca246eb  # frozen: v0.15.1
  hooks:
  - id: ruff-check
    args: ["--fix", "--show-fixes"]
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
  hooks:
  - id: mypy
    name: mypy 3.11 on cibuildwheel/
    args: ["--python-version=3.11"]
    exclude: ^cibuildwheel/resources/_cross_venv.py$  # Requires Python 3.13 or later
    additional_dependencies: &mypy-dependencies
      - bracex
      - build
      - dependency-groups>=1.2
      - humanize
      - nox>=2025.2.9
      - orjson
      - packaging
      - pyelftools
      - pygithub
      - pytest
      - rich
      - tomli_w
      - types-certifi
      - types-click
      - types-jinja2
      - types-pyyaml
      - types-requests
      - types-setuptools
      - uv
      - validate-pyproject
  - id: mypy
    name: mypy 3.14
    args: ["--python-version=3.14"]
    additional_dependencies: *mypy-dependencies

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
  hooks:
  - id: shellcheck

- repo: local
  hooks:
  - id: disallow-caps
    name: Disallow improper capitalization
    language: pygrep
    entry: PyBind|Numpy|Cmake|Github|PyTest
    types: [markdown]
    exclude: ^docs/working-examples\.md$  # Autogenerated
  - id: cog
    name: Cog the README
    language: python
    pass_filenames: false
    entry: cog -c -P -r -I ./bin README.md
    files: '^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$'
    additional_dependencies: [cogapp>=3.5]

- repo: https://github.com/codespell-project/codespell
  rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
  hooks:
  - id: codespell
    args: ["-w"]
    exclude: ^docs/working-examples\.md$  # Autogenerated


- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: f761d025eb06bcd6a45bf152ba3593c9b8ad9a9b  # frozen: 0.36.2
  hooks:
    - id: check-dependabot
    - id: check-github-actions
    - id: check-github-workflows
    - id: check-gitlab-ci
    # Disabled due to schema issue for now:
    # - id: check-readthedocs
    - id: check-travis
    - id: check-jsonschema
      name: Check projects
      args: [--schemafile, docs/data/projects.schema.json]
      files: '^docs/data/projects.yml$'
    - id: check-metaschema
      files: '^docs/data/projects.schema.json$'

Give up trying to make noxfile happy
  noxfile.py
Due: none

Bring things back to `bin/_cooldown.py`
  .pre-commit-config.yaml
  bin/_cooldown.py
  bin/update_nodejs.py
  bin/update_python_build_standalone.py
  bin/update_pythons.py
  bin/update_virtualenv.py
  pyproject.toml
Due: none

Update comment
  noxfile.py
Due: none

Drop cooldown for everything minus Dependabot to 2 days
  bin/_cooldown.py
  noxfile.py
Due: none

Add "Last updated: May 2026" to Pyodide document
  docs/_internal/pyodide-maintenance.md
Due: disallow-caps

Add a Pyodide EOL filter
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/selector.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/options_test.py
Due: none

Fix typo
  docs/_internal/pyodide-maintenance.md
Due: disallow-caps

Update maintenance docs about EoL Pyodide
  docs/_internal/pyodide-maintenance.md
Due: disallow-caps

Add Pyodide 312 constraints back
  cibuildwheel/resources/constraints-pyodide312.txt
Due: none

Update Pyodide 313 and 314 constraints
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
Due: none

Support new graalpy asset names that include Python version
  bin/update_pythons.py
Due: none

`uv`'s `--exclude-newer` supports friendly times
  noxfile.py
Due: none

Update docs/options.md
  docs/options.md
Due: disallow-caps, cog

Remove "experimental" note about Pyodide
  README.md
Due: disallow-caps, cog

Remove another experimental Pyodide sentence
  docs/platforms.md
Due: disallow-caps

Add docs about the `pyodide-eol` enable option
  docs/options.md
  docs/platforms.md
Due: disallow-caps, cog

Drop `test_delvewheel_default_on_windows`
  test/test_windows.py
Due: none

Partially revert "Update constraints"
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python38.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Add a test case when repair command is `""`
  unit_test/main_tests/main_options_test.py
Due: none

Add FAQ section on caching cibuildwheel's downloaded tools
  docs/faq.md
Due: disallow-caps

feat: drop python3.13t (#2684)
  README.md
  bin/generate_schema.py
  cibuildwheel/__main__.py
  cibuildwheel/options.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/resources/free-threaded-enable-313.xml
  cibuildwheel/selector.py
  cibuildwheel/util/resources.py
  docs/contributing.md
  docs/options.md
  test/test_0_basic.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

feat: pyemscripten platform tag (PEP 783), 314.0a1, `pyodide-eol` flag, and maintenance updates (#2812)
  .github/workflows/test.yml
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/selector.py
  docs/_internal/pyodide-maintenance.md
  docs/contributing.md
  docs/options.md
  docs/platforms.md
  test/test_abi_variants.py
  test/test_custom_repair_wheel.py
  test/test_dependency_versions.py
  test/test_macos_archs.py
  test/test_pyodide.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/main_tests/main_platform_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

feat: config settings placeholders (#2827)
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  docs/options.md
  unit_test/options_test.py
Due: disallow-caps, cog

break: drop Python 3.8
  README.md
  cibuildwheel/__main__.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python38.txt
  docs/configuration.md
  docs/contributing.md
  docs/faq.md
  docs/options.md
  docs/platforms.md
  examples/circleci-minimal.yml
  noxfile.py
  test/conftest.py
  test/test_abi_variants.py
  test/test_container_images.py
  test/test_dependency_versions.py
  test/test_macos_archs.py
  test/test_testing.py
  test/utils.py
  unit_test/conftest.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

break: drop Python 3.8 (#2686)
  README.md
  cibuildwheel/__main__.py
  cibuildwheel/frontend.py
  cibuildwheel/platforms/android.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python38.txt
  docs/configuration.md
  docs/contributing.md
  docs/faq.md
  docs/options.md
  docs/platforms.md
  examples/circleci-minimal.yml
  noxfile.py
  test/conftest.py
  test/test_abi_variants.py
  test/test_container_images.py
  test/test_dependency_versions.py
  test/test_macos_archs.py
  test/test_testing.py
  test/utils.py
  unit_test/conftest.py
  unit_test/linux_build_steps_test.py
  unit_test/main_tests/main_options_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: disallow-caps, cog

feat: add CPython 3.15 beta 1
  README.md
  cibuildwheel/platforms/macos.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/free-threaded-enable-315.xml
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/util/resources.py
  docs/options.md
  noxfile.py
  test/utils.py
Due: disallow-caps, cog

feat: add CPython 3.15 beta 1 (#2833)
  README.md
  cibuildwheel/platforms/macos.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/free-threaded-enable-315.xml
  cibuildwheel/resources/pinned_docker_images.cfg
  cibuildwheel/util/resources.py
  docs/options.md
  noxfile.py
  test/utils.py
Due: disallow-caps, cog

Update constraints
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

fix: revert pip upgrade on graalpy for now
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
Due: none

fix: older pip for graalpy on Windows
  cibuildwheel/platforms/macos.py
  cibuildwheel/platforms/windows.py
  cibuildwheel/venv.py
Due: none

Use `--no-strip-markers` with `uv pip compile`
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.in
  cibuildwheel/resources/constraints.txt
  noxfile.py
Due: none

Add back test that checks delvewheel run/disable
  test/test_windows.py
Due: none

Add a C project with a missing DLL
  pyproject.toml
  test/test_projects/setuptools.py
Due: none

Add tests for `missing_dll_project`
  test/test_projects/__init__.py
  test/test_windows.py
Due: none

Partially undo virtualenv/python-discovery update
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Fix test
  test/test_windows.py
Due: none

Discard changes to cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide312.txt
Due: none

Discard changes to cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/resources/constraints-pyodide314.txt
Due: none

Fix bad merge of constraints
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-python311.txt
Due: none

Discard changes to cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide313.txt
Due: none
