Repository pypa/cibuildwheel: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, cog

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: PyBind|Numpy|Cmake|Github|PyTest

cog:
  name: Cog the README
  language: python
  pass_filenames: false
  entry: cog -c -P -r -I ./bin README.md
  additional_dependencies:
  - cogapp>=3.5

test: carry default OCI runtime into podman vfs test config
  unit_test/oci_container_test.py
Due: none

chore: faster mypy
  pyproject.toml
Due: none

fix: annotate vfs config dict so mypy passes on Linux
  unit_test/oci_container_test.py
Due: none

chore: minor cleanup of variable name
  cibuildwheel/platforms/ios.py
Due: none

test: cover container shell exiting during call
  unit_test/oci_container_test.py
Due: none

chore: faster and stricter mypy (#2968)
  bin/generate_schema.py
  bin/update_pythons.py
  cibuildwheel/oci_container.py
  cibuildwheel/platforms/ios.py
  cibuildwheel/platforms/pyodide.py
  cibuildwheel/projectfiles.py
  docs/main.py
  pyproject.toml
  unit_test/oci_container_test.py
Due: none

Apply suggestion from @henryiii
  .github/workflows/release.yml
Due: none

test: use concise NuGet args name
  unit_test/get_platform_test.py
Due: none

fix: respect configured NuGet package sources
  cibuildwheel/platforms/windows.py
  unit_test/get_platform_test.py
Due: none

feat: add support for container_engine=none
  .github/workflows/test.yml
  bin/generate_schema.py
  bin/run_tests.py
  cibuildwheel/oci_container.py
  cibuildwheel/options.py
  cibuildwheel/platforms/linux.py
  cibuildwheel/resources/cibuildwheel.schema.json
  cibuildwheel/typing.py
  cibuildwheel/util/file.py
  test/conftest.py
  test/test_before_all.py
  test/test_before_build.py
  test/test_container_engine.py
  test/test_container_images.py
  test/test_from_sdist.py
  test/test_linux_python.py
  test/test_manylinuxXXXX_only.py
  test/test_musllinux_X_Y_only.py
  test/utils.py
  unit_test/linux_build_steps_test.py
  unit_test/oci_container_test.py
  unit_test/option_prepare_test.py
  unit_test/options_test.py
Due: none

feat: add log fold mode override
  cibuildwheel/logger.py
  docs/options.md
  unit_test/wheel_print_test.py
Due: disallow-caps, cog

docs: refresh CircleCI and CPython platform links
  docs/ci-services.md
  docs/platforms.md
Due: disallow-caps

docs: remove outdated CircleCI macOS note
  docs/ci-services.md
Due: disallow-caps

Preserve backslashes in container-engine create_args
  cibuildwheel/util/helpers.py
  docs/options.md
  unit_test/oci_container_test.py
  unit_test/options_test.py
  unit_test/utils_test.py
Due: disallow-caps, cog

Stop running call() through cmd.exe on Windows
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/cmd.py
  unit_test/cmd_test.py
Due: none

Add GraalPy 3.13 (25.3)
  README.md
  bin/update_pythons.py
  cibuildwheel/resources/build-platforms.toml
  docs/options.md
  noxfile.py
  test/test_abi_variants.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

Workaround pypy call error on Windows
  cibuildwheel/util/cmd.py
Due: none

revert to `build==1.5.0` while waiting for `1.6.1`
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints.txt
Due: none

Flip the order of debugging options in docs
  docs/options.md
Due: disallow-caps, cog

Validate inherit option names
  cibuildwheel/options.py
  unit_test/options_reader_test.py
Due: none

Handle null list values during inheritance
  cibuildwheel/options.py
  unit_test/options_test.py
Due: none

Report unsupported option inheritance
  cibuildwheel/options.py
  unit_test/options_reader_test.py
Due: none

Add inheritance to the configuration schema
  bin/generate_schema.py
  cibuildwheel/resources/cibuildwheel.schema.json
  unit_test/validate_schema_test.py
Due: none

Validate overrides eagerly
  cibuildwheel/options.py
  unit_test/options_reader_test.py
Due: none

Harden inherit rule parsing
  cibuildwheel/options.py
  unit_test/options_reader_test.py
Due: none

Fallback to system Python when setup-python is unavailable
  action.yml
  docs/ci-services.md
Due: disallow-caps

feat(action): add python-path input and skip setup-python on unsupported archs
  .github/workflows/test.yml
  action.yml
  docs/ci-services.md
Due: disallow-caps

Refer to --archs by its real name in help, error and docs
  cibuildwheel/__main__.py
  docs/options.md
Due: disallow-caps, cog

Update test expectations to not expect macosx x86_64 on graalpy
  test/utils.py
Due: none

[pre-commit.ci] pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

chore: bump Pyodide target versions and update constraints (#2996)
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/constraints-pyodide312.txt
  cibuildwheel/resources/constraints-pyodide313.txt
  cibuildwheel/resources/constraints-pyodide314.txt
  cibuildwheel/resources/constraints-pyodide315.txt
  cibuildwheel/resources/constraints-python310.txt
  cibuildwheel/resources/constraints-python311.txt
  cibuildwheel/resources/constraints-python312.txt
  cibuildwheel/resources/constraints-python313.txt
  cibuildwheel/resources/constraints-python314.txt
  cibuildwheel/resources/constraints-python315.txt
  cibuildwheel/resources/constraints-python39.txt
  cibuildwheel/resources/constraints.txt
Due: none

Apply suggestion from @joerick
  action.yml
Due: none

fix: make update_pythons.py survive GitHub API rate limits (#2997)
  .github/workflows/update-dependencies.yml
  bin/update_pythons.py
  cibuildwheel/extra.py
  unit_test/extra_test.py
Due: none

feat: add PyPy 3.12 & update PyPy 3.11 to 8.0.0
  README.md
  cibuildwheel/platforms/macos.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_abi_variants.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

fix: pass --namespace-pkg to delvewheel for PEP 420 packages
  README.md
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/packaging.py
  docs/changelog.md
  docs/options.md
  unit_test/namespace_packages_test.py
Due: disallow-caps, cog

feat: add PyPy 3.12 & update PyPy 3.11 to 8.0.0 (#2998)
  README.md
  cibuildwheel/platforms/macos.py
  cibuildwheel/resources/build-platforms.toml
  cibuildwheel/resources/pinned_docker_images.cfg
  docs/options.md
  test/test_abi_variants.py
  test/test_manylinuxXXXX_only.py
  test/utils.py
  unit_test/build_selector_test.py
  unit_test/option_prepare_test.py
Due: disallow-caps, cog

Fallback to system Python when setup-python has no toolcache (#2990)
  .github/workflows/test.yml
  action.yml
  docs/ci-services.md
Due: disallow-caps

feat: add log fold mode override (#2972)
  README.md
  cibuildwheel/logger.py
  docs/options.md
  unit_test/wheel_print_test.py
Due: disallow-caps, cog

fix: don't run call() through cmd.exe on Windows (#2978)
  cibuildwheel/platforms/windows.py
  cibuildwheel/util/cmd.py
  unit_test/cmd_test.py
Due: none

Path conditions:
  disallow-caps: any of: \.(md|markdown|mdown)$, but not: ^docs/working-examples\.md$
  cog: any of: ^(README\.md|docs/changelog\.md|docs/options\.md|bin/readme.*)$
